@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600";

body {
	padding-top: 40px;

	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-size: 16px;
}

.footer-content {
	margin-top: 20px;
}

.reorder {
	height: 16px;
	width: 16px;
	background: transparent url(images/reorder-16x16.png) no-repeat center center;
}

.btn-noclick:hover {
	cursor: default;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.btn:focus,
a:focus {
	outline: 0;
}

legend {
	margin-bottom: 0;
}

label.control-label {
	font-weight: bold;
}

.alert-block {
	padding-right: 14px;
}

.font-small {
	font-size: 11px;
}

footer {
	margin: 15px 0;
	padding: 15px 0;

	color: #999;
	font-size: 13px;
	border-top: 1px solid #eee;
}
footer a {
	color: #777;
	text-decoration: underline;
}
footer a:hover {
	color: #555;
}

.system-warning {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

label.control-label {
	font-weight: 600;
}

h1 {
	font-weight: 300;
}

.control-group {
	margin-bottom: 15px;
}