@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600";

body {
	padding-top: 40px;
	line-height: 1.75;

	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-size: 16px;
}

.footer-content {
	margin-top: 20px;
}

.reorder {
	height: 16px;
	width: 16px;
	background: transparent url(images/reorder-16x16.png) no-repeat center center;
}

.btn-noclick:hover {
	cursor: default;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.btn:focus,
a:focus {
	outline: 0;
}

.text-small {
	font-size: 13px;
}

strong {
	font-weight: 600;
}

footer {
	margin: 15px 0;
	padding: 15px 0;

	color: #999;
	font-size: 13px;
	border-top: 1px solid #eee;
}
footer a {
	color: #777;
	text-decoration: underline;
}
footer a:hover {
	color: #555;
}

.system-warning {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

label.control-label {
	font-weight: 600;
}
label.radio,
label.checkbox {
	font-weight: 400;
}

h1 {
	font-weight: 300;
}

.control-group {
	margin-bottom: 15px;
}

.help-block {
	font-size: 13px;
}

/* This will need to be styled a little bit better moving forward */
.has-error .help-block {
	color: #c00;
}

.btn-group,
.btn-toolbar {
	margin: 15px 0;
}

.modal-body .btn,
.modal-body .btn-group,
.modal-body .btn-toolbar {
	margin-top: 15px;
}

.well {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

.accordion-heading {
    font-weight: 600;
}

.tab-pane {
	margin: 15px 0;
}

.alt-col-1 {
	width: 8.333333333333332%;
}
.alt-col-2 {
	width: 16.666666666666664%;
}
.alt-col-3 {
	width: 25%;
}
.alt-col-4 {
	width: 33.33333333333333%;
}
.alt-col-5 {
	width: 41.66666666666667%;
}
.alt-col-6 {
	width: 50%;
}
.alt-col-7 {
	width: 58.333333333333336%;
}
.alt-col-8 {
	width: 66.66666666666666%;
}
.alt-col-9 {
	width: 75%;
}
.alt-col-10 {
	width: 83.33333333333334%;
}
.alt-col-11 {
	width: 91.66666666666666%;
}
.alt-col-12 {
	width: 100%;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}