@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
body {
  padding-top: 40px;
  line-height: 1.75;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
}
.footer-content {
  margin-top: 20px;
}
.btn-noclick:hover {
  cursor: default;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.btn:focus,
a:focus {
  outline: 0;
}
.text-small {
  font-size: 13px;
}
strong {
  font-weight: 600;
}
footer {
  margin: 15px 0;
  padding: 15px 0;
  color: #999;
  font-size: 13px;
  border-top: 1px solid #eee;
}
footer a {
  color: #777;
  text-decoration: underline;
}
footer a:hover {
  color: #555;
}
label.control-label {
  font-weight: 600;
}
label.radio,
label.checkbox {
  font-weight: 400;
}
h1 {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
}
.control-group {
  margin-bottom: 15px;
}
.help-block {
  font-size: 13px;
}
/* This will need to be styled a little bit better moving forward */
.has-error .help-block {
  color: #c00;
}
.btn-group,
.btn-toolbar {
  margin: 15px 0;
}
.thumbnail {
  margin-bottom: 15px;
}
/* This will probably need to be tweaked as we use it more */
.thumbnail .btn-group,
.thumbnail .btn-toolbar {
  margin: 2px 0 0 0;
}
.modal-body .btn,
.modal-body .btn-group,
.modal-body .btn-toolbar {
  margin-top: 15px;
}
.well {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}
.accordion-heading {
  font-weight: 600;
}
.tab-pane {
  margin: 15px 0;
}
.col-alt-1 {
  width: 8.333333333333332%;
}
.col-alt-2 {
  width: 16.666666666666664%;
}
.col-alt-3 {
  width: 25%;
}
.col-alt-4 {
  width: 33.33333333333333%;
}
.col-alt-5 {
  width: 41.66666666666667%;
}
.col-alt-6 {
  width: 50%;
}
.col-alt-7 {
  width: 58.333333333333336%;
}
.col-alt-8 {
  width: 66.66666666666666%;
}
.col-alt-9 {
  width: 75%;
}
.col-alt-10 {
  width: 83.33333333333334%;
}
.col-alt-11 {
  width: 91.66666666666666%;
}
.col-alt-12 {
  width: 100%;
}
