@import "../../../../../nova/views/design/less/colors.less";
@import "../mixins.less";
@import "../variables.less";

.navbar-default {
	background-color: @color-purple-700;

	.navbar-brand {
		color: @color-white;
	}

	.navbar-nav {
		>li {
			>a {
				color: @color-purple-400;

				&:hover {
					color: @color-purple-200;
				}
			}
		}
	}
}

header {
	background-color: @color-purple-500;
}

.page-header {
	h1 {
		color: @color-purple-500;
	}
}