.avatar {
    @apply relative inline-flex h-12 w-12 text-base font-semibold leading-none;

    &.avatar-xl {
        @apply h-20 w-20 text-xl;
    }
    &.avatar-lg {
        @apply h-16 w-16 text-lg;
    }
    &.avatar-sm {
        @apply h-10 w-10 text-sm;
    }
    &.avatar-xs {
        @apply h-7 w-7 text-xs;
    }

    .avatar-image {
        @apply h-full w-full object-cover rounded-full;

        box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1);
    }

    .avatar-title {
        @apply flex items-center justify-center cursor-default h-full w-full rounded-full bg-primary-500 text-white uppercase tracking-wide;

        &.avatar-title-soft {
            @apply bg-gray-300 text-gray-600;
        }
    }

    .avatar-link {
        @apply cursor-pointer;
    }
}

.avatar-group {
    @apply inline-flex;

    .avatar:not(:last-child) {
        mask-image: url(../images/masks/avatar-group.svg);
        mask-size: 100% 100%;
    }

    .avatar-xl + .avatar-xl {
        @apply -ml-5;
    }
    .avatar-lg + .avatar-lg {
        @apply -ml-4;
    }
    .avatar + .avatar {
        @apply -ml-3;
    }
    .avatar-sm + .avatar-sm {
        @apply -ml-2;
    }
    .avatar-xs + .avatar-xs {
        @apply -ml-1;
    }
}