.button {
    @apply inline-flex items-center px-4 py-2 border border-gray-200 text-sm uppercase tracking-wide leading-5 font-semibold rounded-md text-gray-500 bg-white transition ease-in-out duration-150;

    &:hover {
        @apply text-gray-600 bg-gray-100;
    }

    &:active {
        @apply text-gray-700 bg-gray-100;
    }

    &:focus {
        @apply outline-none;
    }

    > svg.icon {
        @apply mr-2 h-5 w-5;
    }

    &.button-soft {
        @apply text-gray-600 bg-gray-100 border-transparent;

        &:hover {
            @apply text-gray-700 bg-gray-200 border-transparent;
        }

        &:active {
            @apply text-gray-800 bg-gray-200 border-transparent;
        }
    }

    &.button-primary {
        @apply text-white bg-primary-500 border-transparent;

        &:hover,
        &:active {
            @apply text-white bg-primary-400 border-transparent;
        }
    }

    &.button-primary-soft {
        @apply text-primary-700 bg-primary-100 border-transparent;

        &:hover,
        &:active {
            @apply text-primary-700 bg-primary-50 border-transparent;
        }
    }

    &.button-warning-soft {
        @apply text-warning-600 bg-warning-100 border-transparent;

        &:hover,
        &:active {
            @apply text-warning-700 bg-warning-200 border-transparent;
        }
    }

    &.button-danger {
        @apply text-white bg-danger-500 border-transparent;

        &:hover,
        &:active {
            @apply text-white bg-danger-400 border-transparent;
        }
    }

    &.button-danger-soft {
        @apply text-danger-600 bg-danger-100 border-transparent;

        &:hover,
        &:active {
            @apply text-danger-700 bg-danger-200 border-transparent;
        }
    }

    &.button-sm {
        @apply px-3 py-2 leading-4;

        > svg.icon {
            @apply mr-2 h-4 w-4;
        }
    }

    &.button-lg {
        @apply leading-6 text-base;

        > svg.icon {
            @apply mr-3 h-6 w-6;
        }
    }
}