.dropdown {
    @apply relative inline-block text-left;
}

.dropdown-menu-container {
    @apply absolute mt-2 w-56 rounded-md shadow-lg;
}

.dropdown-menu {
    @apply rounded-md bg-white shadow-xs py-1;
}

.dropdown-icon {
    @apply mr-3 h-5 w-5 text-gray-400;
}

.dropdown-text {
    @apply block px-4 py-3 text-sm leading-5;
}

.dropdown-link {
    @apply flex items-center w-full px-4 py-2 text-sm font-medium leading-5 text-gray-600 transition ease-in-out duration-150;

    &:hover {
        @apply bg-gray-100 text-gray-800;

        .dropdown-icon {
            @apply text-gray-500;
        }
    }

    &:focus {
        @apply outline-none bg-gray-100 text-gray-900;
    }
}

.dropdown-divider {
    @apply border-t border-gray-100 my-1;
}