.field-wrapper-outer {
    + .field-wrapper-outer {
        @apply mt-8;
    }
}

.field-wrapper-inner {
    @apply block w-full relative px-3 py-2 rounded transition-colors duration-200 border-2 bg-gray-100;

    &:focus-within {
        @apply border-primary-500 bg-white;
    }

    &.static {
        @apply p-0 bg-transparent border-none;
    }
}

.field-group {
    @apply flex items-center relative w-full bg-transparent;

    > .field {
        @apply flex-auto appearance-none bg-transparent text-gray-700;

        &:focus {
            @apply outline-none;
        }
    }

    > .field-addon {
        @apply flex-shrink text-gray-500;
    }

    > a.field-addon,
    > button.field-addon,
    > .field-addon a,
    > .field-addon button {
        @apply pointer-events-auto text-gray-500;

        &:hover {
            @apply text-gray-600;
        }
    }

    .field + .field-addon,
    .field-addon + .field {
        @apply ml-3;
    }
}

.field-label {
    @apply flex items-center justify-between mb-1 text-sm text-gray-600 font-medium;
}

.field-help,
.field-error {
    @apply block w-full relative mt-1 ml-2px text-sm text-gray-600;
}

.form-section {
    @apply flex flex-col;

    > .form-section-column-content {
        @apply mb-8 w-full;

        > .form-section-header {
            @apply font-semibold text-xl mb-2 text-gray-700 tracking-tight;
        }

        > .form-section-message {
            @apply text-gray-600;
        }
    }

    > .form-section-column-form {
        @apply flex-1;
    }
}

.form-section-divider {
    @apply block w-full h-px bg-gray-200 my-10;
}

@screen lg {
    .form-section {
        @apply flex-row;

        > .form-section-column-content {
            @apply w-96 mr-16 mb-0;
        }
    }
}

.form-controls {
    @apply flex flex-col mt-10;
}

@screen lg {
    .form-controls {
        @apply flex-row-reverse items-center;

        button + button,
        button + a,
        a + button,
        a + a {
            @apply mr-6;
        }
    }
}

.field-wrapper-inner.has-error {
    @apply border-danger-500;

    .field-label {
        @apply text-danger-500;
    }
}

.field-error {
    @apply text-danger-500;
}

.form-checkbox {
    @apply inline-block border rounded flex-shrink-0 select-none align-middle appearance-none outline-none;

    background-origin: border-box;
    height: 1em;
    width: 1em;

    &:checked {
        @apply border-transparent bg-no-repeat bg-center ;

        background-color: currentColor;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
        background-size: 100% 100%;
    }
}