.field-wrapper {
    @apply block w-full relative;

    + .field-wrapper {
        @apply mt-8;
    }
}

.field-group {
    @apply flex items-center relative w-full px-3 py-2 rounded transition-color transition-medium border-2 bg-transparent;

    > .field {
        @apply flex-auto appearance-none bg-transparent text-gray-700;

        &:focus {
            @apply outline-none;
        }
    }

    > .field-addon {
        @apply flex-shrink text-gray-500;
    }

    > a.field-addon,
    > button.field-addon,
    > .field-addon a,
    > .field-addon button {
        @apply pointer-events-auto text-gray-500;

        &:hover {
            @apply text-gray-600;
        }
    }

    .field + .field-addon,
    .field-addon + .field {
        @apply ml-3;
    }

    &:focus-within {
        @apply border-primary-500 bg-gray-100;
    }
}

.field-label {
    @apply flex items-center justify-between mb-1 text-sm text-gray-700 font-semibold;
}

.field-help,
.field-error {
    @apply block w-full relative mt-1 ml-2px text-sm text-gray-600;
}

.form-section {
    @apply flex flex-col mb-12;

    > .form-section-column-content {
        @apply mb-8 w-full;

        > .form-section-header {
            @apply font-semibold text-xl mb-2 text-gray-700 tracking-tight;
        }

        > .form-section-message {
            @apply text-gray-600;
        }
    }

    > .form-section-column-form {
        @apply flex-1;
    }
}

@screen lg {
    .form-section {
        @apply flex-row;

        > .form-section-column-content {
            @apply w-96 mr-16 mb-0;
        }
    }
}

.form-controls {
    @apply flex flex-col;
}

@screen lg {
    .form-controls {
        @apply flex-row-reverse items-center;

        button + button,
        button + a,
        a + button,
        a + a {
            @apply mr-6;
        }
    }
}

.field-wrapper.has-error {
    .field-label {
        @apply text-danger-500;
    }

    .field-group {
        @apply border-danger-500;
    }
}

.field-error {
    @apply text-danger-500;
}