.field-wrapper {
    + .field-wrapper {
        @apply mt-8;
    }
}

.field-group {
    @apply flex items-center relative w-full bg-transparent py-2 px-3 rounded-md border border-gray-200 bg-gray-50 shadow-sm transition ease-in-out duration-200;

    &:focus-within {
        @apply border-primary-300 bg-white shadow-outline-primary;
    }

    &.static {
        @apply p-0 bg-transparent border-none;
    }

    .field {
        @apply flex-auto appearance-none bg-transparent text-gray-700;

        &:focus {
            @apply outline-none;
        }
    }

    .field-addon {
        @apply flex items-center flex-shrink-0 text-gray-500 text-sm;
    }

    a.field-addon,
    button.field-addon,
    .field-addon a,
    .field-addon button {
        @apply pointer-events-auto text-gray-500;

        &:hover {
            @apply text-gray-600;
        }

        &:focus {
            @apply outline-none;
        }
    }

    .field + .field-addon,
    .field-addon + .field {
        @apply ml-2;
    }
}

.field-label {
    @apply block mb-1 text-sm text-gray-700 font-medium;
}

.field-help,
.field-error {
    @apply block w-full relative mt-2 ml-2px text-sm text-gray-500;
}

.form-section {
    @apply flex flex-col px-4 pt-4;

    > .form-section-header {
        @apply mb-8 w-full;

        > .form-section-header-title {
            @apply mb-2 font-semibold text-xl text-gray-700 tracking-tight;
        }

        > .form-section-header-message {
            @apply text-gray-600;
        }
    }

    > .form-section-content {
        @apply flex-1;
    }

    + .form-section {
        @apply pt-10 mt-10 border-t border-gray-100;
    }
}

@screen md {
    .form-section {
        @apply flex-row px-6 pt-6;

        > .form-section-header {
            @apply w-96 mr-16 mb-0;
        }
    }
}

.form-footer {
    @apply flex flex-col mt-10 px-4 py-4 border-t border-gray-100;
}

@screen md {
    .form-footer {
        @apply flex-row-reverse items-center px-6 py-6;

        button + button,
        button + a,
        a + button,
        a + a {
            @apply mr-6;
        }
    }
}

.field-wrapper.has-error {
    .field-label {
        @apply text-danger-600;
    }

    .field-group {
        @apply border-danger-300;

        &:focus-within {
            @apply border-danger-300 bg-white shadow-outline-danger;
        }
    }
}

.field-error {
    @apply flex items-center text-danger-600;

    > svg.icon {
        @apply mr-1 h-5 w-5 flex-shrink-0 text-danger-400;
    }
}

.form-checkbox {
    @apply inline-block border rounded flex-shrink-0 select-none align-middle appearance-none outline-none;

    background-origin: border-box;
    height: 1em;
    width: 1em;

    &:checked {
        @apply border-transparent bg-no-repeat bg-center;

        background-color: currentColor;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
        background-size: 100% 100%;
    }

    &::-ms-check {
        @apply border text-transparent;

        background: inherit;
        border-color: inherit;
        border-radius: inherit;
    }

    &:focus {
        @apply outline-none;

        border-color: currentColor;
    }
}

.form-radio {
    @apply inline-block border rounded-full flex-shrink-0 select-none align-middle appearance-none outline-none bg-white;

    background-origin: border-box;
    height: 1em;
    width: 1em;

    &:checked {
        @apply border-transparent bg-no-repeat bg-center;

        background-color: currentColor;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
        background-size: 100% 100%;
    }

    &::-ms-check {
        @apply border text-transparent;

        background: inherit;
        border-color: inherit;
        border-radius: inherit;
    }

    &:focus {
        @apply outline-none;

        border-color: currentColor;
    }
}