.modal {
    @apply max-w-lg w-full bg-white rounded shadow-2xl overflow-hidden;
}

.modal-title {
    @apply px-6 py-4 font-semibold text-lg;
}

.modal-body {
    @apply px-6 text-gray-700;
}

.modal-footer {
    @apply mt-4 px-6 py-4 bg-gray-100;
}