.panel-header {
    @apply flex items-center justify-between;
}

.panel-footer {
    @apply flex items-center justify-between bg-gray-100 text-gray-600 text-sm rounded-b;
}

.panel {
    @apply bg-white rounded p-8 shadow-md;

    &.no-padding {
        @apply p-0;

        .panel-header,
        .panel-footer {
            @apply py-4 px-8;
        }
    }

    + .panel {
        @apply mt-8;
    }
}