.switch-container {
    @apply flex items-center;
}

.switch-label {
    @apply ml-3 font-semibold text-gray-700;
}

/* .switch {
    @apply inline-block relative flex-shrink-0 rounded-full cursor-pointer h-6 w-11;

    &.is-small {
        @apply h-5 w-9;
    }

    &:focus {
        @apply outline-none;
    }
}

.switch:before {
    @apply inline-block h-full w-full rounded-full bg-transparent border border-gray-400;

    content: "";
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.switch[aria-checked="true"]:before {
    @apply bg-primary-500 border-transparent;
}

.switch-success[aria-checked="true"]:before {
    @apply bg-success-500;
}

.switch:after {
    @apply absolute inset-x-0 mt-1 rounded-full h-4 w-4 bg-gray-300;

    content: "";
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: translateX(0.25rem);
    transform: translateX(0.25rem);
}

.switch.is-small:after {
    height: 0.875rem;
    margin-top: 0.2rem;
    width: 0.875rem;
}

.switch[aria-checked="true"]:after {
    @apply bg-white;

    -webkit-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

.switch.is-small[aria-checked="true"]:after {
    -webkit-transform: translateX(1.125rem);
    transform: translateX(1.125rem);
} */

.switch {
    @apply relative inline-block w-11;

    height: 1.625rem;
}
.switch input {
    @apply opacity-0 w-0 h-0;
}
.slider {
    @apply cursor-pointer top-0 bottom-0 left-0 right-0 bg-gray-400;
}
.slider,
.slider:before {
    @apply absolute transition-medium;
}
.slider:before {
    @apply bg-white;

    content:"";
    height:18px;
    width:18px;
    left:4px;
    bottom:4px;
}
input:checked + .slider {
    @apply .bg-primary-500;
}
input:focus + .slider {
    box-shadow:0 0 1px config("colors.primary-500")
}
input:checked + .slider:before {
    transform:translateX(18px)
}
.slider.round {
    @apply rounded-full;
    border-radius:34px
}
.slider.round:before {
    @apply rounded-full;
}