@import "colors";

$font: "Roboto", helvetica, arial, sans-serif;
$font-heading: "Roboto Slab";
$font-os-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-size: 1.7rem;
$font-size-sm: 1.4rem;
$line-height: 1.75;

$spacing: 1.5rem;
$spacing-sm: .75rem;
$spacing-lg: 3rem;
$border-radius: .4rem;
$border-radius-lg: .8rem;
$border-radius-sm: .2rem;

$color-danger: #d9534f;
$color-success: #5cb85c;
$color-warning: #f0ad4e;
$color-info: #5bc0de;
$color-primary: darken(#428bca, 6.5%);
$color-body-text: #444;

$color-subtle: $color-grey-100;
$color-gray: $color-grey-500;
$color-gray-dark: $color-grey-700;
$color-gray-light: $color-grey-300;
$color-gray-medium: $color-grey-400;
