#panel {
	.modal-header {
		background: #fff;
		border-bottom: 0;
		margin-bottom: 0;
		padding: 0;
		height: 6rem;

		.btn-group {
			padding-top: 0.4rem;
			width: 100%;
		}

		h3 {
			margin: 0;
			line-height: 6rem;
		}
	}

	.modal-dialog {
		height: 100vh;
		min-height: 100vh;
	}

	.modal-content {
		background: #f5f8fa;
		border: none;
		overflow-y: scroll;
		height: 100vh;
		min-height: 100vh;
	}

	.modal-body {
		padding: 0;
		height: 100vh;
		min-height: 100vh;
	}

	.modal-footer {
		background: #fff;
		border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
		width: 35rem;
	}

	.notification:not(:first-child) {
		padding-top: 2.5rem;
	}

	.notification:not(:last-child) {
		margin-bottom: 2.3rem;
	}

	.notification {
		position: relative;
		padding: 2rem 1.5rem 0 1.5rem;
		border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
	}

	figure {
		position: absolute;
	}

	.notification-content {
		padding-left: 7rem;

		font-size: $font-size-sm;

		.meta {
			display: flex;
			align-content: flex-end;
			flex-direction: column;
		}

		.title {
			flex: 1;
			font-weight: bold;
			line-height: 1.2;
			margin: 0.2rem 0 0;
		}

		.date {
			color: #aaa;
		}

		.notification-body {
			margin-bottom: 1.5rem;
		}
	}

	.spark-profile-photo {
		height: 5.2rem;
		width: 5.2rem;
	}


	.fa-stack {
		/*color: @spark-border-color;*/
		font-size: 2.6rem;
	}

	h4 {
		margin-bottom: 1.5rem;
		margin-top: 0.3rem;
	}
}

.modal.docked .modal-dialog {
	position: fixed;
	top: 0;
	margin: 0;
	height: 100vh;
	width: 35rem;
}

.modal.docked.docked-left .modal-dialog {
	left: 0;
}
.modal.docked.docked-right .modal-dialog {
	right: 0;
}

.modal.docked .modal-content {
	border-radius: 0;
	height: 100vh;
}

.modal.docked .modal-footer {
	position: fixed;
	bottom: 0;
	right: 0;
}
