@import "base.variables", "mixins", "data-table", "panel";

/*html,
body,
.nova-container,
.nova-pusher,
.nova-content {
	height: 100%;
}*/

html {
	font-size: 62.5% !important;
}
body {
	padding: 2rem 0;
	line-height: $line-height;

	font-family: $font;
	font-size: $font-size;
	color: $color-body-text;
}

h1 {
	font-family: $font-heading;
	font-weight: 700;
	font-size: 3.4rem;
}

a {
	&.broken-link {
		font-style: italic;
		color: $color-danger;
	}
}

dl {
	dt {
		margin-top: $spacing;
	}

	dd {
		margin-left: $spacing;
	}
}

.btn-toolbar {
	margin: $spacing 0;
}

.btn {
	font-weight: 500;
	letter-spacing: 0.05rem;

	@include rounded($border-radius);

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: none !important;
		}
	}

	&.btn-link-icon {
		span {
			float: left;
			margin: 0.25rem 0 0 0;
		}
	}

	&.btn-link-default {
		background: transparent;
		border: none;
		color: $color-gray-dark;

		&:hover {
			text-decoration: underline;
		}

		&:active, &:focus {
			@include clear-box-shadow;
		}
	}

	&.btn-link-danger {
		background: transparent;
		border: none;
		color: $color-danger;

		&:hover {
			text-decoration: underline;
		}
	}

	&.btn-link-info {
		background: transparent;
		border: none;
		color: $color-info;

		&:hover {
			text-decoration: underline;
		}
	}

	&.btn-link-success {
		background: transparent;
		border: none;
		color: $color-success;

		&:hover {
			text-decoration: underline;
		}
	}

	&.btn-link-warning {
		background: transparent;
		border: none;
		color: $color-warning;

		&:hover {
			text-decoration: underline;
		}
	}
}

.label {
	font-weight: 400;
	letter-spacing: 0.05rem;

	&.label-primary {
		@include label-variant($color-primary);
	}
}

.panel {
	margin: $spacing 0;

	@include rounded($border-radius);

	.panel-heading {
		@include border-radius($border-radius - 1, $border-radius - 1, 0, 0);
	}

	.panel-footer {
		@include border-radius(0, 0, $border-radius - 1, $border-radius - 1);
	}
}

.input-lg {
	@include rounded($border-radius);
}

.checkbox, .checkbox-inline {
	label {
		font-weight: 400;
	}

	input[type=checkbox] {
		margin-top: 0.8rem;
	}
}

.radio, .radio-inline {
	label {
		font-weight: 400;
	}

	input[type=radio] {
		margin-top: 0.8rem;
	}
}

.help-block {
	font-size: $font-size-sm;

	strong {
		font-size: $font-size-sm;
	}
}

.has-error {
	.help-block,
	.control-label {
		a {
			text-decoration: underline;
		}
	}
}

.nav-tabs {
	margin-top: $spacing;
	margin-bottom: $spacing;

	>li {
		>a {
			@include border-radius($border-radius, $border-radius, 0, 0);
		}
	}
}

.tab-content {
	padding-left: $spacing-sm;
	padding-right: $spacing-sm;
}

.nav-pills {
	margin-top: $spacing;
	margin-bottom: $spacing;

	>li {
		>a {
			@include rounded($border-radius);
		}
	}

	&.nav-pills-sm {
		li {
			>a {
				padding: $spacing-sm $spacing;

				font-size: $font-size-sm;
			}
		}
	}
}

fieldset {
	margin-top: $spacing;
	margin-bottom: $spacing;
	
	legend {
		font-size: 2.4rem;
		font-weight: 500;
		color: $color-body-text;
	}

	.fieldset-content {
		padding: $spacing-sm;
	}
}

.text-sm {
	font-size: $font-size-sm;
}

/**
 * SweetAlert
 */
.sweet-alert {
	font-family: $font;

	@include rounded($border-radius);

	h2 {
		font-weight: 500;
	}

	.sa-icon {
		&.sa-error {
			border-color: $color-danger;

			.sa-line {
				background-color: $color-danger;
			}
		}

		&.sa-success {
			border-color: $color-success;

			.sa-line {
				background-color: $color-success;
			}
		}

		&.sa-warning {
			border-color: $color-warning;

			.sa-body {
				background-color: $color-warning;
			}

			.sa-dot {
				background-color: $color-warning;
			}
		}

		&.sa-info {
			border-color: $color-info;

			&::before {
				background-color: $color-info;
			}

			&::after {
				background-color: $color-info;
			}
		}
	}
}

/**
 * UIKit Updates
 */
.uk-nestable {
	.uk-nestable-item {
		.uk-nestable-panel {
			background-color: $color-subtle;
			border: .1rem solid $color-gray-light;

			@include rounded($border-radius);

			.uk-nestable-handle {
				padding: 0 0.4rem 0 0;

				color: $color-gray-medium;
				font-size: 1.8rem;
			}

			.uk-nested-item-controls {
				display: none;
				margin: 0.2rem 0 0 0;

				a {
					color: $color-gray;

					&:hover {
						text-decoration: none;
						color: $color-gray-dark;
					}

					&.danger:hover {
						color: $color-danger;
					}
				}
			}

			&:hover {
				.uk-nested-item-controls {
					display: block;
				}
			}
		}
	}
}

.sortable-handle {
	padding-right: 0.5rem;

	cursor: move;
	color: $color-gray;
}

[v-cloak] {
	display: none;
}

/*.nova-container {
	position: relative;
	overflow: hidden;
	padding: 2rem 0;

	border: 0.1rem solid red;
}

.nova-content {
	overflow-y: scroll;
}

.nova-content,
.nova-content-inner {
	position: relative;
}

.nova-container {
	position: relative;
	overflow: hidden;
}

.nova-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.nova-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.nova-panel-open .nova-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.nova-panel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #48a770;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.nova-panel::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.nova-panel-open .nova-panel::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}*/

.nova-panel {
	visibility: visible;
	/*transform: translate3d(100%, 0, 0);*/

	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	width: 30rem;
	height: 100%;
	transition: all 0.5s;

	box-shadow: -0.75rem 0 0.75rem rgba(0, 0, 0, 0.1);

	background: #fafafa;
	border-left: 0.1rem solid #dadada;

	padding: 2.5rem 1.75rem;
	overflow-y: scroll;

	h2 {
		margin: 0 0 1.5rem 0;

		font-size: 2rem;
		text-align: center;

		.material-icons {
			float: left;
			margin-right: 0.8rem;
		}
	}

	.nav-pills {
		margin: 0 0 1.5rem 0;
		padding: 0;

		text-align: center;

		>li {
			margin: 0;
			padding: 0;
			float: none;
			display: inline-block;

			+li {
				margin: 0;
			}

			a {
				margin: 0;
				padding: 0.5rem 1rem;

				font-size: 1.2rem;
				font-weight: 500;
			}
		}
	}
}
