@import "base.variables", "mixins";

/* xs */
@media (max-width: 767px) {
	.uk-nestable {
		li.uk-nestable-list-item {
			.uk-nestable-item {
				.uk-nested-item-controls {
					display: block;
				}
			}
		}
	}

	.nav-tabs {
		border: none;

		> li {
			float: none;
			margin-bottom: 0;
			
			> a {
				width: 100%;

				border-radius: $border-radius;

				&:hover {
					border-color: transparent;
				}
			}

			&.active {
				> a:link,
				> a:hover,
				> a:visited {
					border-bottom: 0.1rem solid $color-gray-light;
					background: $color-subtle;
				}
			}
		}
	}

	.nav-pills {
		> li {
			float: none;
			margin-bottom: 0;
			
			> a {
				width: 100%;

				border-radius: $border-radius;
			}
		}
	}

	.nova-access-picker {
		.selected-access-items {
			.label {
				display: block;
				width: 100%;
			}
		}

		.tt-menu {
			.tt-dataset {
				.tt-suggestion {
					width: 100%;
				}
			}
		}
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.uk-nestable {
		li.uk-nestable-list-item {
			.uk-nestable-item {
				.uk-nested-item-controls {
					display: block;
				}
			}
		}
	}

	.nav-tabs {
		border: none;

		> li {
			float: none;
			margin-bottom: 0;
			
			> a {
				width: 100%;

				border-radius: $border-radius;

				&:hover {
					border-color: transparent;
				}
			}

			&.active {
				> a:link,
				> a:hover,
				> a:visited {
					border-bottom: 0.1rem solid $color-gray-light;
					background: $color-subtle;
				}
			}
		}
	}

	.nav-pills {
		> li {
			float: none;
			margin-bottom: 0;
			
			> a {
				width: 100%;

				border-radius: $border-radius;
			}
		}
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {}

/* lg */
@media (min-width: 1200px) {}
