@import "base.variables", "mixins", "data-table", "panel";

/*html,
body,
.nova-container,
.nova-pusher,
.nova-content {
	height: 100%;
}*/

html {
	font-size: 62.5% !important;
}
body {
	padding: 2rem 0;
	line-height: $line-height;

	font-family: $font-os-stack;
	font-size: $font-size;
	color: $color-body-text;
}

.navbar-nav {
	>li {
		>a {
			>i {
				padding-right: 0.5rem;
			}
		}
	}
}

h1 {
	font-family: $font-heading;
	font-weight: 700;
	font-size: 3.4rem;
}

a {
	&.broken-link {
		font-style: italic;
		color: $color-danger;
	}
}

dl {
	dt {
		margin-top: $spacing;
	}

	dd {
		margin-left: $spacing;
	}
}

.btn-toolbar {
	margin: $spacing 0;
}

.btn {
	font-weight: 500;
	letter-spacing: 0.05rem;
	border-radius: $border-radius;
	
	span {
		padding-left: 0.5rem;
	}

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: none !important;
		}
	}

	&.btn-link-icon {
		span {
			float: left;
			margin: 0.25rem 0 0 0;
		}
	}

	&.btn-link-default {
		background: transparent;
		border: none;
		color: $color-gray-dark;

		&:hover {
			text-decoration: underline;
		}

		&:active, &:focus {
			box-shadow: none;
		}
	}

	&.btn-link-danger {
		background: transparent;
		border: none;
		color: $color-danger;

		&:hover {
			text-decoration: underline;
		}
	}

	&.btn-link-info {
		background: transparent;
		border: none;
		color: $color-info;

		&:hover {
			text-decoration: underline;
		}
	}

	&.btn-link-success {
		background: transparent;
		border: none;
		color: $color-success;

		&:hover {
			text-decoration: underline;
		}
	}

	&.btn-link-warning {
		background: transparent;
		border: none;
		color: $color-warning;

		&:hover {
			text-decoration: underline;
		}
	}
}

.label {
	font-weight: 400;
	letter-spacing: 0.05rem;

	&.label-primary {
		@include label-variant($color-primary);
	}
}

.panel {
	margin: $spacing 0;

	border-radius: $border-radius;

	.panel-heading {
		border-radius: ($border-radius - 1) ($border-radius - 1) 0 0;
	}

	.panel-footer {
		border-radius: 0 0 ($border-radius - 1) ($border-radius - 1);
	}
}

.input-lg {
	border-radius: $border-radius;
}

.checkbox, .checkbox-inline {
	label {
		font-weight: 400;
	}

	input[type=checkbox] {
		margin-top: 0.8rem;
	}
}

.radio, .radio-inline {
	label {
		font-weight: 400;
	}

	input[type=radio] {
		margin-top: 0.8rem;
	}
}

.help-block {
	font-size: $font-size-sm;

	strong {
		font-size: $font-size-sm;
	}
}

.has-error {
	.help-block,
	.control-label {
		a {
			text-decoration: underline;
		}
	}
}

.nav-tabs {
	margin-top: $spacing;
	margin-bottom: $spacing;

	>li {
		>a {
			border-radius: $border-radius $border-radius 0 0;
		}
	}
}

.tab-content {
	padding-left: $spacing-sm;
	padding-right: $spacing-sm;
}

.nav-pills {
	margin-top: $spacing;
	margin-bottom: $spacing;

	>li {
		>a {
			border-radius: $border-radius;
		}
	}

	&.nav-pills-sm {
		li {
			>a {
				padding: $spacing-sm $spacing;

				font-size: $font-size-sm;
			}
		}
	}
}

fieldset {
	margin-top: $spacing;
	margin-bottom: $spacing;
	
	legend {
		font-size: 2.4rem;
		font-weight: 500;
		color: $color-body-text;
	}

	.fieldset-content {
		padding: $spacing-sm;
	}
}

.text-sm {
	font-size: $font-size-sm;
}

.text-success {
	color: $color-success;
}

.text-warning {
	color: $color-warning;
}

.text-danger {
	color: $color-danger;
}

.text-info {
	color: $color-info;
}

/**
 * SweetAlert
 */
.sweet-alert {
	font-family: $font;
	border-radius: $border-radius;

	h2 {
		font-weight: 500;
	}

	.sa-icon {
		&.sa-error {
			border-color: $color-danger;

			.sa-line {
				background-color: $color-danger;
			}
		}

		&.sa-success {
			border-color: $color-success;

			.sa-line {
				background-color: $color-success;
			}
		}

		&.sa-warning {
			border-color: $color-warning;

			.sa-body {
				background-color: $color-warning;
			}

			.sa-dot {
				background-color: $color-warning;
			}
		}

		&.sa-info {
			border-color: $color-info;

			&::before {
				background-color: $color-info;
			}

			&::after {
				background-color: $color-info;
			}
		}
	}
}

/**
 * UIKit Updates
 */
.uk-nestable {
	.uk-nestable-item {
		.uk-nestable-panel {
			background-color: $color-subtle;
			border: .1rem solid $color-gray-light;
			border-radius: $border-radius;

			.uk-nestable-handle {
				padding: 0 0.4rem 0 0;

				color: $color-gray-medium;
				font-size: 1.8rem;
			}

			.uk-nested-item-controls {
				display: none;
				margin: 0.2rem 0 0 0;

				a {
					color: $color-gray;

					&:hover {
						text-decoration: none;
						color: $color-gray-dark;
					}

					&.danger:hover {
						color: $color-danger;
					}
				}
			}

			&:hover {
				.uk-nested-item-controls {
					display: block;
				}
			}
		}
	}
}

.sortable-handle {
	padding-right: 0.5rem;

	cursor: move;
	color: $color-gray;
}

.nova-access-picker {
	.selected-access-items {
		margin: 0.5rem;

		.label {
			margin-right: 0.5rem;
			white-space: nowrap;

			.remove {
				margin-left: 0.5rem;
				padding: 0 0 0 0.5rem;

				color: $color-white;
				border-left: 0.1rem solid rgba(255, 255, 255, 0.25);
				cursor: pointer;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.twitter-typeahead {
		width: 100%;
	}

	.tt-menu {
		padding: 0 0.5rem;
		width: 100%;

		background: #fff;
		border: 1px solid #ddd;
		border-radius: $border-radius;

		.tt-dataset {
			display: flex;
			flex-flow: row wrap;

			h4 {
				width: 100%;
			}

			.tt-suggestion {
				padding: 0.25rem 0.5rem;
				width: 50%;
				margin: 1rem 0;
				/*padding: 1rem;*/

				font-size: $font-size-sm;
				border-radius: $border-radius-sm;

				&:hover {
					cursor: pointer;
					background: $color-primary;
					color: $color-white;
				}
			}

			.tt-cursor {
				background: $color-primary;
				color: $color-white;
			}
		}
	}
}

.notification-indicator {
	position: relative;

	.unread {
		position: absolute;
		top: 1.2rem;
		right: 1.9rem;
		height: 1.2rem;
		width: 1.2rem;

		background-color: $color-danger;
		border: 0.25rem solid #f8f8f8;
		border-radius: 10rem;
	}
}

[v-cloak] {
	display: none;
}
