@import "base.variables", "mixins", "data-table", "panel";

body {
	padding: 1rem 0;
}

h1 {
	font-family: $font-heading;
	font-weight: 700;
}

a {
	&.broken-link {
		font-style: italic;
		color: $color-danger;
	}
}

.btn-toolbar {
	margin: 1rem 0;
}

.btn {
	font-weight: 500;
	
	span {
		padding-left: 0.5rem;
	}
}

form {
	label {
		font-weight: 500;
	}

	.form-check {
		label {
			font-weight: 400;
		}
	}
}

.alert {
	p:last-child {
		margin-bottom: 0;
	}
}

/**
 * SweetAlert
 */
.sweet-alert {
	font-family: $font;
	border-radius: $radius;

	h2 {
		font-weight: 500;
	}

	.sa-icon {
		&.sa-error {
			border-color: $color-danger;

			.sa-line {
				background-color: $color-danger;
			}
		}

		&.sa-success {
			border-color: $color-success;

			.sa-line {
				background-color: $color-success;
			}
		}

		&.sa-warning {
			border-color: $color-warning;

			.sa-body {
				background-color: $color-warning;
			}

			.sa-dot {
				background-color: $color-warning;
			}
		}

		&.sa-info {
			border-color: $color-info;

			&::before {
				background-color: $color-info;
			}

			&::after {
				background-color: $color-info;
			}
		}
	}
}

/**
 * UIKit Updates
 */
.uk-nestable {
	.uk-nestable-item {
		.uk-nestable-panel {
			background-color: $color-subtle;
			border: .1rem solid $color-gray-light;
			border-radius: $radius;

			.uk-nestable-handle {
				padding: 0 0.4rem 0 0;

				color: $color-gray-medium;
				font-size: 1.8rem;
			}

			.uk-nested-item-controls {
				display: none;
				margin: 0.2rem 0 0 0;

				a {
					color: $color-gray;

					&:hover {
						text-decoration: none;
						color: $color-gray-dark;
					}

					&.danger:hover {
						color: $color-danger;
					}
				}
			}

			&:hover {
				.uk-nested-item-controls {
					display: block;
				}
			}
		}
	}
}

.sortable-handle {
	padding-right: 0.5rem;

	cursor: move;
	color: $color-gray;
}

.nova-access-picker {
	.selected-access-items {
		margin: 0.5rem;

		.label {
			margin-right: 0.5rem;
			white-space: nowrap;

			.remove {
				margin-left: 0.5rem;
				padding: 0 0 0 0.5rem;

				color: $color-white;
				border-left: 0.1rem solid rgba(255, 255, 255, 0.25);
				cursor: pointer;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.twitter-typeahead {
		width: 100%;
	}

	.tt-menu {
		padding: 0 0.5rem;
		width: 100%;

		background: #fff;
		border: 1px solid #ddd;
		border-radius: $radius;

		.tt-dataset {
			display: flex;
			flex-flow: row wrap;

			h4 {
				width: 100%;
			}

			.tt-suggestion {
				padding: 0.25rem 0.5rem;
				width: 50%;
				margin: 1rem 0;
				/*padding: 1rem;*/

				font-size: $font-size-sm;
				border-radius: $radius-sm;

				&:hover {
					cursor: pointer;
					background: $color-primary;
					color: $color-white;
				}
			}

			.tt-cursor {
				background: $color-primary;
				color: $color-white;
			}
		}
	}
}

.notification-indicator {
	position: relative;

	.unread {
		position: absolute;
		top: 1.2rem;
		right: 1.9rem;
		height: 1.2rem;
		width: 1.2rem;

		background-color: $color-danger;
		border: 0.25rem solid #f8f8f8;
		border-radius: 10rem;
	}
}

[v-cloak] {
	display: none;
}
