PATH_add bin

export COMPOSER_MEMORY_LIMIT=-1
export COMPOSER_EXIT_ON_PATCH_FAILURE=1

export FORWARD_DB_PORT=3306
export FORWARD_MAILHOG_DASHBOARD_PORT=8025
export FORWARD_MAILHOG_PORT=1025
export FORWARD_MEILISEARCH_PORT=7700
export FORWARD_REDIS_PORT=6379