/node_modules
/dist/hot
/dist/mix-manifest.json
/dist/storage
/storage/*.key
/nova/vendor
/.idea
/.vscode
/.vagrant
.env
.php_cs.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log