/.phpunit.cache
/node_modules
/dist/hot
/dist/mix-manifest.json
/dist/storage
/storage/*.key
/nova/vendor
/vendor
/.vscode
.env
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
safelist.txt
yarn-error.log