/nova/start/compiled.php
/nova/vendor
/nova/assets/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db

app/config/local/*
app/config/production/*

app/assets/images/users/*

*.sublime-project
*.sublime-workspace