includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7

    paths:
        - nova/

    bootstrapFiles:
        - phpstan/phpstan-bootstrap.php

    scanFiles:
        - _ide_helper_models.php

    stubFiles:
        - phpstan/stubs/FilamentTextColumn.stub
