includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    bootstrapFiles:
        - phpstan/phpstan-bootstrap.php
    stubFiles:
        - phpstan/stubs/FilamentTextColumn.stub
    paths:
        - nova/
    level: 3
