<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="nova/vendor/autoload.php"
         cacheResult="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./nova/tests/Unit</directory>
        </testsuite>

        <testsuite name="feature">
            <directory suffix="Test.php">./nova/tests/Feature</directory>
        </testsuite>

        <testsuite name="authentication">
            <directory suffix="Test.php">./nova/tests/Feature/Auth</directory>
        </testsuite>

        <testsuite name="authorization">
            <directory suffix="Test.php">./nova/tests/Feature/Authorization</directory>
        </testsuite>

        <testsuite name="themes">
            <directory suffix="Test.php">./nova/tests/Feature/Themes</directory>
            <directory suffix="Test.php">./nova/tests/Unit/Themes</directory>
        </testsuite>

        <testsuite name="users">
            <directory suffix="Test.php">./nova/tests/Feature/Users</directory>
            <directory suffix="Test.php">./nova/tests/Unit/Users</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
		<server name="DB_DATABASE" value=":memory:"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
