<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="nova/vendor/autoload.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false">
	<testsuites>
		<testsuite name="nova-unit">
			<directory suffix="Test.php">./nova/tests/Unit</directory>
		</testsuite>

		<testsuite name="nova-authenticate">
			<directory suffix="Test.php">./nova/tests/Feature/Authenticate</directory>
		</testsuite>

		<testsuite name="nova-authorize">
			<directory suffix="Test.php">./nova/tests/Feature/Authorize</directory>
			<file>./nova/tests/Unit/RoleTest.php</file>
			<file>./nova/tests/Unit/RolePolicyTest.php</file>
			<file>./nova/tests/Unit/PermissionTest.php</file>
			<file>./nova/tests/Unit/PermissionPolicyTest.php</file>
		</testsuite>

		<testsuite name="nova-themes">
			<directory suffix="Test.php">./nova/tests/Themes</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./nova/src</directory>
		</whitelist>
	</filter>
	<php>
		<env name="APP_ENV" value="testing"/>
		<env name="BCRYPT_ROUNDS" value="4"/>
		<env name="CACHE_DRIVER" value="array"/>
		<env name="SESSION_DRIVER" value="array"/>
		<env name="QUEUE_DRIVER" value="sync"/>
		<env name="MAIL_DRIVER" value="array"/>
		<env name="DB_CONNECTION" value="sqlite"/>
		<env name="DB_DRIVER" value="sqlite"/>
		<env name="DB_DATABASE" value=":memory:"/>
	</php>
</phpunit>
