@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon-ultimate.eot');
	src: url('../fonts/icomoon-ultimate.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon-ultimate.svg#icomoon') format('svg'),
		url('../fonts/icomoon-ultimate.woff') format('woff'),
		url('../fonts/icomoon-ultimate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icn {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal !important;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.icn-size-16 {
	font-size: 16px !important;
}
.icn-size-32 {
	font-size: 32px !important;
}
.icn-size-64 {
	font-size: 64px !important;
}

.icn-opacity-25 {
	opacity: 0.25;
}
.icn-opacity-50 {
	opacity: 0.5;
}
.icn-opacity-75 {
	opacity: 0.75;
}

[data-icon]:before {
	content: attr(data-icon);
}