@tailwind preflight;

[v-cloak] {
	@apply .hidden;
}

body {
	@apply .font-sans .leading-normal .bg-grey-lighter .text-grey-darkest;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea {
	@apply .resize-y;
}

img {
	@apply .max-w-full;
}

button, [role=button] {
	@apply .font-sans .cursor-pointer;
}

a {
	@apply .no-underline .text-primary;

	&:hover {
		@apply .text-primary-dark;
	}
}

.container {
	@apply .mx-auto;
}

.transition {
	transition: all .1s ease-in;
}
.transition-slow {
	transition: all .2s ease-in;
}

.backdrop {
	@apply .hidden .bg-grey-darkest .min-w-full .min-h-screen .absolute .opacity-50;

	left: 0;
	top: 0;

	&.is-active {
		@apply .block;
	}
}

.pretty {
	.state {
		label:before {
			@apply .border-grey-dark;
		}
	}

	&.p-default {
		input:checked ~ .state label:after {
			background-color: config('colors.grey-dark') !important;
		}
	}

	&.p-switch {
		.state {
			&:before {
				@apply .border-grey-dark;
			}

			label:after {
				background-color: config('colors.grey-dark') !important;
			}
		}

		&.p-fill {
			input:checked ~ .state.p-success:before {
				background-color: config('colors.success') !important;
			}
		}

		input:checked ~ .state.p-success:before {
			border-color: config('colors.success') !important;
		}
	}
}

.rank-container {
	@apply .relative;

	> .rank-base,
	> .rank-overlay {
		background-color: transparent;
		background-position: center left;
		background-repeat: no-repeat;
		height: 40px;
		width: 144px;
	}

	> .rank-base {
		@apply .relative;

		z-index: 100;
	}

	>.rank-overlay {
		@apply .absolute;

		z-index: 200;
	}
}

@import "components/alert.less";
@import "components/avatar.less";
@import "components/badge.less";
// @import "components/button.less";
@import "components/buttons.less";
@import "components/card.less";
@import "components/data-table.less";
@import "components/dropdown.less";
@import "components/forms.less";
@import "components/grid.less";
@import "components/hero.less";
@import "components/icon.less";
@import "components/navbar.less";
@import "components/page-header.less";
@import "components/picker.less";
@import "components/switch.less";
@import "dark.less";

@tailwind components;

@tailwind utilities;
