:root {
    --bg-light: #fff;
    --bg-dark: #030712;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 72rem;
    flex: 1 1 0%;
    flex-direction: column;
}

.content {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main-nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 72rem;
    align-items: center;
    -moz-column-gap: 0.75rem;
         column-gap: 0.75rem;
    border-radius: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (min-width: 1024px) {

    .main-nav {
        -moz-column-gap: 1.5rem;
             column-gap: 1.5rem;
    }
}

.main-nav .leading-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 0.25rem;
}

.main-nav .trailing-container {
    margin-left: auto;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-right: 0.5rem;
}

.main-nav .trailing-container a {
    position: relative;
    border-radius: 0.5rem;
    background-color: var(--accent-color);
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--text-accent-color);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.main-nav .trailing-container a::before {
    position: absolute;
    inset: 0px;
    z-index: 1;
    border-radius: calc(0.5rem - 1px);
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    content: var(--tw-content);
    --tw-bg-opacity: 0;
}

.main-nav .trailing-container a:hover {
    color: var(--text-accent-color);
}

.main-nav .trailing-container a:hover::before {
    content: var(--tw-content);
    --tw-bg-opacity: 0.1;
}

.main-nav .trailing-container a:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}

.main-nav .divider {
    display: flex;
    display: none;
    height: 1.25rem;
    width: 1px;
    align-items: center;
    background-color: rgba(var(--primary-950), 0.1);
}

.main-nav ul {
    display: flex;
    align-items: center;
}

.main-nav ul li {
    position: relative;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.main-nav ul li[data-active]::after {
    position: absolute;
    left: 0.25rem;
    right: 0.25rem;
    bottom: -1px;
    height: 1px;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--accent-color) var(--tw-gradient-via-position), var(--tw-gradient-to);
    content: var(--tw-content);
    --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.main-nav a,
.main-nav button {
    display: flex;
    align-items: center;
    -moz-column-gap: 0.375rem;
         column-gap: 0.375rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.main-nav a:hover,
.main-nav button:hover {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-950), var(--tw-text-opacity));
}

.main-nav a>[data-slot=icon],
.main-nav button>[data-slot=icon] {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}

.main-nav [data-active] a {
    color: var(--accent-color);
}

.nova-advanced-page-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
}

.nv-hero,
.nv-features,
.nv-cta {
    overflow: hidden;
    border-radius: 1rem;
}

.nv-tabs {
}

.nv-tabs-list {
    display: inline-flex;
    align-items: center;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: rgba(var(--gray-900), 0.05);
}

.nv-tabs-list>[data-active] {
    --tw-text-opacity: 1;
    color: rgba(var(--primary-600), var(--tw-text-opacity));
}

.nv-tabs-list>[data-active]::after {
    position: absolute;
    left: 0.25rem;
    right: 0.25rem;
    bottom: -1px;
    height: 1px;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: rgba(var(--primary-500), 0) var(--tw-gradient-from-position);
    --tw-gradient-to: rgba(var(--primary-500), 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgba(var(--primary-500), 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgba(var(--primary-500), 1) var(--tw-gradient-via-position), var(--tw-gradient-to);
    content: var(--tw-content);
    --tw-gradient-to: rgba(var(--primary-500), 0) var(--tw-gradient-to-position);
}

.nv-tabs-list:hover>[data-active] {
    --tw-text-opacity: 1;
    color: rgba(var(--primary-600), var(--tw-text-opacity));
}

.nv-tabs-tab {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity));
}

.nv-tabs-tab:hover {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-900), var(--tw-text-opacity));
}
