body {
  line-height: 1.75;
  background: #eceff1;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  color: #303234;
  font-size: 17px;
}
header {
  position: relative;
  height: 66px;
  margin-bottom: 25px;
  background: #ffffff;
  color: #90a4ae;
  font-weight: 300;
  font-family: "Open Sans Condensed";
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .product,
header .process,
header .divider {
  line-height: 62px;
}
header .divider {
  color: #cfd8dc;
}
header .process {
  color: #546e7a;
  font-weight: 700;
}
header .anodyne-logo {
  display: block;
  width: 60px;
  height: 66px;
  background: transparent url(../images/anodyne-logo.png) center center no-repeat;
}
nav {
  padding: 15px;
  background: #37474f;
  color: #607d8b;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px 8px 8px 8px;
}
nav ol {
  position: relative;
  margin: 0;
  padding: 0;
  counter-reset: li;
  list-style: none;
}
nav ol li {
  position: relative;
  margin: 0;
  /*padding: @spacing 10px @spacing 45px;*/
  padding: 15px 10px;
  line-height: 20px;
  font-size: 14px;
  /*&:before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				left: 10px;
				width: 25px;
				height: 25px;
				line-height: 24px;
				
				font-size: 14px;
				font-weight: 600;
				text-align: center;
				font-family: @font;
				background: @color-bluegrey-500;
				color: @color-bluegrey-800;

				.rounded(50px);
			}

			&:after {
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}*/
}
nav ol li .icn {
  float: left;
  margin-right: 15px;
}
nav ol li.step-active {
  color: #ffffff;
}
nav ol li.step-active:before {
  background: #ffffff;
}
nav ol li.step-completed {
  color: rgba(255, 255, 255, 0.5);
  background: #546e7a;
  /*&:first-of-type {
					border-top-left-radius: @border-radius;
					border-top-right-radius: @border-radius;
				}

				&:last-of-type {
					border-bottom-left-radius: @border-radius;
					border-bottom-right-radius: @border-radius;
				}*/
}
nav ol li.step-completed:before {
  color: #546e7a;
  background: rgba(255, 255, 255, 0.5);
}
main {
  margin-bottom: 25px;
  background: #ffffff;
  color: #37474f;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px 8px 8px 8px;
}
main .content {
  padding: 15px;
}
main .content a {
  color: #0288d1;
}
main .content a:hover {
  color: #55c2fd;
}
main .controls {
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
main .controls p {
  margin: 0;
}
main .controls .btn.btn-link {
  color: #90a4ae;
}
main h1 {
  margin: 0 0 15px 0;
  padding: 0;
  width: auto;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  font-family: "Open Sans Condensed";
  color: #546e7a;
}
main h2 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #90a4ae;
}
main h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans Condensed";
  color: #546e7a;
}
main p {
  line-height: 1.75;
  font-size: 15px;
}
main form .control-label {
  color: #546e7a;
}
main form .form-control {
  color: #546e7a;
}
main form .input-lg {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
main form .help-block {
  margin-bottom: 5px;
  color: #90a4ae;
  font-size: 13px;
}
main form .checkbox input[type=checkbox],
main form .radio input[type=radio] {
  margin-top: 9px;
}
.thumbnail {
  margin: 10px 0;
  padding: 10px 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px 8px 8px 8px;
}
.thumbnail h1 {
  font-size: 28px;
  font-weight: 600;
  color: #546e7a;
}
.thumbnail .icn {
  color: #78909c;
}
footer {
  margin: 15px auto;
  text-align: center;
  font-size: 13px;
  color: #90a4ae;
}
.font-sm {
  font-size: 13px;
}
.text-error {
  color: #b71c1c;
}
.text-error:hover {
  color: #b71c1c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
}
.btn {
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.btn.btn-primary {
  color: #ffffff;
  background-color: #0288d1;
  border-color: #0288d1;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #0278b8;
  border-color: #02679e;
}
.btn.btn-primary.disabled,
.btn.btn-primary[disabled],
fieldset[disabled] .btn.btn-primary,
.btn.btn-primary.disabled:hover,
.btn.btn-primary[disabled]:hover,
fieldset[disabled] .btn.btn-primary:hover,
.btn.btn-primary.disabled:focus,
.btn.btn-primary[disabled]:focus,
fieldset[disabled] .btn.btn-primary:focus,
.btn.btn-primary.disabled:active,
.btn.btn-primary[disabled]:active,
fieldset[disabled] .btn.btn-primary:active,
.btn.btn-primary.disabled.active,
.btn.btn-primary[disabled].active,
fieldset[disabled] .btn.btn-primary.active {
  background-color: #0288d1;
  border-color: #0288d1;
}
hr.partial {
  margin: 25px auto;
  width: 75%;
  border-color: rgba(0, 0, 0, 0.1);
}
.alert {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.alert h4 {
  font-weight: 600;
}
code {
  color: #0288d1;
  background: #eceff1;
}
