@sizes: 24px, 32px, 48px, 64px;

.avatar-container {
	@apply .flex .items-center .relative .flex-row;
}

.avatar-image {
	@apply .relative;

	.avatar {
		@apply .bg-transparent .bg-no-repeat .bg-cover .bg-center .rounded-full .block;

		height: extract(@sizes, 3);
		width: extract(@sizes, 3);
	}
}

.avatar-label {
	@apply .flex .flex-col .ml-2;

	.avatar-title {
		@apply .font-medium;
	}

	.avatar-meta {
		@apply .text-grey-dark .text-sm;
	}
}

.avatar {
	@apply .border-2 .border-transparent;

	background-clip: content-box;
	padding: 2px;

	&.active,
	&.primary {
		@apply .border-primary;
	}

	&.danger {
		@apply .border-danger;
	}

	&.info {
		@apply .border-info;
	}

	&.secondary {
		@apply .border-grey-light;
	}

	&.success {
		@apply .border-success;
	}

	&.warning {
		@apply .border-warning-dark;
	}
}

.avatar-xs {
	.avatar {
		height: extract(@sizes, 1);
		width: extract(@sizes, 1);
	}

	.avatar-label {
		.avatar-title {
			@apply .text-sm;
		}

		.avatar-meta {
			@apply .text-xs;
		}
	}
}

.avatar-sm {
	.avatar {
		height: extract(@sizes, 2);
		width: extract(@sizes, 2);
	}

	.avatar-label {
		.avatar-title {
			@apply .text-base;
		}

		.avatar-meta {
			@apply .text-sm;
		}
	}
}

.avatar-md {
	.avatar {
		height: extract(@sizes, 3);
		padding: 3px;
		width: extract(@sizes, 3);
	}

	.avatar-label {
		.avatar-title {
			@apply .text-lg;
		}

		.avatar-meta {
			@apply .text-base;
		}
	}
}

.avatar-lg {
	.avatar {
		height: extract(@sizes, 4);
		padding: 3px;
		width: extract(@sizes, 4);
	}

	.avatar-label {
		.avatar-title {
			@apply .text-xl;
		}

		.avatar-meta {
			@apply .text-lg;
		}
	}
}
