@sizes: 24px, 36px, 48px, 72px, 96px, 144px;

.avatar-container {
	@apply .flex .items-center .relative .flex-row;
}

.avatar-image {
	@apply .relative;

	.avatar {
		@apply .bg-transparent .bg-no-repeat .bg-cover .bg-center .rounded-full .block;

		height: extract(@sizes, 3);
		width: extract(@sizes, 3);
	}
}

.avatar-status {
	@apply .bg-grey .border-4 .border-white .rounded-full .absolute;

	bottom: 0;
	box-sizing: content-box;
	height: 10px;
	right: 0;
	width: 10px;

	&.active,
	&.primary {
		@apply .bg-primary;
	}

	&.danger {
		@apply .bg-danger;
	}

	&.info {
		@apply .bg-info;
	}

	&.secondary {
		@apply .bg-grey-light;
	}

	&.success {
		@apply .bg-success;
	}

	&.warning {
		@apply .bg-warning-dark;
	}
}

.avatar-label {
	@apply .flex .flex-col .ml-2;

	.avatar-title {
		@apply .font-medium;
	}

	.avatar-meta {
		@apply .text-grey .text-sm;
	}
}

.avatar-stacked {
	@apply .flex-col;

	.avatar-label {
		@apply .ml-0 .text-center;
	}

	.avatar-status {
		border-width: 5px;
		bottom: 1px;
		height: 12px;
		right: 1px;
		width: 12px;
	}

	.avatar {
		height: extract(@sizes, 4);
		width: extract(@sizes, 4);
	}
}

.avatar-xs {
	.avatar {
		height: extract(@sizes, 1);
		width: extract(@sizes, 1);
	}

	.avatar-status {
		border-width: 2px;
		height: 6px;
		width: 6px;
	}

	.avatar-label {
		font-size: extract(@sizes, 1) * .6;
	}
}

.avatar-stacked.avatar-xs {
	.avatar {
		height: extract(@sizes, 2);
		width: extract(@sizes, 2);
	}

	.avatar-status {
		border-width: 3px;
		height: 8px;
		width: 8px;
	}
}

.avatar-sm {
	.avatar {
		height: extract(@sizes, 2);
		width: extract(@sizes, 2);
	}

	.avatar-status {
		border-width: 3px;
		height: 8px;
		width: 8px;
	}

	.avatar-label {
		font-size: extract(@sizes, 2) * .45;
	}
}

.avatar-stacked.avatar-sm {
	.avatar {
		height: extract(@sizes, 3);
		width: extract(@sizes, 3);
	}

	.avatar-status {
		border-width: 4px;
		height: 10px;
		width: 10px;
	}
}

.avatar-md {
	.avatar {
		height: extract(@sizes, 4);
		width: extract(@sizes, 4);
	}

	.avatar-status {
		border-width: 5px;
		bottom: 1px;
		height: 12px;
		right: 1px;
		width: 12px;
	}

	.avatar-label {
		font-size: extract(@sizes, 4) * .3;
	}
}

.avatar-stacked.avatar-md {
	.avatar {
		height: extract(@sizes, 5);
		width: extract(@sizes, 5);
	}

	.avatar-status {
		border-width: 6px;
		bottom: 3px;
		height: 14px;
		right: 3px;
		width: 14px;
	}
}

.avatar-lg {
	.avatar {
		height: extract(@sizes, 5);
		width: extract(@sizes, 5);
	}

	.avatar-status {
		border-width: 6px;
		bottom: 3px;
		height: 14px;
		right: 3px;
		width: 14px;
	}

	.avatar-label {
		font-size: extract(@sizes, 5) * .6;
	}
}

.avatar-stacked.avatar-lg {
	.avatar {
		height: extract(@sizes, 6);
		width: extract(@sizes, 6);
	}

	.avatar-status {
		border-width: 7px;
		bottom: 8px;
		height: 16px;
		right: 8px;
		width: 16px;
	}
}

.avatar-xl {
	.avatar {
		height: extract(@sizes, 6);
		width: extract(@sizes, 6);
	}

	.avatar-status {
		border-width: 7px;
		bottom: 8px;
		height: 16px;
		right: 8px;
		width: 16px;
	}

	.avatar-label {
		font-size: extract(@sizes, 6) * .6;
	}
}

.avatar-stacked.avatar-xl {
	.avatar {
		height: 192px;
		width: 192px;
	}

	.avatar-status {
		border-width: 8px;
		bottom: 15px;
		height: 18px;
		right: 15px;
		width: 18px;
	}
}
