.button {
	@apply .justify-center
	.bg-white
	.text-grey-dark
	.px-4
	.py-2
	.text-center
	.whitespace-no-wrap
	.border
	.rounded
	.inline-flex
	.items-center
	.justify-start
	.leading-normal
	.relative
	.align-top
	.font-medium;

	&:focus,
	&.is-focused,
	&:active,
	&.is-active {
		outline: none;
	}

	// .icon {
	// 	&,
	// 	&.is-small,
	// 	&.is-medium,
	// 	&.is-large {
	// 		height: 1.5em;
	// 		width: 1.5em;
	// 	}

	// 	&:first-child:not(:last-child) {
	// 		margin-left: calc(~"-0.375em - 1px");
 //      		margin-right: 0.1875em;
	// 	}

	// 	&:last-child:not(:first-child) {
	// 		margin-left: 0.1875em;
	// 		margin-right: calc(~"-0.375em - 1px");
	// 	}

	// 	&:first-child:last-child {
	// 		margin-left: calc(~"-0.375em - 1px");
	// 		margin-right: calc(~"-0.375em - 1px");
	// 	}
	// }

	&:hover,
	&.is-hovered {
		@apply .border-grey .bg-grey-lightest;
	}

	&.is-small {
		@apply .py-1 .px-3 .text-sm;
	}

	&.is-large {
		@apply .py-3 .px-6 .text-lg;
	}

	&.is-rounded {
		@apply .rounded-full;
	}

	&.is-primary {
		@apply .bg-primary .border-primary .text-white;

		&:hover {
			@apply .bg-primary-dark .border-primary-dark;
		}
	}

	&.is-secondary {
		@apply .bg-transparent .border-transparent .text-grey-dark;

		&:hover {
			@apply .text-grey-darker .border-transparent;
		}
	}

	&.is-dark {
		@apply .bg-grey-darkest .border-grey-darkest .text-white;

		&:hover {
			@apply .bg-black .border-black;
		}
	}

	&.is-info {
		@apply .bg-info .border-info .text-white;

		&:hover {
			@apply .bg-info-dark .border-info-dark;
		}
	}

	&.is-success {
		@apply .bg-success .border-success .text-white;

		&:hover {
			@apply .bg-success-dark .border-success-dark;
		}
	}

	&.is-danger {
		@apply .bg-danger .border-danger .text-white;

		&:hover {
			@apply .bg-danger-dark .border-danger-dark;
		}

		&.is-inverted {
			@apply .text-danger .bg-transparent .border-transparent;

			&:hover {
				@apply .text-danger-dark .bg-transparent .border-transparent;
			}
		}
	}

	&.is-warning {
		@apply .bg-warning-dark .border-warning-dark .text-warning-darker;

		&:hover {
			@apply .bg-warning .border-warning .text-warning-darker;
		}
	}

	&.is-block {
		@apply .block .w-full;

		+ .btn.is-block {
			@apply .mt-4;
		}
	}
}

.buttons {
	@apply .flex .items-center .justify-start .flex-wrap;

	.button {
		@apply .mb-2;

		&:not(:last-child) {
			@apply .mr-2;
		}
	}

	&.has-addons {
		.button {
			&:not(:first-child) {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}

			&:not(:last-child) {
				@apply .-mr-px;

				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}

			&:last-child {
				@apply .mr-0;
			}

			&:hover,
			&.is-hovered {
				z-index: 2;
			}

			&:focus,
			&.is-focused,
			&:active,
			&.is-active,
			&.is-selected {
				z-index: 3;
			}

			&:hover {
				z-index: 4;
			}
		}
	}

	&.is-centered {
		@apply .justify-center;
	}

	&.is-right {
		@apply .justify-end;
	}
}

.button-toolbar {
	@apply .flex .items-center .my-4;

	> .buttons,
	> .button,
	> .dropdown {
		@apply .mr-3;
	}
}

.submit-controls {
	@apply .flex .items-center .w-full .relative .mb-6;
}
