.icon {
	@apply .h-6 .w-6;

	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2;

	&.is-small {
		@apply .h-4 .w-4;
	}

	&.is-medium {
		@apply .h-8 .w-8;
	}

	&.is-large {
		@apply .h-12 .w-12;
	}
}

.icon-wrapper {
	@apply .flex .items-center .leading-0;
}
