.navbar-default {
  background-color: #5d4037;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #8d6e63;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #bcaaa4;
}

header {
  background-color: #795548;
}

.page-header h1 {
  color: #795548;
}
