.navbar-default {
  background-color: #512da8;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #7e57c2;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #b39ddb;
}
header {
  background-color: #673ab7;
}
.page-header h1 {
  color: #673ab7;
}
