.navbar-default {
  background-color: #303f9f;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #5c6bc0;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #9fa8da;
}

header {
  background-color: #3f51b5;
}

.page-header h1 {
  color: #3f51b5;
}
