.navbar-default {
  background-color: #00796b;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #26a69a;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #80cbc4;
}

header {
  background-color: #009688;
}

.page-header h1 {
  color: #009688;
}
