@import "../../../../nova/views/design/less/colors.less";
@import "../../../../nova/views/design/less/mixins.less";
@import "variables.less";

.page-header {
	padding: 15px;

	background-color: @color-grey-200;
	border-bottom: none;

	h1 {
		margin: 0;
		padding: 0;

		font-family: "Roboto Condensed";
		font-weight: 300;
		color: @color-grey-700;
	}
}
