@import "../../../../nova/views/design/less/colors.less";
@import "mixins.less";
@import "variables.less";

body {
	padding-top: 5rem;
}

.navbar {
	margin-bottom: 0;
}
.navbar-default {
	background-color: @color-grey-700;
	border-bottom: none;

	.navbar-brand {
		color: @color-white;
	}

	.navbar-nav {
		>li {
			>a {
				color: @color-grey-400;

				&:hover {
					color: @color-grey-200;
				}
			}
		}
	}
}

header {
	height: 20rem;

	background-color: @color-grey-500;
	color: @color-white;

	h1 {
		margin: 0;
		padding: 0;
		line-height: 20rem;

		font-family: "Roboto Condensed";
		font-size: 5.6rem;
		font-weight: 300;
	}
}

.page-header {
	h1 {
		font-family: "Roboto Condensed";
		font-weight: 300;
		font-size: 3.6rem;
		color: @color-grey-700;
	}
}

.btn {
	text-transform: uppercase;

	.rounded(@border-radius);
	.btn-pseudo-states(@color-grey-600, transparent, transparent);

	&.btn-danger {
		.btn-pseudo-states-text(@color-danger, transparent, transparent);
	}
	&.btn-primary {
		.btn-pseudo-states(@color-white, @color-grey-600, @color-grey-600);
	}
	&.btn-success {
		.btn-pseudo-states-text(@color-success, transparent, transparent);
	}
}

.label {
	text-transform: uppercase;
	font-weight: 500;

	.rounded(@border-radius);

	&.label-danger {
		background: transparent;
		border-color: transparent;
		color: @color-danger;
	}
	&.label-info {
		background: transparent;
		border-color: transparent;
		color: @color-info;
	}
	&.label-success {
		background: transparent;
		border-color: transparent;
		color: @color-success;
	}
	&.label-warning {
		background: transparent;
		border-color: transparent;
		color: @color-amber-700;
	}
	&.label-default {
		background: transparent;
		border-color: transparent;
		color: @color-grey-700;
	}
	&.label-primary {
		.label-variant(@color-primary);
	}
}

.panel {
	.rounded(@border-radius);

	.panel-heading {
		.border-radius(@border-radius - 1, @border-radius - 1, 0, 0);
	}

	.panel-footer {
		.border-radius(0, 0, @border-radius - 1, @border-radius - 1);
	}
}

.form-control {
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: .2rem;

	.rounded(@border-radius);
	.box-shadow(~"0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent");

	&:focus {
		.box-shadow(~"0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent");
	}
}

.input-lg {
	.rounded(@border-radius);
}

.has-error {
	.help-block,
	.control-label {
		color: @color-danger;

		a {
			color: @color-red-300;
		}
	}

	.form-control {
		border-color: @color-danger;
	}

	.input-group-addon {
		color: @color-danger;
		background-color: @color-red-50;
		border-color: @color-danger;
	}
}

.nav-pills {
	>li {
		>a {
			.rounded(@border-radius);
		}
	}
}
