@font: "Roboto", helvetica, arial, sans-serif;
@font-heading: "Roboto Condensed";

@border-radius: 0;
@border-radius-lg: .2rem;
@border-radius-sm: 0;

@color-danger: @color-red-500;
@color-success: @color-green-600;
@color-warning: @color-amber-500;
@color-info: @color-light-blue-300;
@color-primary: @color-blue-500;