$icomoon-font-path: "../fonts" !default;

$entypo-flag: "\e93a";
$entypo-add-to-list: "\e92f";
$entypo-warning: "\e900";
$entypo-arrow-with-circle-down: "\e901";
$entypo-arrow-with-circle-left: "\e902";
$entypo-arrow-with-circle-right: "\e903";
$entypo-arrow-with-circle-up: "\e904";
$entypo-bookmark: "\e905";
$entypo-dots-three-horizontal: "\e906";
$entypo-trash: "\e907";
$entypo-bell: "\e908";
$entypo-block: "\e909";
$entypo-box: "\e90a";
$entypo-brush: "\e930";
$entypo-chat: "\e90b";
$entypo-check: "\e90c";
$entypo-clipboard: "\e931";
$entypo-clock: "\e90d";
$entypo-code: "\e932";
$entypo-cog: "\e90e";
$entypo-copy: "\e90f";
$entypo-cross: "\e910";
$entypo-cycle: "\e911";
$entypo-forward: "\e912";
$entypo-gauge: "\e913";
$entypo-heart-outlined: "\e933";
$entypo-heart: "\e914";
$entypo-help-with-circle: "\e915";
$entypo-home: "\e916";
$entypo-image-inverted: "\e917";
$entypo-inbox: "\e918";
$entypo-info-with-circle: "\e919";
$entypo-leaf: "\e934";
$entypo-light-bulb: "\e935";
$entypo-link: "\e936";
$entypo-list: "\e91a";
$entypo-location-pin: "\e937";
$entypo-lock-open: "\e91b";
$entypo-lock: "\e91c";
$entypo-log-out: "\e91d";
$entypo-login: "\e91e";
$entypo-magnifying-glass: "\e91f";
$entypo-megaphone: "\e920";
$entypo-message: "\e921";
$entypo-paper-plane: "\e922";
$entypo-pencil: "\e923";
$entypo-price-tag: "\e924";
$entypo-reply-all: "\e925";
$entypo-reply: "\e926";
$entypo-scissors: "\e938";
$entypo-share: "\e927";
$entypo-squared-plus: "\e928";
$entypo-star-outlined: "\e939";
$entypo-star: "\e929";
$entypo-text-document-inverted: "\e92a";
$entypo-thumbs-down: "\e92b";
$entypo-thumbs-up: "\e92c";
$entypo-user: "\e92d";
$entypo-users: "\e92e";
