@import "../../../../nova/resources/views/design/scss/colors";
@import "../../../../nova/resources/views/design/scss/mixins";
@import "variables";

body {
	background: $color-blue-500
}

.page-header {
	text-align: center;
	border-bottom: none;
	color: $color-white;
}

input[type=text],
input[type=password],
input[type=email] {
	border-color: transparent;
	border-radius: $border-radius;
	box-shadow: none;
}

.btn {
	border-radius: $border-radius;

	&.btn-primary {
		background-color: transparent;
		border-color: transparent;

		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}

	&.btn-link {
		font-size: 80%;
		color: rgba(255, 255, 255, 0.5);
	}
}
