@font-face {
	font-family: 'entypo';
	src:
		url('../fonts/entypo.ttf?9zstqm') format('truetype'),
		url('../fonts/entypo.woff?9zstqm') format('woff'),
		url('../fonts/entypo.svg?9zstqm#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="entypo-"], [class*=" entypo-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'entypo' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entypo-add-to-list:before {
	content: "\e966";
}
.entypo-eye-with-line:before {
	content: "\e961";
}
.entypo-feather:before {
	content: "\e967";
}
.entypo-app-store:before {
	content: "\e900";
}
.entypo-google-play:before {
	content: "\e901";
}
.entypo-windows-store:before {
	content: "\e968";
}
.entypo-warning:before {
	content: "\e902";
}
.entypo-arrow-with-circle-down:before {
	content: "\e903";
}
.entypo-arrow-with-circle-left:before {
	content: "\e904";
}
.entypo-arrow-with-circle-right:before {
	content: "\e905";
}
.entypo-arrow-with-circle-up:before {
	content: "\e906";
}
.entypo-bookmark:before {
	content: "\e907";
}
.entypo-chevron-small-down:before {
	content: "\e908";
}
.entypo-chevron-small-up:before {
	content: "\e909";
}
.entypo-cloud:before {
	content: "\e90a";
}
.entypo-dots-three-horizontal:before {
	content: "\e90b";
}
.entypo-dots-three-vertical:before {
	content: "\e90c";
}
.entypo-download:before {
	content: "\e90d";
}
.entypo-trash:before {
	content: "\e90e";
}
.entypo-upload-to-cloud:before {
	content: "\e90f";
}
.entypo-upload:before {
	content: "\e910";
}
.entypo-address:before {
	content: "\e911";
}
.entypo-archive:before {
	content: "\e963";
}
.entypo-area-graph:before {
	content: "\e912";
}
.entypo-back-in-time:before {
	content: "\e913";
}
.entypo-bar-graph:before {
	content: "\e914";
}
.entypo-bell:before {
	content: "\e915";
}
.entypo-block:before {
	content: "\e916";
}
.entypo-book:before {
	content: "\e917";
}
.entypo-box:before {
	content: "\e918";
}
.entypo-briefcase:before {
	content: "\e919";
}
.entypo-calendar:before {
	content: "\e91a";
}
.entypo-chat:before {
	content: "\e91b";
}
.entypo-check:before {
	content: "\e91c";
}
.entypo-clock:before {
	content: "\e91d";
}
.entypo-code:before {
	content: "\e91e";
}
.entypo-cog:before {
	content: "\e91f";
}
.entypo-cross:before {
	content: "\e920";
}
.entypo-cycle:before {
	content: "\e921";
}
.entypo-edit:before {
	content: "\e922";
}
.entypo-emoji-happy:before {
	content: "\e923";
}
.entypo-emoji-neutral:before {
	content: "\e924";
}
.entypo-emoji-sad:before {
	content: "\e925";
}
.entypo-eye:before {
	content: "\e926";
}
.entypo-flag:before {
	content: "\e927";
}
.entypo-flash:before {
	content: "\e928";
}
.entypo-folder:before {
	content: "\e929";
}
.entypo-forward:before {
	content: "\e92a";
}
.entypo-funnel:before {
	content: "\e92b";
}
.entypo-gauge:before {
	content: "\e92c";
}
.entypo-heart-outlined:before {
	content: "\e92d";
}
.entypo-heart:before {
	content: "\e92e";
}
.entypo-help-with-circle:before {
	content: "\e92f";
}
.entypo-home:before {
	content: "\e930";
}
.entypo-image:before {
	content: "\e931";
}
.entypo-info-with-circle:before {
	content: "\e932";
}
.entypo-key:before {
	content: "\e933";
}
.entypo-laptop:before {
	content: "\e934";
}
.entypo-leaf:before {
	content: "\e935";
}
.entypo-lifebuoy:before {
	content: "\e936";
}
.entypo-light-bulb:before {
	content: "\e937";
}
.entypo-line-graph:before {
	content: "\e938";
}
.entypo-link:before {
	content: "\e939";
}
.entypo-list:before {
	content: "\e93a";
}
.entypo-location-pin:before {
	content: "\e93b";
}
.entypo-lock-open:before {
	content: "\e93c";
}
.entypo-lock:before {
	content: "\e93d";
}
.entypo-log-out:before {
	content: "\e93e";
}
.entypo-login:before {
	content: "\e93f";
}
.entypo-magnifying-glass:before {
	content: "\e940";
}
.entypo-mail:before {
	content: "\e941";
}
.entypo-megaphone:before {
	content: "\e942";
}
.entypo-message:before {
	content: "\e943";
}
.entypo-mobile:before {
	content: "\e944";
}
.entypo-network:before {
	content: "\e962";
}
.entypo-new:before {
	content: "\e964";
}
.entypo-news:before {
	content: "\e945";
}
.entypo-paper-plane:before {
	content: "\e946";
}
.entypo-pie-chart:before {
	content: "\e947";
}
.entypo-plus:before {
	content: "\e948";
}
.entypo-popup:before {
	content: "\e949";
}
.entypo-price-tag:before {
	content: "\e94a";
}
.entypo-reply-all:before {
	content: "\e94b";
}
.entypo-reply:before {
	content: "\e94c";
}
.entypo-round-brush:before {
	content: "\e94d";
}
.entypo-share:before {
	content: "\e94e";
}
.entypo-shield:before {
	content: "\e94f";
}
.entypo-shopping-bag:before {
	content: "\e965";
}
.entypo-sound-mix:before {
	content: "\e950";
}
.entypo-star-outlined:before {
	content: "\e951";
}
.entypo-star:before {
	content: "\e952";
}
.entypo-tablet:before {
	content: "\e953";
}
.entypo-tag:before {
	content: "\e954";
}
.entypo-thumbs-down:before {
	content: "\e955";
}
.entypo-thumbs-up:before {
	content: "\e956";
}
.entypo-ticket:before {
	content: "\e957";
}
.entypo-tools:before {
	content: "\e958";
}
.entypo-trophy:before {
	content: "\e959";
}
.entypo-tv:before {
	content: "\e95a";
}
.entypo-user:before {
	content: "\e95b";
}
.entypo-users:before {
	content: "\e95c";
}
.entypo-v-card:before {
	content: "\e95d";
}
.entypo-facebook:before {
	content: "\e95e";
}
.entypo-google:before {
	content: "\e95f";
}
.entypo-twitter:before {
	content: "\e960";
}
