.origin-bottom {
    transform-origin: bottom;
}
.origin-bottom-left {
    transform-origin: bottom left;
}
.origin-bottom-right {
    transform-origin: bottom right;
}
.origin-center {
    transform-origin: center;
}
.origin-left {
    transform-origin: left;
}
.origin-right {
    transform-origin: right;
}
.origin-top {
    transform-origin: top;
}
.origin-top-left {
    transform-origin: top left;
}
.origin-top-right {
    transform-origin: top right;
}