.data-table {
  margin: 15px 0;
}
.data-table > .row {
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid #e0e0e0;
}
.data-table > .row p {
  margin: 10px 0;
}
.data-table.data-table-striped > .row:nth-child(odd) {
  background: #eeeeee;
}
.data-table.data-table-bordered > .row {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.data-table.data-table-bordered > .row:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.data-table.data-table-bordered > .row:last-child {
  border-bottom: 1px solid #e0e0e0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.data-table.data-table-bordered > .row:nth-child(1):nth-last-child(1) {
  border-bottom: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
html {
  font-size: 62.5%;
}
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.75;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.7rem;
  color: #444444;
}
.navbar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 3.4rem;
}
.btn-toolbar {
  margin: 15px 0;
}
.btn {
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.btn.btn-danger {
  color: #ffffff;
  background-color: #f44336;
  border-color: #f44336;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #f32c1e;
  border-color: #ea1c0d;
}
.btn.btn-danger.disabled,
.btn.btn-danger[disabled],
fieldset[disabled] .btn.btn-danger,
.btn.btn-danger.disabled:hover,
.btn.btn-danger[disabled]:hover,
fieldset[disabled] .btn.btn-danger:hover,
.btn.btn-danger.disabled:focus,
.btn.btn-danger[disabled]:focus,
fieldset[disabled] .btn.btn-danger:focus,
.btn.btn-danger.disabled:active,
.btn.btn-danger[disabled]:active,
fieldset[disabled] .btn.btn-danger:active,
.btn.btn-danger.disabled.active,
.btn.btn-danger[disabled].active,
fieldset[disabled] .btn.btn-danger.active {
  background-color: #f44336;
  border-color: #f44336;
}
.btn.btn-primary {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #0d8aee;
  border-color: #0c7cd5;
}
.btn.btn-primary.disabled,
.btn.btn-primary[disabled],
fieldset[disabled] .btn.btn-primary,
.btn.btn-primary.disabled:hover,
.btn.btn-primary[disabled]:hover,
fieldset[disabled] .btn.btn-primary:hover,
.btn.btn-primary.disabled:focus,
.btn.btn-primary[disabled]:focus,
fieldset[disabled] .btn.btn-primary:focus,
.btn.btn-primary.disabled:active,
.btn.btn-primary[disabled]:active,
fieldset[disabled] .btn.btn-primary:active,
.btn.btn-primary.disabled.active,
.btn.btn-primary[disabled].active,
fieldset[disabled] .btn.btn-primary.active {
  background-color: #2196f3;
  border-color: #2196f3;
}
.btn.btn-success {
  color: #ffffff;
  background-color: #43a047;
  border-color: #43a047;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #3b8e3f;
  border-color: #347c37;
}
.btn.btn-success.disabled,
.btn.btn-success[disabled],
fieldset[disabled] .btn.btn-success,
.btn.btn-success.disabled:hover,
.btn.btn-success[disabled]:hover,
fieldset[disabled] .btn.btn-success:hover,
.btn.btn-success.disabled:focus,
.btn.btn-success[disabled]:focus,
fieldset[disabled] .btn.btn-success:focus,
.btn.btn-success.disabled:active,
.btn.btn-success[disabled]:active,
fieldset[disabled] .btn.btn-success:active,
.btn.btn-success.disabled.active,
.btn.btn-success[disabled].active,
fieldset[disabled] .btn.btn-success.active {
  background-color: #43a047;
  border-color: #43a047;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}
.label {
  font-weight: 400;
  letter-spacing: 0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px 2px 2px 2px;
}
.label.label-danger {
  background-color: #f44336;
}
.label.label-danger[href]:hover,
.label.label-danger[href]:focus {
  background-color: #ea1c0d;
}
.label.label-info {
  background-color: #4fc3f7;
}
.label.label-info[href]:hover,
.label.label-info[href]:focus {
  background-color: #1eb2f5;
}
.label.label-success {
  background-color: #43a047;
}
.label.label-success[href]:hover,
.label.label-success[href]:focus {
  background-color: #347c37;
}
.label.label-warning {
  background-color: #ffa000;
}
.label.label-warning[href]:hover,
.label.label-warning[href]:focus {
  background-color: #cc8000;
}
.panel {
  margin: 15px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.panel .panel-heading {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.panel .panel-footer {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.input-lg {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.text-sm {
  font-size: 1.4rem;
}
