.data-table {
  margin: 1.5rem 0;
}
.data-table > .row {
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid #e0e0e0;
}
.data-table > .row p {
  margin: 10px 0;
}
.data-table.data-table-striped > .row:nth-child(odd) {
  background: #f5f5f5;
}
.data-table.data-table-bordered > .row {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.data-table.data-table-bordered > .row:first-child {
  -webkit-border-radius: 0.4rem 0.4rem 0 0;
  -moz-border-radius: 0.4rem 0.4rem 0 0;
  border-radius: 0.4rem 0.4rem 0 0;
}
.data-table.data-table-bordered > .row:last-child {
  border-bottom: 1px solid #e0e0e0;
  -webkit-border-radius: 0 0 0.4rem 0.4rem;
  -moz-border-radius: 0 0 0.4rem 0.4rem;
  border-radius: 0 0 0.4rem 0.4rem;
}
.data-table.data-table-bordered > .row:nth-child(1):nth-last-child(1) {
  border-bottom: 1px solid #e0e0e0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
html {
  font-size: 62.5%;
}
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.75;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.7rem;
  color: #444444;
}
h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 3.4rem;
}
a.broken-link {
  font-style: italic;
  color: #d9534f;
}
dl dt {
  margin-top: 1.5rem;
}
dl dd {
  margin-left: 1.5rem;
}
.btn-toolbar {
  margin: 1.5rem 0;
}
.btn {
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}
.label {
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.label.label-primary {
  background-color: #337ab7;
}
.label.label-primary[href]:hover,
.label.label-primary[href]:focus {
  background-color: #286090;
}
.panel {
  margin: 1.5rem 0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.panel .panel-heading {
  -webkit-border-radius: -0.6rem -0.6rem 0 0;
  -moz-border-radius: -0.6rem -0.6rem 0 0;
  border-radius: -0.6rem -0.6rem 0 0;
}
.panel .panel-footer {
  -webkit-border-radius: 0 0 -0.6rem -0.6rem;
  -moz-border-radius: 0 0 -0.6rem -0.6rem;
  border-radius: 0 0 -0.6rem -0.6rem;
}
.input-lg {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.help-block {
  font-size: 1.4rem;
}
.help-block strong {
  font-size: 1.4rem;
}
.has-error .help-block a,
.has-error .control-label a {
  text-decoration: underline;
}
.nav-pills {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav-pills > li > a {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.nav-pills.nav-pills-sm li > a {
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
}
.text-sm {
  font-size: 1.4rem;
}
.uk-nestable li.uk-nestable-list-item .uk-nestable-item {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.uk-nestable li.uk-nestable-list-item .uk-nestable-item .uk-nested-item-controls {
  display: none;
}
.uk-nestable li.uk-nestable-list-item .uk-nestable-item .uk-nested-item-controls a {
  color: #9e9e9e;
}
.uk-nestable li.uk-nestable-list-item .uk-nestable-item .uk-nested-item-controls a:hover {
  text-decoration: none;
  color: #616161;
}
.uk-nestable li.uk-nestable-list-item .uk-nestable-item .uk-nested-item-controls a.danger:hover {
  color: #d9534f;
}
.uk-nestable li.uk-nestable-list-item .uk-nestable-item:hover .uk-nested-item-controls {
  display: block;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
