@import "colors.less";
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:300,700");
@import url("//fonts.googleapis.com/css?family=Roboto+Slab:400,700");

@font: "Roboto", helvetica, arial, sans-serif;
@font-heading: "Roboto Slab";
@font-size: 1.7rem;
@font-size-sm: 1.4rem;
@line-height: 1.75;

@spacing: 15px;
@spacing-sm: 7px;
@spacing-lg: 30px;
@border-radius: 4px;
@border-radius-lg: 8px;
@border-radius-sm: 2px;

@color-danger: @color-red-500;
@color-success: @color-green-600;
@color-warning: @color-amber-500;
@color-info: @color-light-blue-300;
@color-primary: @color-blue-500;
@color-body-text: #444;

@color-subtle: @color-grey-200;
@color-gray: @color-grey-500;
@color-gray-dark: @color-grey-700;
@color-gray-light: @color-grey-300;
@color-gray-medium: @color-grey-400;
