@import "base.variables.less";
@import "mixins.less";
@import "data-table.less";

body {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: @line-height;

	font-family: @font;
	font-size: @font-size;
	color: @color-body-text;
}

h1 {
	font-family: @font-heading;
	font-weight: 700;
}
