@import "base.variables.less";
@import "mixins.less";
@import "data-table.less";

html {
	font-size: 62.5%;
}
body {
	padding-top: 2rem;
	padding-bottom: 2rem;
	line-height: @line-height;

	font-family: @font;
	font-size: @font-size;
	color: @color-body-text;
}

.navbar {
	.rounded(@border-radius);
}

h1 {
	font-family: @font-heading;
	font-weight: 700;
	font-size: 3.4rem;
}
