@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
@import "mixins.less";
@import "variables.less";
@import "responsive.less";
@import "typeahead-bootstrap.less";

body {
	padding-top: @spacing-large;
	line-height: @line-height;

	font-family: @font-base;
	font-size: @font-size;
}

footer {
	margin: @spacing 0;
	padding: @spacing 0;

	color: #999;
	font-size: @font-size-small;
	border-top: 1px solid @color-whitegray;

	a {
		color: #777;
		text-decoration: underline;

		&:hover {
			color: #555;
		}
	}

	.footer-content {
		margin-top: @spacing-large;
	}
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.btn:focus,
a:focus {
	outline: 0;
}

.tab-pane,
.pill-pane {
	margin: @spacing 0;

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	fieldset {
		margin-left: @spacing;
		margin-right: @spacing;
	}
}

h1 {
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @font-base;
}

.text-small {
	font-size: @font-size-small;
}

strong {
	font-weight: 600;
}

label, .control-label {
	font-weight: 600;
}

label.radio,
label.checkbox {
	font-weight: 400;
}

.help-block {
	font-size: @font-size-small;
}

.input-group {
	margin-bottom: @spacing;
}

.input-lg {
	.rounded(@border-radius);
}

input.icn-size-16 {
	padding-bottom: 9px;
}

.btn-group,
.btn-toolbar {
	margin: @spacing 0;
}
.btn-toolbar .btn-group {
	margin: 0;
}

.btn-noclick:hover {
	cursor: default;
}

.btn-lg {
	.rounded(@border-radius);
}

.thumbnail {
	margin-bottom: @spacing;
}

/* This will probably need to be tweaked as we use it more */
.thumbnail .btn-group,
.thumbnail .btn-toolbar {
	margin: 2px 0 0 0;
}

.modal-body .btn,
.modal-body .btn-group,
.modal-body .btn-toolbar {
	margin-top: @spacing;
}

.well {
    margin-top: @spacing;
    margin-bottom: @spacing;
    padding: @spacing;
}
.well-large {
	padding: @spacing * 2;

	.rounded(@border-radius);
}

.accordion-heading {
    font-weight: 600;
}

.col-alt-1 { width: percentage((1 / 12)); }
.col-alt-2 { width: percentage((2 / 12)); }
.col-alt-3 { width: percentage((3 / 12)); }
.col-alt-4 { width: percentage((4 / 12)); }
.col-alt-5 { width: percentage((5 / 12)); }
.col-alt-6 { width: percentage((6 / 12)); }
.col-alt-7 { width: percentage((7 / 12)); }
.col-alt-8 { width: percentage((8 / 12)); }
.col-alt-9 { width: percentage((9 / 12)); }
.col-alt-10 { width: percentage((10 / 12)); }
.col-alt-11 { width: percentage((11 / 12)); }
.col-alt-12 { width: percentage((12 / 12)); }

.reorder {
	margin-top: 10px;
}
.reorder-small {
	margin-top: @spacing-small;
}

.blockUIModal {
	padding: @spacing-small !important;

	border: none !important;
	color: #444 !important;
	font-weight: 600;
	font-family: @font-base;

	.rounded(@border-radius);
	.box-shadow(~"0 3px 7px rgba(0, 0, 0, 0.3)");
}

.table {
	margin-top: @spacing;
	margin-bottom: @spacing;
}

.nv-data-table {
	margin: @spacing 0;
	
	> .row {
		margin-left: 0;
		margin-right: 0;

		border-top: 1px solid @color-lightgray;

		p {
			margin: 10px 0;
		}
	}

	&.nv-data-table-striped {
		> .row {
			&:nth-child(odd) {
				background: @color-subtle;
			}
		}
	}

	&.nv-data-table-bordered {
		> .row {
			border-left: 1px solid @color-lightgray;
			border-right: 1px solid @color-lightgray;

			&:first-child {
				.border-radius(@border-radius, @border-radius, 0, 0);
			}

			&:last-child {
				border-bottom: 1px solid @color-lightgray;

				.border-radius(0, 0, @border-radius, @border-radius);
			}

			&:nth-child(1):nth-last-child(1) {
				border-bottom: 1px solid @color-lightgray;

				.rounded(@border-radius);
			}
		}
	}
}

.dropzone-upload-hover {
	border-color: @color-success;
	color: @color-success;
}

.typeahead-block {
	margin-top: @spacing;
}

#preview-pane .preview-container {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.sm-btn-toolbar {
	margin: 10px 0 !important;
}