@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
@import "mixins.less";
@import "variables.less";

body {
	padding-top: @spacing-large;
}

footer {
	margin-top: 0;
	padding-top: 0;

	text-align: center;
	border-top: none;
}

input[type=text],
input[type=email],
input[type=password] {
	text-align: center;
}

h1 {
	margin-top: 0;
	margin-bottom: @spacing;
}

p {
	margin: @spacing 0;
}