.data-table {
  margin: 1rem 0;
}

.data-table > .row {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 0;
  margin-right: 0;
  padding: .75rem 0;
}

.data-table > .row.header,
.data-table > .row .header {
  background: rgba(0, 0, 0, 0.075) !important;
  font-weight: bold;
}

.data-table > .row.header .title,
.data-table > .row .header .title {
  margin: 0;
}

.data-table > .row.header .btn-toolbar,
.data-table > .row .header .btn-toolbar {
  margin: 0;
}

.data-table > .row > .col > .row + .row {
  padding-top: .75rem;
}

.data-table.striped > .row:nth-child(odd) {
  background: rgba(0, 0, 0, 0.025);
}

.data-table.bordered > div {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.data-table.bordered > div:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

.data-table.bordered > div:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 0.25rem 0.25rem;
}

.data-table.bordered > div:nth-child(1):nth-last-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

h1 {
  margin-bottom: 2rem;
}

.accordion .card-header a:hover {
  color: #343a40;
  text-decoration: none;
}

.accordion .card-header a:active,
.accordion .card-header a:focus {
  text-decoration: none;
}

.alert.alert-flash {
  border-radius: 0;
  bottom: 0;
  margin: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.alert p:last-child {
  margin-bottom: 0;
}

.alert.dirty {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  right: 0;
  top: -1.5rem;
  width: 100%;
  z-index: 1000;
}

.alert.dirty .alert-btn {
  margin-left: auto;
}

.alert .alert-btn {
  border: 1px solid;
  border-radius: 0.25rem;
  font-size: 85%;
  margin-left: .5rem;
  padding: .25rem .5rem;
}

.alert .alert-btn:hover,
.alert .alert-btn:active {
  text-decoration: none;
}

.avatar-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar-container .avatar-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.avatar-container .avatar {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
}

.avatar-container .avatar.xs {
  height: 24px;
  width: 24px;
}

.avatar-container .avatar.sm {
  height: 36px;
  width: 36px;
}

.avatar-container .avatar.md {
  height: 72px;
  width: 72px;
}

.avatar-container .avatar.lg {
  height: 100px;
  width: 100px;
}

.avatar-container .avatar-text {
  font-weight: 500;
  margin-left: 120px;
}

.avatar-container .avatar-text-xs {
  margin-left: 46px;
}

.avatar-container .avatar-text-sm {
  margin-left: 65px;
}

.item-picker {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
}

.item-picker .selected-toggle {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-bottom: 2px;
  padding: .5rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-picker .selected-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-picker .selected-item svg {
  color: #adb5bd;
}

.item-picker .selected-item .meta {
  color: #adb5bd;
  font-weight: 700;
}

.item-picker .items-menu {
  background: #fff;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  max-height: 20rem;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 1000;
}

.item-picker .items-menu .items-menu-alert {
  margin-top: .75rem;
}

.item-picker .items-menu .items-menu-alert .alert {
  border-radius: 0;
}

.item-picker .items-menu-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1rem;
}

.item-picker .items-menu-item:hover {
  background: #e9ecef;
}

.item-picker .items-menu-item .meta {
  color: #adb5bd;
  font-weight: 400;
  margin-left: .5rem;
}

.item-picker .search-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 1rem;
}

.item-picker .search-field {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9ecef;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 .5rem;
}

.item-picker .search-field input[type="text"] {
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 85%;
  padding: .5rem .75rem;
  width: 12rem;
}

.item-picker .search-field input[type="text"]:focus {
  outline: none;
}

.item-picker .search-field svg {
  color: #adb5bd;
}

.item-picker .clear-search {
  color: #adb5bd;
}

.item-picker .clear-search:hover {
  color: #dc3545;
}

.btn-toolbar {
  margin-bottom: 1rem;
}

.btn-toolbar .btn-group + .btn-group {
  margin-left: .5rem;
}

.btn:active,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card {
  margin-bottom: 1rem;
}

.card .card-img-top {
  display: block;
  max-width: 100%;
}

a.card {
  color: #292b2c;
}

a.card svg.icon {
  height: 8em;
  width: 8em;
}

a.card svg.icon g {
  fill: #adb5bd;
}

a.card:hover {
  border-color: #007bff;
  text-decoration: none;
}

a.card:hover svg,
a.card:hover i {
  color: #007bff;
}

a.card:hover svg.icon g {
  fill: #007bff;
}

.form-control-label {
  font-weight: 500;
}

.form-text {
  margin-left: .15rem;
}

.form-check-input {
  margin-top: .4rem;
}

.custom-select {
  display: block;
  width: 100%;
}

.dropdown-item .fa-fw {
  margin-right: .25rem;
  opacity: .8;
}

label.custom-control {
  margin-bottom: 0;
}

.text-subtle {
  color: #adb5bd;
}

.rank-container {
  position: relative;
}

.rank-container > .rank-base,
.rank-container > .rank-overlay {
  background-color: transparent;
  background-position: center left;
  background-repeat: no-repeat;
  height: 40px;
  width: 144px;
}

.rank-container > .rank-base {
  position: relative;
  z-index: 100;
}

.rank-container > .rank-overlay {
  position: absolute;
  z-index: 200;
}

.rank-selector {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #007bff;
  padding: .5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rank-selector:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-color: rgba(0, 123, 255, 0.3);
  color: #007bff;
  text-decoration: none;
}

.rank-selector.selected {
  background-color: rgba(0, 123, 255, 0.2);
  border-color: rgba(0, 123, 255, 0.5);
  color: #007bff;
}

fieldset fieldset legend {
  font-size: 1.15rem;
}

.vue-js-switch.toggle-switch .v-switch-core {
  background: #adb5bd !important;
}

.vue-js-switch.toggle-switch.toggled > .v-switch-core {
  background: #28a745 !important;
}

.vue-js-switch.toggle-switch.lg {
  --h: 2rem !important;
  --w: 3.875rem !important;
}

.jconfirm .jconfirm-box.loading:before {
  background: !important;
}

.crop-container .cr-boundary {
  border-radius: 0.6rem;
}

.crop-container .cr-viewport {
  border-radius: 0.5rem;
}

.hidden {
  display: none;
}

[v-cloak] {
  display: none !important;
}

.status {
  background-color: #ced4da;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.status.sm {
  height: 8px;
  width: 8px;
}

.status.lg {
  height: 24px;
  width: 24px;
}

.status.active,
.status.primary {
  background-color: #007bff;
}

.status.danger {
  background-color: #dc3545;
}

.status.info {
  background-color: #17a2b8;
}

.status.secondary {
  background-color: #868e96;
}

.status.success {
  background-color: #28a745;
}

.status.warning {
  background-color: #ffc107;
}

.animated.animated-2x {
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-duration: .5s;
  animation-fill-mode: both;
}

.animated.animated-3x {
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-duration: .3s;
  animation-fill-mode: both;
}

.animated.animated-4x {
  -webkit-animation-duration: .25s;
  -webkit-animation-fill-mode: both;
  animation-duration: .25s;
  animation-fill-mode: both;
}

