@media (min-width: 768px) and (max-width: 991px) {
  nav.navbar .dropdown-menu::before {
    top: -0.83rem;
    left: 0.6rem;
    right: auto;
    border: 0.4rem solid transparent;
    border-bottom-color: #fff;
  }

  nav.navbar .dropdown-menu::after,
  nav.navbar .dropdown-menu::before {
    position: absolute;
    display: inline-block;
    content: "";
  }

  nav.navbar .dropdown-menu-right::before {
    right: 0.6rem;
    left: auto;
  }

  .alert.alert-flash {
    right: 2rem;
    bottom: 1rem;
    width: auto;
    max-width: 50%;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
  }

  .alert.dirty {
    position: fixed;
    top: 5rem;
    right: 2rem;
    width: auto;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
  }
}

@media (min-width: 992px) {
  nav.navbar .dropdown-menu::before {
    top: -0.83rem;
    left: 0.6rem;
    right: auto;
    border: 0.4rem solid transparent;
    border-bottom-color: #fff;
  }

  nav.navbar .dropdown-menu::after,
  nav.navbar .dropdown-menu::before {
    position: absolute;
    display: inline-block;
    content: "";
  }

  nav.navbar .dropdown-menu-right::before {
    right: 0.6rem;
    left: auto;
  }

  .alert.alert-flash {
    right: 2rem;
    bottom: 1rem;
    width: auto;
    max-width: 50%;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
  }

  .alert.dirty {
    top: 5rem;
    right: 2rem;
    width: auto;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
  }

  .data-table .header > div:first-child {
    margin-bottom: 0 !important;
  }

  .btn.btn-action {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
  }
}

