.data-table {
	margin: 1rem 0;
	
	> .row {
		margin-left: 0;
		margin-right: 0;

		border-top: 0.1rem solid $color-gray-light;

		&.header, .header {
			padding: 0.75em 0;

			.title {
				margin: 0;
			}

			.btn-toolbar {
				margin: 0;
			}
		}

		p {
			margin: 1rem 0;
		}

		.controls {
			display: none;

			.btn {
				span {
					display: none;
					padding-left: 0.5rem;
				}

				&:hover {
					span {
						display: inline-block;
					}
				}
			}
		}

		&:hover {
			.controls {
				display: block;
			}
		}
	}

	&.striped {
		> .row {
			&:nth-child(odd) {
				background: $color-subtle;
			}
		}
	}

	&.bordered {
		> .row {
			border-left: 0.1rem solid $color-gray-light;
			border-right: 0.1rem solid $color-gray-light;

			&:first-child {
				border-radius: $radius $radius 0 0;
			}

			&:last-child {
				border-bottom: 0.1rem solid $color-gray-light;
				border-radius: 0 0 $radius $radius;
			}

			&:nth-child(1):nth-last-child(1) {
				border-bottom: 0.1rem solid $color-gray-light;
				border-radius: $radius;
			}
		}
	}
}
