@import "_bs4-mixins";

@mixin gradient ($start, $end) {
	background: $end;
	background: linear-gradient(top, $start 0%, $end 100%);
}

@mixin gradient-gloss ($color1, $color2, $color3, $color4) {
	background: $color4;
	background: linear-gradient(top, $color1 0%, $color2 50%, $color3 51%, $color4 100%);
}

@mixin placeholder($color: auto) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color !important;
	}
}

@mixin label-variant($color) {
	background-color: $color;
	&[href] {
		&:hover,
		&:focus {
			background-color: darken($color, 10%);
		}
	}
}
