@import "base.variables", "mixins", "data-table", "panel";

body {
	padding: 1rem 0;
	line-height: $line-height;

	font-family: $font;
}

.navbar {
	margin-bottom: 1.5rem;
	
	.nav-item {
		.nav-link {
			display: flex;
			align-items: center;

			i {
				padding-right: 1.4rem;
			}

			.icon {
				height: 1em;
				width: 1em;
				margin-right: 0.4rem;

				path {
					fill: rgba(0, 0, 0, 0.5);
				}
			}

			&:hover {
				.icon {
					path {
						fill: rgba(0, 0, 0, 0.7);
					}
				}
			}
		}
	}
}

h1 {
	font-family: $font-heading;
	font-weight: 700;
}

small {
	font-size: 85%;
}

a {
	&.broken-link {
		font-style: italic;
		color: $color-danger;
	}
}

.btn-toolbar {
	margin: 1rem 0;
}

.btn-group {
	+ .btn-group {
		margin-left: 0.5rem;
	}
}

.btn {
	font-weight: 500;
	font-family: $font;
	
	span {
		padding-left: 0.5rem;
	}

	&:active, &:focus {
		outline: none;
		box-shadow: none;
	}
}

button {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

form {
	.float-label {
		position: relative;

		label {
			position: absolute;
			top: 1em;
			left: 1em;
			opacity: 0;
		}

		&.focused, &.populated {
			label {
				opacity: 1;
				margin-top: -0.5rem;
			}

			input, textarea {
				padding-top: 2em;
			}
		}

		input, textarea, label {
			-webkit-transition: 0.2s ease-in-out;
			-moz-transition: 0.2s ease-in-out;
			-ms-transition: 0.2s ease-in-out;
			-o-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
		}
	}

	label {
		font-weight: 500;
	}

	.form-check {
		label {
			font-weight: 400;
		}
	}
}

.form-group-header {
	margin-top: 1rem;
}

.form-control {
	font-family: $font;

	&.form-control-search {
		padding-left: 1rem;
		padding-right: 1rem;

		border-radius: 10rem;
	}

	&::-webkit-input-placeholder {
		color: $color-grey-400;
	}
	&::-moz-placeholder {
		color: $color-grey-400;
	}
	&:-ms-input-placeholder {
		color: $color-grey-400;
	}
}

.alert {
	p:last-child {
		margin-bottom: 0;
	}
}

.picker {
	margin-bottom: 1.5rem;

	border-radius: $radius;
	text-align: center;

	&.card-outline-primary {
		border-color: $color-primary;
		box-shadow: inset 0 0 0 0.15rem $color-primary;
	}

	&.card-primary {
		color: rgba(255, 255, 255, 0.65) !important;
		border-color: $color-primary;
		box-shadow: inset 0 0 0 0.15rem $color-primary;
	}

	h1 {
		font-size: 2rem;
		font-weight: 300;
		font-family: $font-heading;
	}

	h2 {
		margin: 0 0 $spacing 0;

		font-size: 1.5rem;
		font-weight: 500;
	}

	p, ul li {
		line-height: $line-height;

		text-align: left;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

i {
	&.x2 { font-size: 2em; }
	&.x3 { font-size: 3em; }
	&.x4 { font-size: 4em; }
	&.x5 { font-size: 5em; }
}

/**
 * SweetAlert
 */
.sweet-alert {
	font-family: $font;
	border-radius: $radius;

	h2 {
		font-weight: 500;
	}

	.sa-icon {
		&.sa-error {
			border-color: $color-danger;

			.sa-line {
				background-color: $color-danger;
			}
		}

		&.sa-success {
			border-color: $color-success;

			.sa-line {
				background-color: $color-success;
			}
		}

		&.sa-warning {
			border-color: $color-warning;

			.sa-body {
				background-color: $color-warning;
			}

			.sa-dot {
				background-color: $color-warning;
			}
		}

		&.sa-info {
			border-color: $color-info;

			&::before {
				background-color: $color-info;
			}

			&::after {
				background-color: $color-info;
			}
		}
	}
}

/**
 * UIKit Updates
 */
.uk-nestable {
	.uk-nestable-item {
		.uk-nestable-panel {
			background-color: $color-subtle;
			border: .1rem solid $color-gray-light;
			border-radius: $radius;

			.uk-nestable-handle {
				padding: 0 0.4rem 0 0;

				color: $color-gray-medium;
				font-size: 1.8rem;
			}

			.uk-nested-item-controls {
				display: none;
				margin: 0.2rem 0 0 0;

				a {
					color: $color-gray;

					&:hover {
						text-decoration: none;
						color: $color-gray-dark;
					}

					&.danger:hover {
						color: $color-danger;
					}
				}
			}

			&:hover {
				.uk-nested-item-controls {
					display: block;
				}
			}
		}
	}
}

.sortable-handle {
	padding-right: 0.5rem;

	cursor: move;
	color: $color-gray;
}

.nova-access-picker {
	.selected-access-items {
		margin: 0.5rem;

		.label {
			margin-right: 0.5rem;
			white-space: nowrap;

			.remove {
				margin-left: 0.5rem;
				padding: 0 0 0 0.5rem;

				color: $color-white;
				border-left: 0.1rem solid rgba(255, 255, 255, 0.25);
				cursor: pointer;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.twitter-typeahead {
		width: 100%;
	}

	.tt-menu {
		padding: 0 0.5rem;
		width: 100%;

		background: #fff;
		border: 1px solid #ddd;
		border-radius: $radius;

		.tt-dataset {
			display: flex;
			flex-flow: row wrap;

			h4 {
				width: 100%;
			}

			.tt-suggestion {
				padding: 0.25rem 0.5rem;
				width: 50%;
				margin: 1rem 0;
				/*padding: 1rem;*/

				font-size: $font-size-sm;
				border-radius: $radius-sm;

				&:hover {
					cursor: pointer;
					background: $color-primary;
					color: $color-white;
				}
			}

			.tt-cursor {
				background: $color-primary;
				color: $color-white;
			}
		}
	}
}

.notification-indicator {
	position: relative;

	i {
		padding: 0;
	}

	&.unread {
		/*position: absolute;
		top: 1.2rem;
		right: 1.9rem;
		height: 1rem;
		width: 1rem;

		background-color: $color-danger;
		border: 0.1rem solid #f8f8f8;
		border-radius: 10rem;*/
		color: $color-danger !important;

		&:hover {
			color: lighten($color-danger, 5%) !important;
		}
	}
}

[v-cloak] {
	display: none;
}
