/* Landscape phones and down */
@media (max-width: 480px) {
	
	footer {
		.footer-extra {
			display: block;
			text-align: center;
		}

		.footer-content {
			display: block;
			text-align: center;

			.pull-right {
				float: none;
			}
		}
	}

	button[type=submit] {
		width: 100%;
		padding: @spacing;

		font-weight: 600;
		font-size: @font-size;
	}

	.nav-tabs {
		border: none;

		> li {
			float: none;
			margin-bottom: 0;
			
			> a {
				width: 100%;

				.rounded(4px);

				&:hover {
					border-color: transparent;
				}
			}

			&.active {
				> a:link,
				> a:hover,
				> a:visited {
					border-bottom: 1px solid #ddd;
					background: #fafafa;
				}
			}
		}
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	footer {
		.footer-content {
			display: block;
			text-align: center;

			.pull-right {
				float: none;
			}
		}
	}

	button[type=submit] {
		width: 100%;
		padding: @spacing;

		font-weight: 600;
		font-size: @font-size;
	}

}