/* Landscape phones and down */
@media (max-width: 480px) {
	
	footer {
		.footer-extra {
			display: block;
			text-align: center;
		}

		.footer-content {
			display: block;
			text-align: center;

			.pull-right {
				float: none;
			}
		}
	}

	button[type=submit] {
		width: 100%;
		padding: @spacing;

		font-weight: 600;
		font-size: @font-size;
	}

	.nav-pills {
		li {
			float: none;
			
			a {
				width: 100%;
			}
		}
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	footer {
		.footer-content {
			display: block;
			text-align: center;

			.pull-right {
				float: none;
			}
		}
	}

	button[type=submit] {
		width: 100%;
		padding: @spacing;

		font-weight: 600;
		font-size: @font-size;
	}

}