@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600";

body {
	padding-top: 40px;
	line-height: 1.75;

	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-size: 16px;
}

.footer-content {
	margin-top: 20px;
}

.reorder {
	height: 16px;
	width: 16px;
	background: transparent url(images/reorder-16x16.png) no-repeat center center;
}

.btn-noclick:hover {
	cursor: default;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.btn:focus,
a:focus {
	outline: 0;
}

.text-small {
	font-size: 13px;
}

strong {
	font-weight: 600;
}

footer {
	margin: 15px 0;
	padding: 15px 0;

	color: #999;
	font-size: 13px;
	border-top: 1px solid #eee;
}
footer a {
	color: #777;
	text-decoration: underline;
}
footer a:hover {
	color: #555;
}

label.control-label {
	font-weight: 600;
}
label.radio,
label.checkbox {
	font-weight: 400;
}

h1 {
	font-weight: 300;
}

.control-group {
	margin-bottom: 15px;
}

.help-block {
	font-size: 13px;
}

/* This will need to be styled a little bit better moving forward */
.has-error .help-block {
	color: #c00;
}

.btn-group,
.btn-toolbar {
	margin: 15px 0;
}

.thumbnail {
	margin-bottom: 15px;
}

/* This will probably need to be tweaked as we use it more */
.thumbnail .btn-group,
.thumbnail .btn-toolbar {
	margin: 2px 0 0 0;
}

.modal-body .btn,
.modal-body .btn-group,
.modal-body .btn-toolbar {
	margin-top: 15px;
}

.well {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

.accordion-heading {
    font-weight: 600;
}

.tab-pane {
	margin: 15px 0;
}

.alt-col-1 { width: percentage((1 / 12)); }
.alt-col-2 { width: percentage((2 / 12)); }
.alt-col-3 { width: percentage((3 / 12)); }
.alt-col-4 { width: percentage((4 / 12)); }
.alt-col-5 { width: percentage((5 / 12)); }
.alt-col-6 { width: percentage((6 / 12)); }
.alt-col-7 { width: percentage((7 / 12)); }
.alt-col-8 { width: percentage((8 / 12)); }
.alt-col-9 { width: percentage((9 / 12)); }
.alt-col-10 { width: percentage((10 / 12)); }
.alt-col-11 { width: percentage((11 / 12)); }
.alt-col-12 { width: percentage((12 / 12)); }