@import "base.variables.less";
@import "mixins.less";
@import "data-table.less";

html {
	font-size: 62.5% !important;
}
body {
	padding-top: 2rem;
	padding-bottom: 2rem;
	line-height: @line-height;

	font-family: @font;
	font-size: @font-size;
	color: @color-body-text;
}

h1 {
	font-family: @font-heading;
	font-weight: 700;
	font-size: 3.4rem;
}

a {
	&.broken-link {
		font-style: italic;
		color: @color-danger;
	}
}

dl {
	dt {
		margin-top: @spacing;
	}

	dd {
		margin-left: @spacing;
	}
}

.btn-toolbar {
	margin: @spacing 0;
}

.btn {
	font-weight: 500;
	letter-spacing: 0.05rem;

	.rounded(@border-radius);

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: none !important;
		}
	}
}

.label {
	font-weight: 400;
	letter-spacing: 0.05rem;

	&.label-primary {
		.label-variant(@color-primary);
	}
}

.panel {
	margin: @spacing 0;

	.rounded(@border-radius);

	.panel-heading {
		.border-radius(@border-radius - 1, @border-radius - 1, 0, 0);
	}

	.panel-footer {
		.border-radius(0, 0, @border-radius - 1, @border-radius - 1);
	}
}

.input-lg {
	.rounded(@border-radius);
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	margin-top: .9rem;
}

.help-block {
	font-size: @font-size-sm;

	strong {
		font-size: @font-size-sm;
	}
}

.has-error {
	.help-block,
	.control-label {
		a {
			text-decoration: underline;
		}
	}
}

.nav-pills {
	margin-top: @spacing;
	margin-bottom: @spacing;

	>li {
		>a {
			.rounded(@border-radius);
		}
	}

	&.nav-pills-sm {
		li {
			>a {
				padding: @spacing-sm @spacing;

				font-size: @font-size-sm;
			}
		}
	}
}

.text-sm {
	font-size: @font-size-sm;
}

.uk-nestable {
	.uk-nestable-item {
		.uk-nestable-panel {
			background-color: @color-subtle;
			border: .1rem solid @color-gray-light;

			.rounded(@border-radius);

			.uk-nestable-handle {
				padding: 0 0.4rem 0 0;

				color: @color-gray-medium;
				font-size: 1.8rem;
			}

			.uk-nested-item-controls {
				display: none;
				margin: 0.2rem 0 0 0;

				a {
					color: @color-gray;

					&:hover {
						text-decoration: none;
						color: @color-gray-dark;
					}

					&.danger:hover {
						color: @color-danger;
					}
				}
			}

			&:hover {
				.uk-nested-item-controls {
					display: block;
				}
			}
		}
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
