@import "../../../../../resources/views/design/scss/colors";

$font: "Roboto", helvetica, arial, sans-serif;
$font-heading: "Roboto Condensed";
$font-size: 1.7rem;
$font-size-sm: 1.4rem;
$line-height: 1.75;
$header-height: 6.6rem;

$spacing: 1.5rem;
$spacing-sm: 0.7rem;
$spacing-lg: 3rem;
$border-radius: 0.4rem;
$border-radius-lg: 0.8rem;
$border-radius-sm: 0.2rem;

$color-danger: $color-red-500;
$color-success: $color-green-600;
$color-warning: $color-amber-500;
$color-info: $color-light-blue-300;
$color-primary: $color-blue-500;
$color-body-text: #303234;
