@import "../../../../../resources/views/design/scss/colors";

$font: "Roboto", helvetica, arial, sans-serif;
$font-heading: "Roboto Condensed";
$font-size: 1rem;
$font-size-sm: 0.9rem;
$line-height: 1.75;
$header-height: 8.5rem;

$spacing: 1rem;
$spacing-sm: 0.75rem;
$spacing-lg: 2rem;
$border-radius: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.125rem;

$color-danger: $color-red-500;
$color-success: $color-light-green-500;
$color-warning: $color-amber-300;
$color-info: $color-light-blue-300;
$color-primary: $color-blue-500;
$color-body-text: #303234;
