@import "setup.variables";
@import "../../../../../resources/views/design/scss/mixins";

html {
	background-color: $color-blue-grey-50;
}
body {
	background-color: $color-blue-grey-50;
	font-family: $font;
	color: $color-body-text;
}

#app {
	margin-bottom: 1.5rem;
}

header {
	position: relative;
	margin-bottom: 1.5rem;
	line-height: 1;

	background: $color-white;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);

	.header {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;

		.brand {
			display: block;
			width: 1.85rem;
			height: 1.85rem;

			text-align: right;
		}

		.masthead {
			padding: 1rem 0;

			font-family: $font-heading;
			font-size: 0.9rem;
			font-weight: 300;
			color: $color-blue-grey-300;

			.divider {
				color: $color-blue-grey-100;
			}

			.process {
				color: $color-blue-grey-600;
				font-weight: 700;
			}
		}
	}
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: $spacing;
	margin-bottom: 1.5rem;

	font-size: 0.9rem;
	background: $color-blue-grey-800;
	color: $color-blue-grey-400;
	border: 0.1rem solid rgba(0, 0, 0, 0.15);

	@include rounded($border-radius-lg);

	footer {
		padding: 1.5rem 0 0 0;
	}

	ol {
		position: relative;
		margin: 0;
		padding: 0;

		counter-reset: li;
		list-style: none;

		li {
			display: flex;
			position: relative;
			margin: 0;

			align-items: center;

			.icon {
				height: 2.5rem;
				width: 2.5rem;
				padding-right: 1rem;

				path {
					fill: $color-blue-grey-400;
				}
			}

			&.step-active {
				color: $color-white;

				path {
					fill: $color-white;
				}
			}

			&.step-completed {
				color: rgba(255, 255, 255, 0.5);
				background: $color-blue-grey-600;

				path {
					fill: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}
}

main {
	background: $color-white;
	color: $color-blue-grey-800;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);

	@include rounded($border-radius-lg);

	.content {
		padding: $spacing;

		a {
			color: $color-primary;

			&:hover {
				color: lighten($color-primary, 25%);
			}
		}

		strong {
			font-weight: 500;
		}
	}

	.controls {
		padding: $spacing;

		border-top: 0.1rem solid rgba(0, 0, 0, 0.1);

		p {
			margin: 0;
		}

		.btn {
			width: 100%;

			font-weight: 500;
			
			&.btn-link {
				color: $color-blue-grey-300;
				font-weight: 400;
			}
		}
	}

	h1 {
		margin: 0 0 $spacing 0;
		padding: 0;
		width: auto;

		text-align: center;
		font-weight: 300;
		font-family: $font-heading;
		color: $color-blue-grey-600;
	}

	h2 {
		text-align: left;
		font-weight: 300;
		font-family: $font-heading;
		color: $color-blue-grey-600;
	}

	h3 {
		margin: 0 0 $spacing-lg 0;
		line-height: 1.5;

		text-align: center;
		font-size: 1.1rem;
		font-weight: 400;
		color: $color-blue-grey-300;
	}

	p {
		margin-bottom: 1rem;
		line-height: $line-height;
	}

	form {
		.col-form-label {
			color: $color-blue-grey-600;
			font-weight: 500;
			text-align: right;
		}

		.form-control {
			color: $color-blue-grey-600;
		}

		.input-lg {
			@include rounded($border-radius);
		}

		.help-block {
			margin: 0.5rem;
			line-height: 1.6;

			color: $color-blue-grey-300;
			font-size: $font-size-sm;
		}
	}
}

footer {
	padding: 1rem 0;

	text-align: center;
	font-size: $font-size-sm;
	color: $color-blue-grey-500;
}

.text-sm {
	font-size: $font-size-sm;
}

.text-danger {
	color: $color-danger;

	&:hover {
		color: $color-danger;
	}
}

.text-success {
	color: $color-success;

	&:hover {
		color: $color-success;
	}
}

.text-warning {
	color: $color-warning;

	&:hover {
		color: $color-warning;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font;
}

.btn {
	font-weight: 500;
	letter-spacing: 0.015rem;
	font-family: $font;

	@include rounded($border-radius);

	&:hover {
		cursor: pointer;
	}

	&.btn-primary {
		@include btn-pseudo-states($color-white, $color-primary, $color-primary);
	}
	&.btn-secondary {
		@include btn-pseudo-states($color-grey-700, $color-grey-300, $color-grey-300);
	}
	&.btn-danger {
		@include btn-pseudo-states($color-white, $color-danger, $color-danger);
	}
	&.btn-link {
		@include btn-pseudo-states($color-primary, transparent, transparent);
	}

	&.btn-lg {
		@include rounded($border-radius);
	}

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: none !important;
		}
	}
}

.card {
	margin-bottom: 1.5rem;

	text-align: center;

	@include rounded($border-radius);

	&.card-outline-primary {
		border-color: $color-primary;

		@include box-shadow(inset 0 0 0 0.15rem $color-primary);
	}

	h1 {
		font-size: 2rem;
		font-weight: 300;
		font-family: $font-heading;
		color: $color-blue-grey-600;
	}

	h2 {
		margin: 0 0 $spacing 0;

		font-size: 1.25rem;
		font-weight: 400;
		color: $color-blue-grey-300;
	}

	p, ul li {
		line-height: $line-height;

		color: $color-blue-grey-800;
		text-align: left;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.icon {
		height: 9rem;
		width: 9rem;
		margin: 1rem auto;

		path {
			fill: $color-blue-grey-400;
		}

		&.text-success {
			path {
				fill: $color-green-500;
			}
		}

		&.text-danger {
			path {
				fill: $color-red-500;
			}
		}
	}
}

hr {
	margin: 1.5rem auto;

	border-color: rgba(0, 0, 0, 0.1);
}

.alert {
	@include rounded($border-radius);
	
	h4 {
		font-weight: 500;
	}

	&.alert-info {
		@include alert-variant($color-info, $color-info, $color-blue-800);
	}
	
	&.alert-danger {
		@include alert-variant($color-danger, $color-danger, $color-white);

		code {
			background: $color-red-100;
			color: $color-red-600;
		}
	}
	
	&.alert-success {
		@include alert-variant($color-success, $color-success, $color-white);
	}

	&.alert-warning {
		@include alert-variant($color-warning, $color-warning, darken($color-amber-900, 15%));
	}
}

.label {
	font-weight: 400;
	letter-spacing: 0.015rem;

	@include rounded($border-radius-sm);

	&.label-danger {
		@include label-variant($color-danger);
	}
	&.label-success {
		@include label-variant($color-success);
	}
}

code {
	color: $color-blue-500;
	background: $color-blue-grey-50;
}

.logo {
	height: 11rem;
	width: 100%;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	&.mysql {
		background-image: url(../images/mysql.svg);
	}

	&.postgresql {
		background-image: url(../images/postgresql.svg);
	}

	&.sqlite {
		background-image: url(../images/sqlite.svg);
	}
}

.has-error {
	.control-wrapper {
		padding: 0.3rem;

		background-color: $color-danger;

		@include rounded($border-radius);
	}

	.col-form-label {
		color: $color-danger;
	}

	.help-block {
		padding: 0 0.5rem;

		color: $color-white;

		a {
			color: darken($color-danger, 10%);
			text-decoration: underline;
		}
	}

	.form-control {
		border-color: $color-danger;
	}
}

.wizard {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.75rem;

	.step {
		width: 100%;
		padding: 0.5rem;

		text-align: center;

		.icon {
			width: 1.75rem;
			height: 1.75rem;

			path {
				fill: $color-blue-grey-100;
			}
		}

		.label {
			display: block;
			padding: 0.2rem 0.4rem;

			font-weight: 500;
			font-size: 0.9rem;
			color: $color-blue-grey-100;
			
			@include rounded($border-radius);

			.short { display: block; }
			.long { display: none; }
		}

		&.active {
			.label {
				background: $color-primary;
				color: $color-white;

				.short { display: none; }
				.long { display: block; }
			}

			.icon {
				width: 3.5rem;
				height: 3.5rem;

				path {
					fill: $color-primary;
				}
			}
		}

		&.completed {
			.label {
				background: transparent;
				color: $color-success;

				.short { display: block; }
				.long { display: none; }
			}

			.icon {
				path {
					fill: $color-success;
				}
			}
		}
	}
}

[v-cloak] {
	display: none;
}

.spinner {
	margin: 3rem auto;
	width: 7rem;

	text-align: center;

	> div {
		display: inline-block;
		width: 1.8rem;
		height: 1.8rem;

		background-color: $color-blue-grey-400;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;

		@include rounded(100%);
	}

	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
