@media (max-width: 767px) {
	header {
		text-align: center;
		font-size: 2rem;

		.anodyne-logo {
			display: none;
		}
	}

	.content {
		h2 {
			line-height: 1.5;
		}
	}

	.controls {
		text-align: center;

		p {
			text-align: center;
		}
	}

	.btn {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
