@import "setup.variables";
@import "../../../../../resources/views/design/scss/mixins";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	header {
		.header {
			.brand {
				width: 4.5rem;
				height: 4.5rem;
			}

			.masthead {
				padding: 0;

				font-size: 1.25rem;
			}
		}
	}

	hr {
		width: 75%;
	}

	.wizard {
		flex-direction: row;

		&.space-around {
			flex: 0 1 0%;
			justify-content: space-around;
		}

		.step {
			width: auto;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	header {
		.header {
			.brand {
				width: 5.5rem;
				height: 5.5rem;
			}

			.masthead {
				padding: 0;

				font-size: 2rem;
			}
		}
	}

	nav {
		ol {
			li {
				.icon {
					height: 3rem;
					width: 3rem;
				}
			}
		}
	}

	main {
		.content {
			.btn {
				width: auto;
			}
		}

		.controls {
			.btn {
				width: auto;
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	nav {
		height: 100%;
		margin-bottom: 0;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
