@import "../../../../../nova/resources/views/design/scss/colors";
@import "../mixins";
@import "../variables";

.navbar-default {
	background-color: $color-blue-grey-700;

	.navbar-brand {
		color: $color-white;
	}

	.navbar-nav {
		>li {
			>a {
				color: $color-blue-grey-400;

				&:hover {
					color: $color-blue-grey-200;
				}
			}
		}
	}
}

header {
	background-color: $color-blue-grey-500;
}

.page-header {
	h1 {
		color: $color-blue-grey-500;
	}
}
