@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/core/icomoon-ultimate.eot');
	src: url('../fonts/icomoon/core/icomoon-ultimate.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/core/icomoon-ultimate.svg#icomoon') format('svg'),
		url('../fonts/icomoon/core/icomoon-ultimate.woff') format('woff'),
		url('../fonts/icomoon/core/icomoon-ultimate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}