body {
  padding-top: 5rem;
  background-color: #f4f5f6;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: #616161;
  border-bottom: none;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #bdbdbd;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #eeeeee;
}
header {
  height: 20rem;
  background-color: #9e9e9e;
  color: #ffffff;
}
header h1 {
  margin: 0;
  padding: 0;
  line-height: 20rem;
  font-family: "Roboto Condensed";
  font-size: 5.6rem;
  font-weight: 300;
}
main {
  margin-top: 3rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border: .1rem solid #e7e8e9;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -webkit-box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .05);
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .05);
}
.page-header {
  margin-top: 0;
}
.page-header h1 {
  margin-top: 0;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 3.6rem;
  color: #616161;
}
.btn {
  text-transform: uppercase;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  color: #757575;
  background-color: transparent;
  border-color: transparent;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active,
.btn.disabled.active,
.btn[disabled].active,
fieldset[disabled] .btn.active {
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-danger {
  color: #f44336;
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #ea1c0d;
}
.btn.btn-danger.disabled,
.btn.btn-danger[disabled],
fieldset[disabled] .btn.btn-danger,
.btn.btn-danger.disabled:hover,
.btn.btn-danger[disabled]:hover,
fieldset[disabled] .btn.btn-danger:hover,
.btn.btn-danger.disabled:focus,
.btn.btn-danger[disabled]:focus,
fieldset[disabled] .btn.btn-danger:focus,
.btn.btn-danger.disabled:active,
.btn.btn-danger[disabled]:active,
fieldset[disabled] .btn.btn-danger:active,
.btn.btn-danger.disabled.active,
.btn.btn-danger[disabled].active,
fieldset[disabled] .btn.btn-danger.active {
  background-color: transparent;
  border-color: transparent;
  color: #f44336;
}
.btn.btn-primary {
  color: #ffffff;
  background-color: #757575;
  border-color: #757575;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #686868;
  border-color: #5b5b5b;
}
.btn.btn-primary.disabled,
.btn.btn-primary[disabled],
fieldset[disabled] .btn.btn-primary,
.btn.btn-primary.disabled:hover,
.btn.btn-primary[disabled]:hover,
fieldset[disabled] .btn.btn-primary:hover,
.btn.btn-primary.disabled:focus,
.btn.btn-primary[disabled]:focus,
fieldset[disabled] .btn.btn-primary:focus,
.btn.btn-primary.disabled:active,
.btn.btn-primary[disabled]:active,
fieldset[disabled] .btn.btn-primary:active,
.btn.btn-primary.disabled.active,
.btn.btn-primary[disabled].active,
fieldset[disabled] .btn.btn-primary.active {
  background-color: #757575;
  border-color: #757575;
}
.btn.btn-success {
  color: #43a047;
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #347c37;
}
.btn.btn-success.disabled,
.btn.btn-success[disabled],
fieldset[disabled] .btn.btn-success,
.btn.btn-success.disabled:hover,
.btn.btn-success[disabled]:hover,
fieldset[disabled] .btn.btn-success:hover,
.btn.btn-success.disabled:focus,
.btn.btn-success[disabled]:focus,
fieldset[disabled] .btn.btn-success:focus,
.btn.btn-success.disabled:active,
.btn.btn-success[disabled]:active,
fieldset[disabled] .btn.btn-success:active,
.btn.btn-success.disabled.active,
.btn.btn-success[disabled].active,
fieldset[disabled] .btn.btn-success.active {
  background-color: transparent;
  border-color: transparent;
  color: #43a047;
}
.label {
  text-transform: uppercase;
  font-weight: 500;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.label.label-danger {
  background: transparent;
  border-color: transparent;
  color: #f44336;
}
.label.label-info {
  background: transparent;
  border-color: transparent;
  color: #4fc3f7;
}
.label.label-success {
  background: transparent;
  border-color: transparent;
  color: #43a047;
}
.label.label-warning {
  background: transparent;
  border-color: transparent;
  color: #ffa000;
}
.label.label-default {
  background: transparent;
  border-color: transparent;
  color: #616161;
}
.label.label-primary {
  background-color: #757575;
}
.label.label-primary[href]:hover,
.label.label-primary[href]:focus {
  background-color: #5b5b5b;
}
.panel {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.panel .panel-heading {
  -webkit-border-radius: -0.8rem -0.8rem 0 0;
  -moz-border-radius: -0.8rem -0.8rem 0 0;
  border-radius: -0.8rem -0.8rem 0 0;
}
.panel .panel-footer {
  -webkit-border-radius: 0 0 -0.8rem -0.8rem;
  -moz-border-radius: 0 0 -0.8rem -0.8rem;
  border-radius: 0 0 -0.8rem -0.8rem;
}
.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: .2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0 0 0 transparent;
}
.input-lg {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.has-error .help-block,
.has-error .control-label {
  color: #f44336;
}
.has-error .help-block a,
.has-error .control-label a {
  color: #e57373;
}
.has-error .form-control {
  border-color: #f44336;
}
.has-error .input-group-addon {
  color: #f44336;
  background-color: #ffebee;
  border-color: #f44336;
}
.nav-pills > li > a {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}
