:root {
    --bg-light: #ffffff;
    --bg-dark: #000;
    --black: #000;

    --blueDarker: #0d2b7d;
    --blueDark: #0a46ee;
    --blue: #4690ff;
    --blueLight: #72bbff;

    --purpleDark: #524c68;
    --purple: #8c79ff;
    --purpleLight: #8b8aca;

    --cyanDark: #1c3c55;
    --cyan: #2a7193;
    --cyanLight: #37a6d1;
    --cyanLighter: #67caf0;

    --orangeDarker: #ef1d10;
    --orangeDark: #e7442a;
    --orange: #ff6753;
    --orangeLight: #ff977b;

    --grayDarker: #1e2229;
    --grayDark: #2f3749;
    --gray: #52596e;
    --grayLight: #6d748c;
    --grayLighter: #9ea5ba;
}

html {
    background-color: var(--black);
}

main#nova {
    position: relative;
    height: 100%;
}

.nv-hero-stacked-with-image {
    padding-top: 0px;
}

.nv-hero-heading {
    text-transform: uppercase;
}
