.alert {
    border-radius: config('borderRadius.default') !important;

    .swal2-title {
        @apply .font-sans;

        font-weight: config('fontWeights.semibold') !important;
        color: config('colors.grey-800') !important;
    }

    .swal2-content {
        @apply .font-sans;

        color: config('colors.grey-600') !important;
        font-weight: config('fontWeights.normal') !important;
    }
}