@sizes: {
	xs: 24px;
	sm: 32px;
	md: 48px;
	lg: 64px;
}

.avatar-container {
	@apply .flex .items-center .relative .flex-row;
}

.avatar-image {
	@apply .relative;

	.avatar {
		@apply .bg-transparent .bg-no-repeat .bg-cover .bg-center .rounded-full .block;

		height: extract(@sizes, 3);
		width: extract(@sizes, 3);
	}
}

.avatar-label {
	@apply .flex .flex-col .ml-2;

	.avatar-title {
		@apply .font-medium;
	}

	.avatar-meta {
		@apply .text-grey-dark .text-xs .uppercase;

		letter-spacing: 0.02rem;
	}
}

.avatar {
	&::before {
		@apply .absolute .rounded-full;

		content: '';
		height: calc(100% + 6px);
		left: -3px;
		top: -3px;
		width: calc(100% + 6px);
	}

	&.active::before,
	&.primary::before {
		box-shadow: 0 0 0 2px config('colors.primary');
	}

	&.danger::before {
		box-shadow: 0 0 0 2px config('colors.danger');
	}

	&.secondary::before {
		box-shadow: 0 0 0 2px config('colors.grey-light');
	}

	&.success::before {
		box-shadow: 0 0 0 2px config('colors.success');
	}
}

each(@sizes, {
	.avatar-@{key} {
		.avatar {
			height: @value;
			width: @value;
		}

		.avatar-label {
			.avatar-meta {
				font-size: config('textSizes.@{key}');
			}
		}
	}
})

.avatar-xs {
	.avatar-label {
		.avatar-title {
			@apply .text-sm;
		}

		.avatar-meta {
			@apply .text-xs;
		}
	}
}

.avatar-sm {
	// .avatar {
	// 	height: extract(@sizes, 2);
	// 	width: extract(@sizes, 2);
	// }

	.avatar-label {
		.avatar-title {
			@apply .text-base;
		}

		.avatar-meta {
			@apply .text-xs;
		}
	}
}

.avatar-md {
	.avatar {
		// height: extract(@sizes, 3);
		padding: 3px;
		// width: extract(@sizes, 3);
	}

	.avatar-label {
		.avatar-title {
			@apply .text-lg;
		}
	}
}

.avatar-lg {
	.avatar {
		// height: extract(@sizes, 4);
		padding: 3px;
		// width: extract(@sizes, 4);
	}

	.avatar-label {
		.avatar-title {
			@apply .text-xl;
		}

		.avatar-meta {
			@apply .text-sm;
		}
	}
}

.avatar-stack {
	@apply .inline-flex;

	> .avatar-container {
		@apply .-ml-4;

		.avatar {
			@apply .p-0 .border-white;

			border-width: 3px;
		}
	}

	.avatar-more {
		@apply .bg-grey-light .text-grey-dark .h-8 .w-8 .border .border-white .rounded-full .block .text-center;

		border-width: 3px;
		font-size: .65rem;
		line-height: 2.65;
	}
}
