.dropdown {
	@apply .inline-flex .relative .align-top;

	&.is-active,
	&.is-hoverable:hover {
		.dropdown-menu {
			@apply .block;
		}
	}

	&.is-right {
		.dropdown-menu {
			left: auto;
			right: 0;
		}
	}

	&.is-up {
		.dropdown-menu {
			@apply .pb-2;

			bottom: 100%;
			padding-top: initial;
			top: auto;
		}
	}

	&.is-up-right {
		.dropdown-menu {
			@apply .pb-2;

			bottom: 100%;
			left: auto;
			padding-top: initial;
			right: 0;
			top: auto;
		}
	}
}

.dropdown-caret {
	@apply .h-3 .w-4 .ml-2 .text-grey-light;
}

.dropdown-menu {
	@apply .hidden .pt-2 .absolute .z-10;

	left: 0;
	top: 100%;
}

.dropdown-content {
	@apply .bg-white .rounded .border .py-2;
}

.dropdown-item {
	@apply .flex .items-center .text-grey-dark .text-sm .leading-normal .py-1 .px-4 .relative .font-normal;

	.dropdown-icon {
		@apply .h-4 .w-4 .mr-2 .text-grey;
	}

	&.is-subtle {
		@apply .text-grey;
	}
}

a.dropdown-item {
	@apply .pr-12 .whitespace-no-wrap .font-medium;

	&:hover {
		@apply .text-grey-darker;
	}

	&.is-danger {
		@apply .text-danger;

		&:hover {
			@apply .text-danger-dark;
		}
	}
}

.dropdown-divider {
	@apply .bg-grey-lighter .border-none .block .h-px .my-2;
}

.dropdown.is-inverted {
	.dropdown-content {
		@apply .bg-grey-darker .border-transparent;
	}

	.dropdown-item {
		@apply .text-grey-light;

		.dropdown-icon {
			@apply .text-grey;
		}
	}

	a.dropdown-item {
		&:hover {
			@apply .text-white;

			.dropdown-icon {
				@apply .text-grey-lightest;
			}
		}

		&.is-danger {
			@apply .text-grey-light;

			&:hover {
				@apply .text-danger-lighter;

				.dropdown-icon {
					@apply .text-danger-lighter;
				}
			}
		}
	}
}
