.notices {
    @apply .fixed .flex .pin .p-6 .overflow-hidden .z-1000 .pointer-events-none .flex-col;

    .toast {
        @apply .inline-flex .items-center .my-3 .text-center .shadow .rounded .py-4 .px-8 .pointer-events-auto .font-medium .bg-grey-900 .text-grey-200 .self-center;

        opacity: 0.92;

        .action {
            @apply .ml-6;

            .button {
                @apply .m-0 .p-0 .rounded-none .bg-transparent .text-primary-400;

                &:hover {
                    @apply .text-primary-300;
                }

                &.is-danger {
                    @apply .text-danger-400;

                    &:hover {
                        @apply .text-danger-300;
                    }
                }

                &.is-success {
                    @apply .text-success-400;

                    &:hover {
                        @apply .text-success-300;
                    }
                }
            }
        }

        &.is-danger {
            @apply .bg-danger-500 .text-white;
        }

        &.is-success {
            @apply .bg-success-500 .text-white;
        }
    }
}

.toast-animated-enter-active {
    @apply .animated .animated-faster;

    animation-name: fadeInDown;
}

.toast-animated-leave-active {
    @apply .animated .animated-faster;

    animation-name: fadeOutUp;
}