.item-picker {
	@apply .inline-flex .relative .w-full;

	.items-menu {
		@apply .bg-white  .rounded .absolute .w-full .select-none .overflow-y-scroll .shadow;

		max-height: 20rem;
		top: 100%;
		z-index: 1000;

		.items-menu-alert {
			@apply .mt-3;

			.alert {
				@apply .rounded-none;
			}
		}

		.avatar-label {
			@apply .cursor-pointer;
		}
	}

	.items-menu-item {
		@apply .flex .items-center .py-2 .px-4 .cursor-pointer;

		&:hover {
			@apply .bg-grey-lighter;
		}

		.meta {
			@apply .text-grey-dark .ml-2 .font-normal .text-sm;
		}

		&.stacked {
			@apply .flex-col;

			.meta {
				@apply .ml-0;
			}
		}
	}

	.search-group {
		@apply .flex .items-center .justify-between .py-2 .px-4;
	}

	.search-field {
		@apply .flex .items-center .bg-grey-lighter .rounded .py-0 .px-2 .flex-grow;

		input[type="text"] {
			@apply .bg-transparent .border-none .rounded-none .py-3 .px-4 .w-full .text-sm;

			&:focus {
				outline: none;
			}
		}

		svg {
			@apply .text-grey;
		}
	}

	.clear-search {
		@apply .text-grey;

		&:hover {
			@apply .text-danger;
		}
	}
}

.item-picker-selector {
	@apply .flex .items-center .w-full;
}

.item-picker-toggle {
	@apply .bg-white .rounded .w-full .shadow .px-4 .py-3 .mb-1 .select-none;
}

.item-picker-selected {
	@apply .flex .items-center .justify-between .w-full .cursor-default .select-none;

	svg {
		@apply .text-grey;
	}

	.meta {
		@apply .text-grey-dark .ml-2 .font-normal .text-sm;
	}

	.spread {
		@apply .flex .items-center;
	}

	.stacked {
		@apply .flex .flex-col;

		.meta {
			@apply .ml-0;
		}
	}

	.avatar-label {
		@apply .cursor-default;
	}
}
