.switch-container {
    @apply .flex .items-center;
}

.switch-label {
    @apply .ml-3 .font-medium .text-grey-700;
}

.switch {
    @apply .inline-block .relative .flex-no-shrink .rounded-full .cursor-pointer .h-6 .w-11;

    &:focus {
        @apply .outline-none;
    }
}

.switch:before {
    @apply .inline-block .h-full .w-full .rounded-full .bg-grey-100;

    content: "";
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.switch[aria-checked="true"]:before {
    @apply .bg-primary-500;
}

.switch:after {
    @apply .absolute .pin-x .mt-1 .rounded-full .h-4 .w-4 .bg-grey-300;

    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    content: "";
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: translateX(0.25rem);
    transform: translateX(0.25rem);
}

.switch[aria-checked="true"]:after {
    @apply .bg-white;

    -webkit-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}