.switch-wrapper {
	@apply .inline-flex .relative .rounded-full .cursor-pointer .h-6 .w-12;

	&:focus {
		outline: 0;
		box-shadow: 0 0 0 2px rgba(52,144,220,.5);
	}
}

.switch-background {
	@apply .inline-flex .rounded-full .h-full .w-full .bg-grey-light;

	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	transition: background-color .2s ease;

	&.active {
		@apply .bg-primary;
	}
}

.switch-indicator {
	@apply .absolute .h-4 .w-4 .bg-white .rounded-full;

	top: config('height.1');
	left: config('height.1');
	box-shadow:  0 1px 2px rgba(0,0,0,0.1);
	transform: translateX(0);
	transition: transform .2s ease;

	&.active {
		transform: translateX(1.5rem);
	}
}

.switch-wrapper.is-large {
	@apply .h-8 .w-16;

	&:focus {
		box-shadow: 0 0 0 4px rgba(52,144,220,.5);
	}

	.switch-background {
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	}

	.switch-indicator {
		@apply .h-6 .w-6;

		box-shadow:  0 1px 2px rgba(0,0,0,0.1);

		&.active {
			transform: translateX(2rem);
		}
	}
}

.switch-wrapper.is-small {
	@apply .h-4 .w-8;

	&:focus {
		box-shadow: 0 0 0 2px rgba(52,144,220,.5);
	}

	.switch-background {
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	}

	.switch-indicator {
		@apply .h-2 .w-2;

		box-shadow:  0 1px 2px rgba(0,0,0,0.1);

		&.active {
			transform: translateX(1rem);
		}
	}
}
