.toaster-oven {
    @apply .fixed .flex .inset-0 .p-6 .overflow-hidden .z-1000 .pointer-events-none .flex-col;

    .toast {
        @apply .inline-flex .items-center .my-3 .text-center .shadow .rounded .py-4 .px-8 .pointer-events-auto .font-medium .bg-gray-800 .text-gray-100 .self-center;

        @media (min-width: theme('screens.md')) {
            @apply .max-w-lg;
        }

        opacity: 0.92;

        .action {
            @apply .ml-6;

            .button {
                @apply .m-0 .p-0 .rounded-none .bg-transparent .text-blue-300;

                &:hover {
                    @apply .text-blue-200;
                }

                &.is-danger {
                    @apply .text-red-300;

                    &:hover {
                        @apply .text-red-200;
                    }
                }

                &.is-success {
                    @apply .text-green-300;

                    &:hover {
                        @apply .text-green-200;
                    }
                }
            }
        }

        &.is-danger {
            @apply .bg-red-400 .text-white;
        }

        &.is-success {
            @apply .bg-green-400 .text-white;
        }
    }
}

.toast-animated-enter-active {
    @apply .animated .animated-faster;

    animation-name: fadeInDown;
}

.toast-animated-leave-active {
    @apply .animated .animated-faster;

    animation-name: fadeOutUp;
}