.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated-faster {
    animation-duration: 500ms;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}