.data-table {
  margin: 1.5rem 0;
}
.data-table > .row {
  margin-left: 0;
  margin-right: 0;
  border-top: 0.1rem solid #e0e0e0;
}
.data-table > .row p {
  margin: 1rem 0;
}
.data-table > .row .controls {
  display: none;
}
.data-table > .row .controls .btn span {
  display: none;
  padding-left: 0.5rem;
}
.data-table > .row .controls .btn:hover span {
  display: inline-block;
}
.data-table > .row:hover .controls {
  display: block;
}
.data-table.data-table-striped > .row:nth-child(odd) {
  background: #f5f5f5;
}
.data-table.data-table-bordered > .row {
  border-left: 0.1rem solid #e0e0e0;
  border-right: 0.1rem solid #e0e0e0;
}
.data-table.data-table-bordered > .row:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}
.data-table.data-table-bordered > .row:last-child {
  border-bottom: 0.1rem solid #e0e0e0;
  border-radius: 0 0 0.4rem 0.4rem;
}
.data-table.data-table-bordered > .row:nth-child(1):nth-last-child(1) {
  border-bottom: 0.1rem solid #e0e0e0;
  border-radius: 0.4rem;
}

#notification-panel .modal-header {
  background: #fff;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 0;
  height: 6rem;
}
#notification-panel .modal-header .btn-group {
  padding-top: 0.4rem;
  width: 100%;
}
#notification-panel .modal-header h3 {
  margin: 0;
  line-height: 6rem;
}
#notification-panel .modal-dialog {
  height: 100vh;
  min-height: 100vh;
}
#notification-panel .modal-content {
  background: #f5f8fa;
  border: none;
  overflow-y: scroll;
  height: 100vh;
  min-height: 100vh;
}
#notification-panel .modal-body {
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
#notification-panel .modal-footer {
  background: #fff;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
  width: 35rem;
}
#notification-panel .notification:not(:first-child) {
  padding-top: 2.5rem;
}
#notification-panel .notification:not(:last-child) {
  margin-bottom: 2.3rem;
}
#notification-panel .notification {
  position: relative;
  padding: 2rem 1.5rem 0 1.5rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
}
#notification-panel figure {
  position: absolute;
}
#notification-panel .notification-content {
  padding-left: 7rem;
  font-size: 1.4rem;
}
#notification-panel .notification-content .meta {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
}
#notification-panel .notification-content .title {
  flex: 1;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.2rem 0 0;
}
#notification-panel .notification-content .date {
  color: #aaa;
}
#notification-panel .notification-content .notification-body {
  margin-bottom: 1.5rem;
}
#notification-panel .spark-profile-photo {
  height: 5.2rem;
  width: 5.2rem;
}
#notification-panel .fa-stack {
  /*color: @spark-border-color;*/
  font-size: 2.6rem;
}
#notification-panel h4 {
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
}

.modal.docked .modal-dialog {
  position: fixed;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 35rem;
}

.modal.docked.docked-left .modal-dialog {
  left: 0;
}

.modal.docked.docked-right .modal-dialog {
  right: 0;
}

.modal.docked .modal-content {
  border-radius: 0;
  height: 100vh;
}

.modal.docked .modal-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

/*html,
body,
.nova-container,
.nova-pusher,
.nova-content {
	height: 100%;
}*/
html {
  font-size: 62.5% !important;
}

body {
  padding: 2rem 0;
  line-height: 1.75;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7rem;
  color: #444;
}

.navbar-nav > li > a > i {
  padding-right: 0.5rem;
}

h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 3.4rem;
}

a.broken-link {
  font-style: italic;
  color: #d9534f;
}

dl dt {
  margin-top: 1.5rem;
}
dl dd {
  margin-left: 1.5rem;
}

.btn-toolbar {
  margin: 1.5rem 0;
}

.btn {
  font-weight: 500;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
}
.btn span {
  padding-left: 0.5rem;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none !important;
}
.btn.btn-link-icon span {
  float: left;
  margin: 0.25rem 0 0 0;
}
.btn.btn-link-default {
  background: transparent;
  border: none;
  color: #616161;
}
.btn.btn-link-default:hover {
  text-decoration: underline;
}
.btn.btn-link-default:active, .btn.btn-link-default:focus {
  box-shadow: none;
}
.btn.btn-link-danger {
  background: transparent;
  border: none;
  color: #d9534f;
}
.btn.btn-link-danger:hover {
  text-decoration: underline;
}
.btn.btn-link-info {
  background: transparent;
  border: none;
  color: #5bc0de;
}
.btn.btn-link-info:hover {
  text-decoration: underline;
}
.btn.btn-link-success {
  background: transparent;
  border: none;
  color: #5cb85c;
}
.btn.btn-link-success:hover {
  text-decoration: underline;
}
.btn.btn-link-warning {
  background: transparent;
  border: none;
  color: #f0ad4e;
}
.btn.btn-link-warning:hover {
  text-decoration: underline;
}

.label {
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.label.label-primary {
  background-color: #337ab7;
}
.label.label-primary[href]:hover, .label.label-primary[href]:focus {
  background-color: #286090;
}

.panel {
  margin: 1.5rem 0;
  border-radius: 0.4rem;
}
.panel .panel-heading {
  border-radius: -0.6rem -0.6rem 0 0;
}
.panel .panel-footer {
  border-radius: 0 0 -0.6rem -0.6rem;
}

.input-lg {
  border-radius: 0.4rem;
}

.checkbox label, .checkbox-inline label {
  font-weight: 400;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  margin-top: 0.8rem;
}

.radio label, .radio-inline label {
  font-weight: 400;
}
.radio input[type=radio], .radio-inline input[type=radio] {
  margin-top: 0.8rem;
}

.help-block {
  font-size: 1.4rem;
}
.help-block strong {
  font-size: 1.4rem;
}

.has-error .help-block a,
.has-error .control-label a {
  text-decoration: underline;
}

.nav-tabs {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav-tabs > li > a {
  border-radius: 0.4rem 0.4rem 0 0;
}

.tab-content {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.nav-pills {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav-pills > li > a {
  border-radius: 0.4rem;
}
.nav-pills.nav-pills-sm li > a {
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
}

fieldset {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
fieldset legend {
  font-size: 2.4rem;
  font-weight: 500;
  color: #444;
}
fieldset .fieldset-content {
  padding: 0.75rem;
}

.text-sm {
  font-size: 1.4rem;
}

.text-success {
  color: #5cb85c;
}

.text-warning {
  color: #f0ad4e;
}

.text-danger {
  color: #d9534f;
}

.text-info {
  color: #5bc0de;
}

/**
 * SweetAlert
 */
.sweet-alert {
  font-family: "Roboto", helvetica, arial, sans-serif;
  border-radius: 0.4rem;
}
.sweet-alert h2 {
  font-weight: 500;
}
.sweet-alert .sa-icon.sa-error {
  border-color: #d9534f;
}
.sweet-alert .sa-icon.sa-error .sa-line {
  background-color: #d9534f;
}
.sweet-alert .sa-icon.sa-success {
  border-color: #5cb85c;
}
.sweet-alert .sa-icon.sa-success .sa-line {
  background-color: #5cb85c;
}
.sweet-alert .sa-icon.sa-warning {
  border-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
  background-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
  background-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-info {
  border-color: #5bc0de;
}
.sweet-alert .sa-icon.sa-info::before {
  background-color: #5bc0de;
}
.sweet-alert .sa-icon.sa-info::after {
  background-color: #5bc0de;
}

/**
 * UIKit Updates
 */
.uk-nestable .uk-nestable-item .uk-nestable-panel {
  background-color: #f5f5f5;
  border: 0.1rem solid #e0e0e0;
  border-radius: 0.4rem;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nestable-handle {
  padding: 0 0.4rem 0 0;
  color: #bdbdbd;
  font-size: 1.8rem;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls {
  display: none;
  margin: 0.2rem 0 0 0;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a {
  color: #9e9e9e;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a:hover {
  text-decoration: none;
  color: #616161;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a.danger:hover {
  color: #d9534f;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel:hover .uk-nested-item-controls {
  display: block;
}

.sortable-handle {
  padding-right: 0.5rem;
  cursor: move;
  color: #9e9e9e;
}

.nova-access-picker .selected-access-items {
  margin: 0.5rem;
}
.nova-access-picker .selected-access-items .label {
  margin-right: 0.5rem;
  white-space: nowrap;
}
.nova-access-picker .selected-access-items .label .remove {
  margin-left: 0.5rem;
  padding: 0 0 0 0.5rem;
  color: #ffffff;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
.nova-access-picker .selected-access-items .label .remove:hover {
  text-decoration: none;
}
.nova-access-picker .twitter-typeahead {
  width: 100%;
}
.nova-access-picker .tt-menu {
  padding: 0 0.5rem;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}
.nova-access-picker .tt-menu .tt-dataset {
  display: flex;
  flex-flow: row wrap;
}
.nova-access-picker .tt-menu .tt-dataset h4 {
  width: 100%;
}
.nova-access-picker .tt-menu .tt-dataset .tt-suggestion {
  padding: 0.25rem 0.5rem;
  width: 50%;
  margin: 1rem 0;
  /*padding: 1rem;*/
  font-size: 1.4rem;
  border-radius: 0.2rem;
}
.nova-access-picker .tt-menu .tt-dataset .tt-suggestion:hover {
  cursor: pointer;
  background: #337ab7;
  color: #ffffff;
}
.nova-access-picker .tt-menu .tt-dataset .tt-cursor {
  background: #337ab7;
  color: #ffffff;
}

.notification-indicator {
  position: relative;
}
.notification-indicator .unread {
  position: absolute;
  top: 1.2rem;
  right: 1.9rem;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #d9534f;
  border: 0.25rem solid #f8f8f8;
  border-radius: 10rem;
}

[v-cloak] {
  display: none;
}

/*# sourceMappingURL=base.style.css.map */
