.data-table {
  margin: 1.5rem 0;
}
.data-table > .row {
  margin-left: 0;
  margin-right: 0;
  border-top: 0.1rem solid #e0e0e0;
}
.data-table > .row p {
  margin: 1rem 0;
}
.data-table.data-table-striped > .row:nth-child(odd) {
  background: #f5f5f5;
}
.data-table.data-table-bordered > .row {
  border-left: 0.1rem solid #e0e0e0;
  border-right: 0.1rem solid #e0e0e0;
}
.data-table.data-table-bordered > .row:first-child {
  -webkit-border-radius: 0.4rem 0.4rem 0 0;
  -moz-border-radius: 0.4rem 0.4rem 0 0;
  -ms-border-radius: 0.4rem 0.4rem 0 0;
  border-radius: 0.4rem 0.4rem 0 0;
}
.data-table.data-table-bordered > .row:last-child {
  border-bottom: 0.1rem solid #e0e0e0;
  -webkit-border-radius: 0 0 0.4rem 0.4rem;
  -moz-border-radius: 0 0 0.4rem 0.4rem;
  -ms-border-radius: 0 0 0.4rem 0.4rem;
  border-radius: 0 0 0.4rem 0.4rem;
}
.data-table.data-table-bordered > .row:nth-child(1):nth-last-child(1) {
  border-bottom: 0.1rem solid #e0e0e0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

#panel .modal-header {
  background: #fff;
  border-bottom: 0;
  margin-bottom: 0;
  height: 7rem;
}
#panel .modal-header .btn-group {
  padding-top: 0.4rem;
  width: 100%;
}
#panel .modal-dialog {
  height: 100vh;
  min-height: 100vh;
}
#panel .modal-content {
  background: #f5f8fa;
  border: none;
  overflow-y: scroll;
  height: 100vh;
  min-height: 100vh;
}
#panel .modal-body {
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
#panel .modal-footer {
  background: #fff;
  border-top: 0.1rem dashed rgba(0, 0, 0, 0.1);
  width: 35rem;
}
#panel .notification:not(:first-child) {
  padding-top: 2.5rem;
}
#panel .notification:not(:last-child) {
  margin-bottom: 2.3rem;
}
#panel .notification {
  position: relative;
  padding: 2rem 1.5rem 0 1.5rem;
  border-top: 0.1rem dashed rgba(0, 0, 0, 0.1);
}
#panel figure {
  position: absolute;
}
#panel .notification-content {
  padding-left: 7rem;
}
#panel .notification-content .meta {
  display: flex;
  align-content: flex-end;
}
#panel .notification-content .title {
  flex: 1;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.2rem 0 1rem;
}
#panel .notification-content .date {
  color: #aaa;
}
#panel .notification-content .notification-body {
  margin-bottom: 1.5rem;
}
#panel .spark-profile-photo {
  height: 5.2rem;
  width: 5.2rem;
}
#panel .fa-stack {
  /*color: @spark-border-color;*/
  font-size: 2.6rem;
}
#panel h4 {
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
}

.modal.docked .modal-dialog {
  position: fixed;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 35rem;
}

.modal.docked.docked-left .modal-dialog {
  left: 0;
}

.modal.docked.docked-right .modal-dialog {
  right: 0;
}

.modal.docked .modal-content {
  border-radius: 0;
  height: 100vh;
}

.modal.docked .modal-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

/*html,
body,
.nova-container,
.nova-pusher,
.nova-content {
	height: 100%;
}*/
html {
  font-size: 62.5% !important;
}

body {
  padding: 2rem 0;
  line-height: 1.75;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.7rem;
  color: #444;
}

h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 3.4rem;
}

a.broken-link {
  font-style: italic;
  color: #d9534f;
}

dl dt {
  margin-top: 1.5rem;
}
dl dd {
  margin-left: 1.5rem;
}

.btn-toolbar {
  margin: 1.5rem 0;
}

.btn {
  font-weight: 500;
  letter-spacing: 0.05rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none !important;
}
.btn.btn-link-icon span {
  float: left;
  margin: 0.25rem 0 0 0;
}
.btn.btn-link-default {
  background: transparent;
  border: none;
  color: #616161;
}
.btn.btn-link-default:hover {
  text-decoration: underline;
}
.btn.btn-link-default:active, .btn.btn-link-default:focus {
  -webkit-box-shadow: "inset 0 0 0 transparent, inset 0 0 0 transparent, 0 0 0 transparent";
  -moz-box-shadow: "inset 0 0 0 transparent, inset 0 0 0 transparent, 0 0 0 transparent";
  box-shadow: "inset 0 0 0 transparent, inset 0 0 0 transparent, 0 0 0 transparent";
}
.btn.btn-link-danger {
  background: transparent;
  border: none;
  color: #d9534f;
}
.btn.btn-link-danger:hover {
  text-decoration: underline;
}
.btn.btn-link-info {
  background: transparent;
  border: none;
  color: #5bc0de;
}
.btn.btn-link-info:hover {
  text-decoration: underline;
}
.btn.btn-link-success {
  background: transparent;
  border: none;
  color: #5cb85c;
}
.btn.btn-link-success:hover {
  text-decoration: underline;
}
.btn.btn-link-warning {
  background: transparent;
  border: none;
  color: #f0ad4e;
}
.btn.btn-link-warning:hover {
  text-decoration: underline;
}

.label {
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.label.label-primary {
  background-color: #337ab7;
}
.label.label-primary[href]:hover, .label.label-primary[href]:focus {
  background-color: #286090;
}

.panel {
  margin: 1.5rem 0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.panel .panel-heading {
  -webkit-border-radius: -0.6rem -0.6rem 0 0;
  -moz-border-radius: -0.6rem -0.6rem 0 0;
  -ms-border-radius: -0.6rem -0.6rem 0 0;
  border-radius: -0.6rem -0.6rem 0 0;
}
.panel .panel-footer {
  -webkit-border-radius: 0 0 -0.6rem -0.6rem;
  -moz-border-radius: 0 0 -0.6rem -0.6rem;
  -ms-border-radius: 0 0 -0.6rem -0.6rem;
  border-radius: 0 0 -0.6rem -0.6rem;
}

.input-lg {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.checkbox label, .checkbox-inline label {
  font-weight: 400;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  margin-top: 0.8rem;
}

.radio label, .radio-inline label {
  font-weight: 400;
}
.radio input[type=radio], .radio-inline input[type=radio] {
  margin-top: 0.8rem;
}

.help-block {
  font-size: 1.4rem;
}
.help-block strong {
  font-size: 1.4rem;
}

.has-error .help-block a,
.has-error .control-label a {
  text-decoration: underline;
}

.nav-tabs {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0.4rem 0.4rem 0 0;
  -moz-border-radius: 0.4rem 0.4rem 0 0;
  -ms-border-radius: 0.4rem 0.4rem 0 0;
  border-radius: 0.4rem 0.4rem 0 0;
}

.tab-content {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.nav-pills {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav-pills > li > a {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.nav-pills.nav-pills-sm li > a {
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
}

fieldset {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
fieldset legend {
  font-size: 2.4rem;
  font-weight: 500;
  color: #444;
}
fieldset .fieldset-content {
  padding: 0.75rem;
}

.text-sm {
  font-size: 1.4rem;
}

/**
 * SweetAlert
 */
.sweet-alert {
  font-family: "Roboto", helvetica, arial, sans-serif;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.sweet-alert h2 {
  font-weight: 500;
}
.sweet-alert .sa-icon.sa-error {
  border-color: #d9534f;
}
.sweet-alert .sa-icon.sa-error .sa-line {
  background-color: #d9534f;
}
.sweet-alert .sa-icon.sa-success {
  border-color: #5cb85c;
}
.sweet-alert .sa-icon.sa-success .sa-line {
  background-color: #5cb85c;
}
.sweet-alert .sa-icon.sa-warning {
  border-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
  background-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
  background-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-info {
  border-color: #5bc0de;
}
.sweet-alert .sa-icon.sa-info::before {
  background-color: #5bc0de;
}
.sweet-alert .sa-icon.sa-info::after {
  background-color: #5bc0de;
}

/**
 * UIKit Updates
 */
.uk-nestable .uk-nestable-item .uk-nestable-panel {
  background-color: #f5f5f5;
  border: 0.1rem solid #e0e0e0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nestable-handle {
  padding: 0 0.4rem 0 0;
  color: #bdbdbd;
  font-size: 1.8rem;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls {
  display: none;
  margin: 0.2rem 0 0 0;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a {
  color: #9e9e9e;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a:hover {
  text-decoration: none;
  color: #616161;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a.danger:hover {
  color: #d9534f;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel:hover .uk-nested-item-controls {
  display: block;
}

.sortable-handle {
  padding-right: 0.5rem;
  cursor: move;
  color: #9e9e9e;
}

[v-cloak] {
  display: none;
}

/*.nova-container {
	position: relative;
	overflow: hidden;
	padding: 2rem 0;

	border: 0.1rem solid red;
}

.nova-content {
	overflow-y: scroll;
}

.nova-content,
.nova-content-inner {
	position: relative;
}

.nova-container {
	position: relative;
	overflow: hidden;
}

.nova-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.nova-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.nova-panel-open .nova-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.nova-panel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #48a770;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.nova-panel::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.nova-panel-open .nova-panel::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}*/
.nova-panel {
  visibility: visible;
  /*transform: translate3d(100%, 0, 0);*/
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 30rem;
  height: 100%;
  transition: all 0.5s;
  box-shadow: -0.75rem 0 0.75rem rgba(0, 0, 0, 0.1);
  background: #fafafa;
  border-left: 0.1rem solid #dadada;
  padding: 2.5rem 1.75rem;
  overflow-y: scroll;
}
.nova-panel h2 {
  margin: 0 0 1.5rem 0;
  font-size: 2rem;
  text-align: center;
}
.nova-panel h2 .material-icons {
  float: left;
  margin-right: 0.8rem;
}
.nova-panel .nav-pills {
  margin: 0 0 1.5rem 0;
  padding: 0;
  text-align: center;
}
.nova-panel .nav-pills > li {
  margin: 0;
  padding: 0;
  float: none;
  display: inline-block;
}
.nova-panel .nav-pills > li + li {
  margin: 0;
}
.nova-panel .nav-pills > li a {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
