.data-table {
  margin: 1rem 0;
}
.data-table > .row {
  margin-left: 0;
  margin-right: 0;
  border-top: 0.1rem solid #e0e0e0;
}
.data-table > .row p {
  margin: 1rem 0;
}
.data-table > .row .controls {
  display: none;
}
.data-table > .row .controls .btn span {
  display: none;
  padding-left: 0.5rem;
}
.data-table > .row .controls .btn:hover span {
  display: inline-block;
}
.data-table > .row:hover .controls {
  display: block;
}
.data-table.data-table-striped > .row:nth-child(odd) {
  background: #f5f5f5;
}
.data-table.data-table-bordered > .row {
  border-left: 0.1rem solid #e0e0e0;
  border-right: 0.1rem solid #e0e0e0;
}
.data-table.data-table-bordered > .row:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}
.data-table.data-table-bordered > .row:last-child {
  border-bottom: 0.1rem solid #e0e0e0;
  border-radius: 0 0 0.4rem 0.4rem;
}
.data-table.data-table-bordered > .row:nth-child(1):nth-last-child(1) {
  border-bottom: 0.1rem solid #e0e0e0;
  border-radius: 0.4rem;
}

#notification-panel .modal-header {
  background: #fff;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 0;
  height: 6rem;
}
#notification-panel .modal-header .btn-group {
  padding-top: 0.4rem;
  width: 100%;
}
#notification-panel .modal-header h3 {
  margin: 0;
  line-height: 6rem;
}
#notification-panel .modal-dialog {
  height: 100vh;
  min-height: 100vh;
}
#notification-panel .modal-content {
  background: #f5f8fa;
  border: none;
  overflow-y: scroll;
  height: 100vh;
  min-height: 100vh;
}
#notification-panel .modal-body {
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
#notification-panel .modal-footer {
  background: #fff;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
  width: 35rem;
}
#notification-panel .notification:not(:first-child) {
  padding-top: 2.5rem;
}
#notification-panel .notification:not(:last-child) {
  margin-bottom: 2.3rem;
}
#notification-panel .notification {
  position: relative;
  padding: 2rem 1.5rem 0 1.5rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
}
#notification-panel figure {
  position: absolute;
}
#notification-panel .notification-content {
  padding-left: 7rem;
  font-size: 1.4rem;
}
#notification-panel .notification-content .meta {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
}
#notification-panel .notification-content .title {
  flex: 1;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.2rem 0 0;
}
#notification-panel .notification-content .date {
  color: #aaa;
}
#notification-panel .notification-content .notification-body {
  margin-bottom: 1.5rem;
}
#notification-panel .spark-profile-photo {
  height: 5.2rem;
  width: 5.2rem;
}
#notification-panel .fa-stack {
  /*color: @spark-border-color;*/
  font-size: 2.6rem;
}
#notification-panel h4 {
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
}

.modal.docked .modal-dialog {
  position: fixed;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 35rem;
}

.modal.docked.docked-left .modal-dialog {
  left: 0;
}

.modal.docked.docked-right .modal-dialog {
  right: 0;
}

.modal.docked .modal-content {
  border-radius: 0;
  height: 100vh;
}

.modal.docked .modal-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

body {
  padding: 1rem 0;
  line-height: 1.75;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

.navbar {
  margin-bottom: 1.5rem;
}
.navbar .nav-item .nav-link {
  display: flex;
  align-items: center;
}
.navbar .nav-item .nav-link i {
  padding-right: 1.4rem;
}
.navbar .nav-item .nav-link .icon {
  height: 1em;
  width: 1em;
  margin-right: 0.4rem;
}
.navbar .nav-item .nav-link .icon path {
  fill: rgba(0, 0, 0, 0.5);
}
.navbar .nav-item .nav-link:hover .icon path {
  fill: rgba(0, 0, 0, 0.7);
}

h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
}

small {
  font-size: 85%;
}

a.broken-link {
  font-style: italic;
  color: #d9534f;
}

.btn-toolbar {
  margin: 1rem 0;
}

.btn {
  font-weight: 500;
  font-family: "Roboto", helvetica, arial, sans-serif;
}
.btn span {
  padding-left: 0.5rem;
}
.btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

form label {
  font-weight: 500;
}
form .form-control {
  font-family: "Roboto", helvetica, arial, sans-serif;
}
form .form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}
form .form-control::-moz-placeholder {
  color: #bdbdbd;
}
form .form-control:-ms-input-placeholder {
  color: #bdbdbd;
}
form .form-check label {
  font-weight: 400;
}

.alert p:last-child {
  margin-bottom: 0;
}

.picker {
  margin-bottom: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
}
.picker.card-outline-primary {
  border-color: #337ab7;
  box-shadow: inset 0 0 0 0.15rem #337ab7;
}
.picker.card-primary {
  color: rgba(255, 255, 255, 0.65) !important;
  border-color: #337ab7;
  box-shadow: inset 0 0 0 0.15rem #337ab7;
}
.picker h1 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Roboto Slab";
}
.picker h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.picker p, .picker ul li {
  line-height: 1.75;
  text-align: left;
}
.picker p:last-child {
  margin-bottom: 0;
}

i.x2 {
  font-size: 2em;
}
i.x3 {
  font-size: 3em;
}
i.x4 {
  font-size: 4em;
}
i.x5 {
  font-size: 5em;
}

/**
 * SweetAlert
 */
.sweet-alert {
  font-family: "Roboto", helvetica, arial, sans-serif;
  border-radius: 0.4rem;
}
.sweet-alert h2 {
  font-weight: 500;
}
.sweet-alert .sa-icon.sa-error {
  border-color: #d9534f;
}
.sweet-alert .sa-icon.sa-error .sa-line {
  background-color: #d9534f;
}
.sweet-alert .sa-icon.sa-success {
  border-color: #5cb85c;
}
.sweet-alert .sa-icon.sa-success .sa-line {
  background-color: #5cb85c;
}
.sweet-alert .sa-icon.sa-warning {
  border-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
  background-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
  background-color: #f0ad4e;
}
.sweet-alert .sa-icon.sa-info {
  border-color: #5bc0de;
}
.sweet-alert .sa-icon.sa-info::before {
  background-color: #5bc0de;
}
.sweet-alert .sa-icon.sa-info::after {
  background-color: #5bc0de;
}

/**
 * UIKit Updates
 */
.uk-nestable .uk-nestable-item .uk-nestable-panel {
  background-color: #f5f5f5;
  border: 0.1rem solid #e0e0e0;
  border-radius: 0.4rem;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nestable-handle {
  padding: 0 0.4rem 0 0;
  color: #bdbdbd;
  font-size: 1.8rem;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls {
  display: none;
  margin: 0.2rem 0 0 0;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a {
  color: #9e9e9e;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a:hover {
  text-decoration: none;
  color: #616161;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel .uk-nested-item-controls a.danger:hover {
  color: #d9534f;
}
.uk-nestable .uk-nestable-item .uk-nestable-panel:hover .uk-nested-item-controls {
  display: block;
}

.sortable-handle {
  padding-right: 0.5rem;
  cursor: move;
  color: #9e9e9e;
}

.nova-access-picker .selected-access-items {
  margin: 0.5rem;
}
.nova-access-picker .selected-access-items .label {
  margin-right: 0.5rem;
  white-space: nowrap;
}
.nova-access-picker .selected-access-items .label .remove {
  margin-left: 0.5rem;
  padding: 0 0 0 0.5rem;
  color: #ffffff;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
.nova-access-picker .selected-access-items .label .remove:hover {
  text-decoration: none;
}
.nova-access-picker .twitter-typeahead {
  width: 100%;
}
.nova-access-picker .tt-menu {
  padding: 0 0.5rem;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}
.nova-access-picker .tt-menu .tt-dataset {
  display: flex;
  flex-flow: row wrap;
}
.nova-access-picker .tt-menu .tt-dataset h4 {
  width: 100%;
}
.nova-access-picker .tt-menu .tt-dataset .tt-suggestion {
  padding: 0.25rem 0.5rem;
  width: 50%;
  margin: 1rem 0;
  /*padding: 1rem;*/
  font-size: 1.4rem;
  border-radius: 0.2rem;
}
.nova-access-picker .tt-menu .tt-dataset .tt-suggestion:hover {
  cursor: pointer;
  background: #337ab7;
  color: #ffffff;
}
.nova-access-picker .tt-menu .tt-dataset .tt-cursor {
  background: #337ab7;
  color: #ffffff;
}

.notification-indicator {
  position: relative;
}
.notification-indicator i {
  padding: 0;
}
.notification-indicator.unread {
  		/*position: absolute;
  		top: 1.2rem;
  		right: 1.9rem;
  		height: 1rem;
  		width: 1rem;
  
  		background-color: $color-danger;
  		border: 0.1rem solid #f8f8f8;
  		border-radius: 10rem;*/
  color: #d9534f !important;
}
.notification-indicator.unread:hover {
  color: #de6764 !important;
}

[v-cloak] {
  display: none;
}

/*# sourceMappingURL=base.style.css.map */
