@import "../../../../nova/resources/views/design/scss/mixins";

@mixin btn-pseudo-states-text($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:hover,
	&:focus,
	&:active,
	&.active {
		background-color: darken($background, 5%);
		border-color: darken($border, 10%);
		color: darken($color, 10%);
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
			color: $color;
		}
	}
}
