header {
	.anodyne-logo {
		background-image: url(../images/anodyne@3x.png);
		background-size: 6rem 6rem
	}
}

.logo {
	&.mysql {
		background-image: url(../images/mysql@3x.png);
		background-size: 8.5rem 4.4rem;
	}

	&.postgresql {
		background-image: url(../images/postgresql@3x.png);
		background-size: 8.5rem 7.5rem;
	}

	&.sqlite {
		background-image: url(../images/sqlite@3x.png);
		background-size: 8.5rem 4rem;
	}
}