@import "../../../../../resources/views/design/less/colors.less";

@font: "Roboto", helvetica, arial, sans-serif;
@font-heading: "Roboto Condensed";
@font-size: 1.7rem;
@font-size-sm: 1.4rem;
@line-height: 1.75;
@header-height: 6.6rem;

@spacing: 15px;
@spacing-sm: 7px;
@spacing-lg: 30px;
@border-radius: 4px;
@border-radius-lg: 8px;
@border-radius-sm: 2px;

@color-danger: @color-red-500;
@color-success: @color-green-600;
@color-warning: @color-amber-500;
@color-info: @color-light-blue-300;
@color-primary: @color-blue-500;
@color-body-text: #303234;
