@import "variables.setup.less";
@import "../../../../../views/design/less/mixins.less";
@import "../../../../../views/design/less/bs3-mixins.less";

body {
	line-height: @line-height;

	background: @color-bluegrey-50;
	font-family: @font;
	color: #303234;
	font-size: @font-size;
}

header {
	position: relative;
	height: @header-height;
	margin-bottom: 25px;

	background: @color-white;
	color: @color-bluegrey-300;
	font-weight: 300;
	font-family: @font-heading;
	font-size: 32px;

	.product, .process, .divider {
		line-height: 62px;
	}

	.divider {
		color: @color-bluegrey-100;
	}

	.process {
		color: @color-bluegrey-600;
		font-weight: 700;
	}

	.anodyne-logo {
		display: block;
		width: 60px;
		height: @header-height;

		background: transparent url(../images/anodyne-logo.png) center center no-repeat;
	}
}

nav {
	padding: @spacing;

	background: @color-bluegrey-800;
	color: @color-bluegrey-500;
	border: 1px solid rgba(0, 0, 0, .25);

	.rounded(@border-radius-lg);

	ol {
		position: relative;
		margin: 0;
		padding: 0;

		counter-reset: li;
		list-style: none;

		li {
			position: relative;
			margin: 0;
			/*padding: @spacing 10px @spacing 45px;*/
			padding: @spacing 10px;
			line-height: 20px;

			font-size: 14px;

			/*&:before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				left: 10px;
				width: 25px;
				height: 25px;
				line-height: 24px;
				
				font-size: 14px;
				font-weight: 600;
				text-align: center;
				font-family: @font;
				background: @color-bluegrey-500;
				color: @color-bluegrey-800;

				.rounded(50px);
			}

			&:after {
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}*/

			.icn {
				float: left;
				margin-right: @spacing;
			}

			&.step-active {
				color: @color-white;

				&:before {
					background: @color-white;
				}
			}

			&.step-completed {
				color: rgba(255, 255, 255, .5);
				background: @color-bluegrey-600;

				&:before {
					color: @color-bluegrey-600;
					background: rgba(255, 255, 255, .5);
				}

				/*&:first-of-type {
					border-top-left-radius: @border-radius;
					border-top-right-radius: @border-radius;
				}

				&:last-of-type {
					border-bottom-left-radius: @border-radius;
					border-bottom-right-radius: @border-radius;
				}*/
			}
		}
	}
}

main {
	margin-bottom: 25px;

	background: @color-white;
	color: @color-bluegrey-800;
	border: 1px solid rgba(0, 0, 0, .1);

	.rounded(@border-radius-lg);

	.content {
		padding: @spacing;

		a {
			color: @color-primary;

			&:hover {
				color: lighten(@color-primary, 25%);
			}
		}
	}

	.controls {
		padding: @spacing;

		border-top: 1px solid rgba(0, 0, 0, .1);

		p {
			margin: 0;
		}

		.btn {
			&.btn-link {
				color: @color-bluegrey-300;
			}
		}
	}

	h1 {
		margin: 0 0 @spacing 0;
		padding: 0;
		width: auto;

		text-align: center;
		font-size: 28px;
		font-weight: 700;
		font-family: @font-heading;
		color: @color-bluegrey-600;
	}

	h2 {
		margin: 0 0 @spacing-lg 0;

		text-align: center;
		font-size: 15px;
		font-weight: 400;
		color: @color-bluegrey-300;
	}

	h3 {
		text-align: left;
		font-size: 20px;
		font-weight: 700;
		font-family: @font-heading;
		color: @color-bluegrey-600;
	}

	p {
		line-height: @line-height;

		font-size: 15px;
	}

	form {
		.control-label {
			color: @color-bluegrey-600;
		}

		.form-control {
			color: @color-bluegrey-600;
		}

		.input-lg {
			.rounded(@border-radius);
		}

		.help-block {
			margin-bottom: 5px;

			color: @color-bluegrey-300;
			font-size: @font-size-sm;
		}

		.checkbox input[type=checkbox],
		.radio input[type=radio] {
			margin-top: 9px;
		}
	}
}

.thumbnail {
	margin: 10px 0;
	padding: 10px @spacing;

	.rounded(@border-radius-lg);

	h1 {
		font-size: 28px;
		font-weight: 600;
		color: @color-bluegrey-600;
	}

	.icn {
		color: @color-bluegrey-400;
	}
}

footer {
	margin: @spacing auto;

	text-align: center;
	font-size: @font-size-sm;
	color: @color-bluegrey-300;
}

.font-sm {
	font-size: @font-size-sm;
}

.text-error {
	color: @color-danger;

	&:hover {
		color: @color-danger;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font;
}

.btn {
	font-weight: 600;

	.rounded(@border-radius);

	&.btn-primary {
		.btn-pseudo-states(@color-white, @color-primary, @color-primary);
	}
}

hr.partial {
	margin: 25px auto;
	width: 75%;

	border-color: rgba(0, 0, 0, .1);
}

.alert {
	.rounded(@border-radius);
	
	h4 {
		font-weight: 600;
	}
}

code {
	color: @color-primary;
	background: @color-bluegrey-50;
}
