@import "../../../../../views/design/less/variables.less";
@import "../../../../../views/design/less/mixins.less";
@import "../../../../../views/design/less/bs3-mixins.less";

@font: "Open Sans", helvetica, arial, sans-serif;
@font-heading: "Open Sans Condensed";
@font-size: 17px;
@header-height: 66px;
@color-primary: rgb(2, 136, 209);

body {
	line-height: @line-height;

	background: #ededed;
	font-family: @font;
	color: #303234;
	font-size: @font-size;
}

header {
	position: relative;
	height: @header-height;
	margin-bottom: 25px;

	background: @color-white;
	color: #989ea3;
	font-weight: 300;
	font-family: @font-heading;
	font-size: 32px;

	.product, .process, .divider {
		line-height: 62px;
	}

	.divider {
		color: #eaeaea;
	}

	.process {
		color: #323e48;
		font-weight: 700;
	}

	.anodyne-logo {
		display: block;
		width: 60px;
		height: @header-height;

		background: transparent url(../images/anodyne-logo.png) center center no-repeat;
	}

	/*#steps {
		width: 250px;
		line-height: 64px;
		
		text-align: right;

		.step {
			padding: 0 3px;

			color: rgba(255, 255, 255, .65);
			font-weight: normal;
		}
	}*/
}

nav {
	padding: 15px;

	background: #26374a;
	color: #586572;

	.rounded(8px);

	ol {
		position: relative;
		margin: 0;
		padding: 0;

		counter-reset: li;
		list-style: none;

		li {
			position: relative;
			margin: 0;
			padding: 15px 10px 15px 45px;

			font-size: 14px;

			&:before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				left: 10px;
				width: 25px;
				height: 25px;
				line-height: 24px;
				
				font-size: 14px;
				font-weight: 600;
				text-align: center;
				font-family: @font;
				background: #586572;
				color: #26374a;

				.rounded(50px);
			}

			&:after {
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}

			&.step-active {
				color: #fff;

				&:before {
					background: #fff;
				}
			}

			&.step-completed {
				color: rgba(255, 255, 255, .5);
				background: lighten(#26374a, 10%);

				&:before {
					color: lighten(#26374a, 10%);
					background: rgba(255, 255, 255, .5);
				}

				&:first-of-type {
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}

				&:last-of-type {
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}
	}
}

main {
	margin-bottom: 25px;

	background: @color-white;
	color: #26374a;

	.rounded(8px);

	.content {
		padding: 15px;

		a {
			color: @color-primary;

			&:hover {
				color: lighten(@color-primary, 25%);
			}
		}
	}

	.controls {
		padding: 15px;

		border-top: 1px solid #eee;

		p {
			margin: 0;
		}

		.btn {
			&.btn-link {
				color: @color-setup-muted;
			}
		}
	}

	h1 {
		margin: 0 0 15px 0;
		padding: 0;
		width: auto;

		text-align: center;
		font-size: 28px;
		font-weight: 700;
		font-family: @font-heading;
	}

	h2 {
		margin: 0 0 25px 0;
		padding: 0;

		text-align: center;
		font-size: 15px;
		font-weight: 400;
		color: #6b747d;
	}

	h3 {
		text-align: left;
		font-size: 20px;
		font-weight: 700;
		font-family: @font-heading;
	}

	p {
		line-height: 1.75;

		font-size: 15px;
	}
}

.thumbnail {
	margin: 10px 0;
	padding: 10px 15px;

	.rounded(8px);

	h1 {
		font-size: 24px;
		font-weight: 600;
		color: #26374a;
	}

	.icn {
		color: #6b747d;
	}
}

footer {
	margin: 20px auto;

	text-align: center;
	font-size: @font-size-small;
	color: @color-setup-muted;
}

.font-sm {
	font-size: @font-size-small;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font;
}

.btn {
	.rounded(4px);

	&.btn-primary {
		.btn-pseudo-states(@color-white, @color-primary, @color-primary);
	}
}

hr.partial {
	margin: 25px auto;
	width: 65%;
}

.input-lg {
	.rounded(4px);
}

.help-block {
	margin-bottom: 5px;

	color: @color-setup-muted;
	font-size: @font-size-small;
}

.alert {
	.rounded(4px);
	
	h4 {
		font-weight: 600;
	}
}