@import "../../../../../views/design/less/colors.less";

@font: "Open Sans", helvetica, arial, sans-serif;
@font-heading: "Open Sans Condensed";
@font-size: 17px;
@font-size-sm: 13px;
@line-height: 1.75;
@header-height: 66px;

@spacing: 15px;
@spacing-sm: 7px;
@spacing-lg: 30px;
@border-radius: 4px;
@border-radius-lg: 8px;

@color-danger: @color-red-500;
@color-success: @color-green-600;
@color-warning: @color-amber-500;
@color-info: @color-light-blue-300;
@color-primary: @color-blue-500;
@color-body-text: #303234;
