@font: "Open Sans", helvetica, arial, sans-serif;
@font-heading: "Open Sans Condensed";
@font-size: 17px;
@font-size-sm: 13px;
@line-height: 1.75;
@header-height: 66px;

@spacing: 15px;
@spacing-sm: 7px;
@spacing-lg: 30px;
@border-radius: 4px;
@border-radius-lg: 8px;

@color-bluegrey-50: #ECEFF1;
@color-bluegrey-100: #CFD8DC;
@color-bluegrey-200: #B0BEC5;
@color-bluegrey-300: #90A4AE;
@color-bluegrey-400: #78909C;
@color-bluegrey-500: #607D8B;
@color-bluegrey-600: #546E7A;
@color-bluegrey-700: #455A64;
@color-bluegrey-800: #37474F;
@color-bluegrey-900: #263238;

@color-danger: #d9534f;
@color-success: #5cb85c;
@color-warning: #f0ad4e;
@color-info: #5bc0de;
@color-primary: rgb(2, 136, 209);

@color-subtle: #fafafa;
@color-whitegray: #eee;
@color-lightgray: #ddd;
@color-white: #fff;

@color-setup-muted: @color-bluegrey-300;
@color-setup-subtle: #d7dbe1;
@color-setup-blue: #1975ff;
@color-setup-green: #02ab22;
@color-setup-orange: #ffa800;
@color-setup-red: #c00;