$icomoon-font-path: "../fonts" !default;

$icomoon-book3: "\e993";
$icomoon-folder2: "\e9db";
$icomoon-folder-open: "\e9dc";
$icomoon-ticket: "\e9f9";
$icomoon-envelop3: "\ea32";
$icomoon-direction: "\ea4a";
$icomoon-history: "\ea4c";
$icomoon-calendar2: "\ea60";
$icomoon-display: "\ea73";
$icomoon-laptop: "\ea77";
$icomoon-mobile: "\ea78";
$icomoon-tablet: "\ea7a";
$icomoon-key: "\eb4a";
$icomoon-wrench: "\eb58";
$icomoon-magic-wand: "\eb6d";
$icomoon-pie-chart7: "\eb86";
$icomoon-stats-dots: "\eb87";
$icomoon-stats-bars2: "\eb8a";
$icomoon-stats-growth: "\eb90";
$icomoon-trophy2: "\eba7";
$icomoon-gift2: "\ebad";
$icomoon-fire: "\ebe8";
$icomoon-briefcase: "\ec02";
$icomoon-shield: "\ec31";
$icomoon-power2: "\ec49";
$icomoon-cloud2: "\ec79";
$icomoon-cloud-download2: "\ec7a";
$icomoon-cloud-upload2: "\ec7b";
$icomoon-download5: "\ec85";
$icomoon-upload5: "\ec86";
$icomoon-eye: "\ecae";
$icomoon-eye-blocked: "\ecb1";
$icomoon-happy: "\ed02";
$icomoon-sad: "\ed08";
$icomoon-flag5: "\eca8";
$icomoon-home2: "\e901";
$icomoon-pencil: "\e90e";
$icomoon-brush: "\e928";
$icomoon-image: "\e93b";
$icomoon-bullhorn: "\e979";
$icomoon-file-empty: "\e99d";
$icomoon-copy: "\e9b7";
$icomoon-copy3: "\e9c7";
$icomoon-price-tag2: "\e9ee";
$icomoon-location: "\ea38";
$icomoon-clock3: "\ea4f";
$icomoon-bell2: "\ea58";
$icomoon-drawer2: "\ea80";
$icomoon-box: "\ea84";
$icomoon-forward: "\eac1";
$icomoon-reply: "\eac2";
$icomoon-reply-all: "\eac3";
$icomoon-bubble: "\eac4";
$icomoon-bubbles2: "\eac6";
$icomoon-user: "\eaf7";
$icomoon-users: "\eaf8";
$icomoon-search3: "\eb36";
$icomoon-lock5: "\eb55";
$icomoon-unlocked2: "\eb56";
$icomoon-cog2: "\eb61";
$icomoon-leaf: "\ebcd";
$icomoon-meter3: "\ebe3";
$icomoon-lamp8: "\ebfa";
$icomoon-bin2: "\ebfe";
$icomoon-paperplane: "\ec09";
$icomoon-list2: "\ec5a";
$icomoon-menu: "\ec6a";
$icomoon-import: "\ec81";
$icomoon-link: "\ec99";
$icomoon-bookmark2: "\ecb7";
$icomoon-star-empty3: "\ece3";
$icomoon-star-full2: "\ece5";
$icomoon-heart3: "\ece9";
$icomoon-heart4: "\ecea";
$icomoon-thumbs-up3: "\ecf8";
$icomoon-thumbs-down3: "\ecf9";
$icomoon-warning2: "\ed50";
$icomoon-question4: "\ed56";
$icomoon-plus2: "\ed5b";
$icomoon-info2: "\ed64";
$icomoon-blocked: "\ed67";
$icomoon-cross2: "\ed6d";
$icomoon-checkmark4: "\ed72";
$icomoon-enter: "\ed76";
$icomoon-exit: "\ed77";
$icomoon-loop3: "\edaa";
$icomoon-circle-up4: "\edf4";
$icomoon-circle-right4: "\edf6";
$icomoon-circle-down4: "\edf8";
$icomoon-circle-left4: "\edfa";
$icomoon-scissors3: "\ee86";
$icomoon-embed2: "\eecd";
$icomoon-share3: "\eee0";
