:root {
    --blue1: 206, 100%, 99.2%;
    --blue2: 210, 100%, 98.0%;
    --blue3: 209, 100%, 96.5%;
    --blue4: 210, 98.8%, 94.0%;
    --blue5: 209, 95.0%, 90.1%;
    --blue6: 209, 81.2%, 84.5%;
    --blue7: 208, 77.5%, 76.9%;
    --blue8: 206, 81.9%, 65.3%;
    --blue9: 206, 100%, 50.0%;
    --blue10: 208, 100%, 47.3%;
    --blue11: 211, 100%, 43.2%;
    --blue12: 211, 100%, 15.0%;

    --gray1: 0, 0%, 99.0%;
    --gray2: 0, 0%, 97.3%;
    --gray3: 0, 0%, 95.1%;
    --gray4: 0, 0%, 93.0%;
    --gray5: 0, 0%, 90.9%;
    --gray6: 0, 0%, 88.7%;
    --gray7: 0, 0%, 85.8%;
    --gray8: 0, 0%, 78.0%;
    --gray9: 0, 0%, 56.1%;
    --gray10: 0, 0%, 52.3%;
    --gray11: 0, 0%, 43.5%;
    --gray12: 0, 0%, 9.0%;

    --green1: 116, 50.0%, 98.9%;
    --green2: 120, 60.0%, 97.1%;
    --green3: 120, 53.6%, 94.8%;
    --green4: 121, 47.5%, 91.4%;
    --green5: 122, 42.6%, 86.5%;
    --green6: 124, 39.0%, 79.7%;
    --green7: 126, 37.1%, 70.2%;
    --green8: 131, 38.1%, 56.3%;
    --green9: 131, 41.0%, 46.5%;
    --green10: 132, 43.1%, 42.2%;
    --green11: 133, 50.0%, 32.5%;
    --green12: 130, 30.0%, 14.9%;

    --orange1: 24, 70.0%, 99.0%;
    --orange2: 24, 83.3%, 97.6%;
    --orange3: 24, 100%, 95.3%;
    --orange4: 25, 100%, 92.2%;
    --orange5: 25, 100%, 88.2%;
    --orange6: 25, 100%, 82.8%;
    --orange7: 24, 100%, 75.3%;
    --orange8: 24, 94.5%, 64.3%;
    --orange9: 24, 94.0%, 50.0%;
    --orange10: 24, 100%, 46.5%;
    --orange11: 24, 100%, 37.0%;
    --orange12: 15, 60.0%, 17.0%;

    --purple1: 280, 65.0%, 99.4%;
    --purple2: 276, 100%, 99.0%;
    --purple3: 276, 83.1%, 97.0%;
    --purple4: 275, 76.4%, 94.7%;
    --purple5: 275, 70.8%, 91.8%;
    --purple6: 274, 65.4%, 87.8%;
    --purple7: 273, 61.0%, 81.7%;
    --purple8: 272, 60.0%, 73.5%;
    --purple9: 272, 51.0%, 54.0%;
    --purple10: 272, 46.8%, 50.3%;
    --purple11: 272, 50.0%, 45.8%;
    --purple12: 272, 66.0%, 16.0%;

    --red1: 359, 100%, 99.4%;
    --red2: 359, 100%, 98.6%;
    --red3: 360, 100%, 96.8%;
    --red4: 360, 97.9%, 94.8%;
    --red5: 360, 90.2%, 91.9%;
    --red6: 360, 81.7%, 87.8%;
    --red7: 359, 74.2%, 81.7%;
    --red8: 359, 69.5%, 74.3%;
    --red9: 358, 75.0%, 59.0%;
    --red10: 358, 69.4%, 55.2%;
    --red11: 358, 65.0%, 48.7%;
    --red12: 354, 50.0%, 14.6%;

    --yellow1: 39, 70.0%, 99.0%;
    --yellow2: 40, 100%, 96.5%;
    --yellow3: 44, 100%, 91.7%;
    --yellow4: 43, 100%, 86.8%;
    --yellow5: 42, 100%, 81.8%;
    --yellow6: 38, 99.7%, 76.3%;
    --yellow7: 36, 86.1%, 67.1%;
    --yellow8: 35, 85.2%, 55.1%;
    --yellow9: 39, 100%, 57.0%;
    --yellow10: 35, 100%, 55.5%;
    --yellow11: 30, 100%, 34.0%;
    --yellow12: 20, 80.0%, 17.0%;
}

.dark {
    --blue1: 212, 35.0%, 9.2%;
    --blue2: 216, 50.0%, 11.8%;
    --blue3: 214, 59.4%, 15.3%;
    --blue4: 214, 65.8%, 17.9%;
    --blue5: 213, 71.2%, 20.2%;
    --blue6: 212, 77.4%, 23.1%;
    --blue7: 211, 85.1%, 27.4%;
    --blue8: 211, 89.7%, 34.1%;
    --blue9: 206, 100%, 50.0%;
    --blue10: 209, 100%, 60.6%;
    --blue11: 210, 100%, 66.1%;
    --blue12: 206, 98.0%, 95.8%;

    --gray1: 0, 0%, 8.5%;
    --gray2: 0, 0%, 11.0%;
    --gray3: 0, 0%, 13.6%;
    --gray4: 0, 0%, 15.8%;
    --gray5: 0, 0%, 17.9%;
    --gray6: 0, 0%, 20.5%;
    --gray7: 0, 0%, 24.3%;
    --gray8: 0, 0%, 31.2%;
    --gray9: 0, 0%, 43.9%;
    --gray10: 0, 0%, 49.4%;
    --gray11: 0, 0%, 62.8%;
    --gray12: 0, 0%, 93.0%;

    --green1: 146, 30.0%, 7.4%;
    --green2: 136, 33.3%, 8.8%;
    --green3: 137, 36.0%, 11.4%;
    --green4: 137, 37.6%, 13.7%;
    --green5: 136, 38.7%, 16.0%;
    --green6: 135, 39.6%, 19.1%;
    --green7: 134, 40.3%, 23.8%;
    --green8: 131, 40.1%, 30.8%;
    --green9: 131, 41.0%, 46.5%;
    --green10: 131, 39.0%, 52.1%;
    --green11: 131, 43.0%, 57.2%;
    --green12: 137, 72.0%, 94.0%;

    --orange1: 30, 70.0%, 7.2%;
    --orange2: 28, 100%, 8.4%;
    --orange3: 26, 91.1%, 11.6%;
    --orange4: 25, 88.3%, 14.1%;
    --orange5: 24, 87.6%, 16.6%;
    --orange6: 24, 88.6%, 19.8%;
    --orange7: 24, 92.4%, 24.0%;
    --orange8: 25, 100%, 29.0%;
    --orange9: 24, 94.0%, 50.0%;
    --orange10: 24, 100%, 58.5%;
    --orange11: 24, 100%, 62.2%;
    --orange12: 24, 97.0%, 93.2%;

    --purple1: 284, 20.0%, 9.6%;
    --purple2: 283, 30.0%, 11.8%;
    --purple3: 281, 37.5%, 16.5%;
    --purple4: 280, 41.2%, 20.0%;
    --purple5: 279, 43.8%, 23.3%;
    --purple6: 277, 46.4%, 27.5%;
    --purple7: 275, 49.3%, 34.6%;
    --purple8: 272, 52.1%, 45.9%;
    --purple9: 272, 51.0%, 54.0%;
    --purple10: 273, 57.3%, 59.1%;
    --purple11: 275, 80.0%, 71.0%;
    --purple12: 279, 75.0%, 95.7%;

    --red1: 353, 23.0%, 9.8%;
    --red2: 357, 34.4%, 12.0%;
    --red3: 356, 43.4%, 16.4%;
    --red4: 356, 47.6%, 19.2%;
    --red5: 356, 51.1%, 21.9%;
    --red6: 356, 55.2%, 25.9%;
    --red7: 357, 60.2%, 31.8%;
    --red8: 358, 65.0%, 40.4%;
    --red9: 358, 75.0%, 59.0%;
    --red10: 358, 85.3%, 64.0%;
    --red11: 358, 100%, 69.5%;
    --red12: 351, 89.0%, 96.0%;

    --yellow1: 36, 100%, 6.1%;
    --yellow2: 35, 100%, 7.6%;
    --yellow3: 32, 100%, 10.2%;
    --yellow4: 32, 100%, 12.4%;
    --yellow5: 33, 100%, 14.6%;
    --yellow6: 35, 100%, 17.1%;
    --yellow7: 35, 91.0%, 21.6%;
    --yellow8: 36, 100%, 25.5%;
    --yellow9: 39, 100%, 57.0%;
    --yellow10: 43, 100%, 64.0%;
    --yellow11: 39, 90.0%, 49.8%;
    --yellow12: 39, 97.0%, 93.2%;
}