@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'components/avatar.css';
@import 'components/badge.css';
@import 'components/button.css';
@import 'components/card.css';
@import 'components/data-table.css';
@import 'components/dropdown.css';
@import 'components/form.css';
/* @import 'components/grid.css'; */
@import 'components/icon.css';
@import 'components/page-header.css';
@import 'components/panel.css';
@import 'components/picker.css';
@import 'components/search.css';
@import 'components/switch.css';
@import 'components/tab.css';
@import 'components/tag.css';
@import 'components/toast.css';

@import 'tailwindcss/utilities';

@import 'utilities/animation.css';
@import 'utilities/transform.css';
@import 'utilities/transition.css';