@import "tailwindcss/base";

@import "tailwindcss/components";

@import "components/form.css";
@import "components/icon.css";
@import "components/rank.css";

@import "tailwindcss/utilities";

@font-face {
    font-family: "Inter var";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/dist/fonts/Inter-roman.var.woff2?v=3.18") format("woff2");
    font-named-instance: "Regular";
}

@font-face {
    font-family: "Inter var";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/dist/fonts/Inter-italic.var.woff2?v=3.18") format("woff2");
    font-named-instance: "Italic";
}

body,
button {
    font-feature-settings: "ss01", "ss03", "cv11", "zero";
}

[x-cloak] {
    @apply hidden;
}

@layer components {
    .form-select {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23667085' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    }
}

@layer utilities {
    .font-stretch-condensed,
    .font-stretch-75 {
        font-stretch: 75%;
    }

    .font-stretch-normal,
    .font-stretch-100 {
        font-stretch: 100%;
    }

    .font-stretch-expanded,
    .font-stretch-125 {
        font-stretch: 125%;
    }
}

.filament-notifications-notification {
    @apply rounded-lg dark:highlight-white/5 dark:border-none dark:bg-gray-600;
}
