.fi-ta-ctn {
    @apply divide-y-0 rounded-none shadow-none ring-0;
}

.fi-ta-simple .fi-ta-ctn {
    @apply rounded-none shadow-none ring-0;
}

.fi-ta-simple-rounded .fi-ta-ctn {
    @apply rounded-b-lg rounded-t-none shadow-none ring-0;
}

.fi-ta-header-ctn {
    @apply divide-y-0;
}

.fi-ta-header {
    @apply !px-0.5 pb-4;
}
.fi-ta-header-toolbar {
    @apply !px-0.5 pb-4;
}
.fi-ta-header-heading {
    @apply block text-xl font-bold tracking-tight;
}
.fi-ta-header-description {
    @apply text-gray-500 dark:text-gray-400;
}

.fi-ta-content {
    @apply rounded-t-xl bg-gray-950/[.04] px-1.5 pb-px has-[.fi-ta-empty-state]:rounded-b-xl dark:bg-white/[.04];
}

.fi-ta-reorder-indicator + .fi-ta-content {
    @apply rounded-b-xl pb-1.5;
}

.fi-ta-filter-indicators,
.fi-ta-reorder-indicator,
.fi-ta-selection-indicator {
    @apply mb-4 rounded-xl bg-gray-950/[.04] py-2.5 dark:bg-white/[.04];
}

.fi-ta-table {
    @apply divide-y-0;
}
.fi-ta-table thead,
.fi-ta-table thead tr {
    @apply bg-transparent;
}
.fi-ta-table tbody {
    @apply divide-gray-950/5 rounded-lg bg-white ring-1 ring-gray-950/5 dark:divide-white/5 dark:bg-gray-900 dark:ring-white/5;
}
.fi-ta-table tbody tr:first-child td:first-child {
    @apply rounded-tl-lg;
}
.fi-ta-table tbody tr:first-child td:last-child {
    @apply rounded-tr-lg;
}
.fi-ta-table tbody tr:first-child td .fi-ta-group-header {
    @apply rounded-t-lg;
}
.fi-ta-table tbody tr:last-child td:first-child {
    @apply rounded-bl-lg;
}
.fi-ta-table tbody tr:last-child td:last-child {
    @apply rounded-br-lg;
}

.fi-pagination {
    @apply rounded-b-xl bg-gray-950/[.04] px-1.5 dark:bg-white/[.04];
}

.fi-ta-search-field .fi-input-wrp {
    @apply rounded-md;
}

.fi-ta-header-cell-label {
    @apply font-medium !text-gray-500 dark:!text-gray-400;
}

.fi-ta-cell .fi-ta-title-column .fi-ta-text-item {
    @apply text-gray-950 dark:text-white;
}
.fi-ta-cell .fi-ta-text-item {
    @apply text-gray-600 dark:text-gray-400;
}

.fi-ta-empty-state-icon {
    @apply h-16 w-16;
}
.fi-ta-empty-state-content {
    @apply space-y-3;
}
.fi-ta-empty-state-heading {
    @apply font-semibold;
}
.fi-ta-empty-state-description {
    @apply text-base leading-relaxed text-gray-600 dark:text-gray-300;
}

.fi-btn {
    @apply relative isolate inline-flex items-center justify-center gap-x-2 rounded-lg border text-base/6 font-semibold shadow-none ring-0 focus:outline-none disabled:opacity-50;
}

.fi-btn:not(.fi-btn-outlined) {
    @apply border-transparent bg-[--btn-border] before:absolute before:inset-0 before:-z-10 before:rounded-[calc(theme(borderRadius.lg)-1px)] before:bg-[--btn-bg] before:shadow after:absolute after:inset-0 after:-z-10 after:rounded-[calc(theme(borderRadius.lg)-1px)] after:shadow-[shadow:inset_0_1px_theme(colors.white/15%)] hover:!bg-[--btn-border] after:hover:bg-[--btn-hover-overlay] after:active:bg-[--btn-hover-overlay] before:disabled:shadow-none after:disabled:shadow-none dark:border-white/5 dark:bg-[--btn-bg] dark:before:hidden dark:after:-inset-px dark:after:rounded-lg;
}

.fi-btn.fi-btn-outlined {
    @apply border-gray-950/10 text-gray-950 [--btn-icon:theme(colors.gray.500)] hover:bg-gray-950/[2.5%] hover:[--btn-icon:theme(colors.gray.700)] active:bg-gray-950/[2.5%] active:[--btn-icon:theme(colors.gray.700)] dark:border-white/15 dark:text-white dark:[--btn-bg:transparent] dark:hover:bg-white/5 dark:hover:[--btn-icon:theme(colors.gray.400)] dark:active:bg-white/5 dark:active:[--btn-icon:theme(colors.gray.400)];
}

.fi-btn > .fi-btn-icon {
    @apply -mx-0.5 shrink-0 text-[--btn-icon];
}

.fi-btn.fi-size-xs {
    @apply px-[calc(theme(spacing.[2.5])-1px)] py-[calc(theme(spacing.1)-1px)] text-xs/5;
}
.fi-btn.fi-size-sm {
    @apply px-[calc(theme(spacing.[2.5])-1px)] py-[calc(theme(spacing.1)-1px)] text-sm/5;
}
.fi-btn.fi-size-md {
    @apply px-[calc(theme(spacing[3.5])-1px)] py-[calc(theme(spacing[2.5])-1px)] sm:px-[calc(theme(spacing.3)-1px)] sm:py-[calc(theme(spacing[1.5])-1px)] sm:text-sm/6;
}

.fi-btn.fi-color-custom {
    @apply text-white [--btn-bg:theme(colors.custom.500)] [--btn-border:theme(colors.custom.600/80%)] [--btn-hover-overlay:theme(colors.white/10%)] [--btn-icon:theme(colors.white/60%)] hover:[--btn-icon:theme(colors.white/80%)] active:[--btn-icon:theme(colors.white/80%)];
}
.fi-btn:not(.fi-btn-outlined).fi-color-gray {
    @apply text-gray-950 [--btn-icon:theme(colors.gray.500)] [--btn-bg:white] [--btn-border:theme(colors.gray.950/10%)] [--btn-hover-overlay:theme(colors.gray.950/2.5%)] hover:[--btn-icon:theme(colors.gray.700)] hover:[--btn-border:theme(colors.gray.950/15%)] active:[--btn-icon:theme(colors.gray.700)] active:[--btn-border:theme(colors.gray.950/15%)] dark:text-white dark:[--btn-bg:theme(colors.gray.800)] dark:[--btn-hover-overlay:theme(colors.white/5%)] dark:[--btn-icon:theme(colors.gray.500)] dark:hover:[--btn-icon:theme(colors.gray.400)] dark:active:[--btn-icon:theme(colors.gray.400)];
}
.fi-btn.fi-btn-outlined.fi-color-gray {
    @apply text-gray-950 [--btn-icon:theme(colors.gray.500)] [--btn-bg:white] [--btn-border:theme(colors.gray.950/10%)] [--btn-hover-overlay:theme(colors.gray.950/2.5%)] hover:[--btn-icon:theme(colors.gray.700)] hover:[--btn-border:theme(colors.gray.950/15%)] active:[--btn-icon:theme(colors.gray.700)] active:[--btn-border:theme(colors.gray.950/15%)] dark:text-white dark:[--btn-bg:theme(colors.gray.800)] dark:[--btn-hover-overlay:theme(colors.white/5%)] dark:[--btn-icon:theme(colors.gray.500)] dark:hover:[--btn-icon:theme(colors.gray.400)] dark:active:[--btn-icon:theme(colors.gray.400)];
}

.fi-input-wrp:has(.fi-input) {
    @apply relative flex w-full rounded-lg bg-transparent p-0 shadow-none ring-0 before:absolute before:inset-px before:rounded-[calc(theme(borderRadius.lg)-1px)] before:bg-white before:shadow after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:ring-inset after:ring-transparent focus-within:!ring-0 has-[[data-disabled]]:opacity-50 before:has-[[data-disabled]]:bg-gray-950/5 before:has-[[data-disabled]]:shadow-none before:has-[[data-invalid]]:shadow-danger-500/10 dark:before:hidden sm:after:focus-within:ring-2 sm:after:focus-within:ring-primary-500;
}
.fi-input-wrp .fi-input {
    @apply relative block w-full appearance-none rounded-lg border !border-solid border-gray-950/10 bg-transparent px-[calc(theme(spacing[3.5])-1px)] py-[calc(theme(spacing[2.5])-1px)] text-base/6 text-gray-950 placeholder:text-gray-500 invalid:border-danger-500 hover:border-gray-950/20 invalid:hover:border-danger-500 focus:outline-none focus:ring-0 disabled:border-gray-950/20 dark:border-white/10 dark:bg-white/5 dark:text-white invalid:dark:border-danger-500 dark:hover:border-white/20 invalid:hover:dark:border-danger-500 disabled:dark:border-white/15 disabled:dark:bg-white/[2.5%] dark:hover:disabled:border-white/15 sm:px-[calc(theme(spacing[3])-1px)] sm:py-[calc(theme(spacing[1.5])-1px)] sm:text-sm/6;
}

.fi-fo-select,
.fi-input-wrp:has(.fi-select-input) {
    @apply relative flex w-full p-0 shadow-none ring-0 before:absolute before:inset-px before:rounded-[calc(theme(borderRadius.lg)-1px)] before:bg-white before:shadow after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:ring-inset after:ring-transparent focus-within:!ring-0 has-[[data-disabled]]:opacity-50 before:has-[[data-disabled]]:bg-gray-950/5 before:has-[[data-disabled]]:shadow-none dark:before:hidden sm:after:focus-within:ring-2 sm:after:focus-within:ring-primary-500;
}
.fi-fo-select .fi-select-input,
.fi-input-wrp:has(.fi-select-input) .fi-select-input,
.fi-fo-select .choices__inner {
    @apply relative block w-full appearance-none rounded-lg border !border-solid border-gray-950/10 bg-transparent py-[calc(theme(spacing[2.5])-1px)] pl-[calc(theme(spacing[3.5])-1px)] pr-[calc(theme(spacing.10)-1px)] text-base/6 text-gray-950 placeholder:text-gray-500 invalid:border-danger-500 hover:border-gray-950/20 invalid:hover:border-danger-500 focus:outline-none disabled:border-gray-950/20 disabled:opacity-100 dark:border-white/10 dark:bg-white/5 dark:text-white invalid:dark:border-danger-600 dark:hover:border-white/20 invalid:hover:dark:border-danger-600 disabled:dark:border-white/15 disabled:dark:bg-white/[2.5%] dark:hover:disabled:border-white/15 sm:py-[calc(theme(spacing[1.5])-1px)] sm:pl-[calc(theme(spacing.3)-1px)] sm:pr-[calc(theme(spacing.9)-1px)] sm:text-sm/6 [&_optgroup]:font-semibold;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' aria-hidden='true' fill='none' stroke='%236B7280'%3E%3Cpath d='M5.75 10.75L8 13L10.25 10.75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M10.25 5.25L8 3L5.75 5.25' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-size: 1rem 1rem;
}
.dark .fi-select-input,
.dark .choices__inner {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' aria-hidden='true' fill='none' stroke='%239CA3AF'%3E%3Cpath d='M5.75 10.75L8 13L10.25 10.75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M10.25 5.25L8 3L5.75 5.25' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    @apply rounded-lg ring-gray-950/5 dark:ring-white/5;
}

.choices__list--single .choices__item,
.choices__input {
    @apply text-gray-950 placeholder:text-gray-950 dark:text-white dark:placeholder:text-white sm:text-sm/6;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    @apply bg-gray-100 dark:hover:bg-gray-600/50;
}
.choices__placeholder {
    @apply opacity-100;
}

/* Color picker preview circle */
.fi-fo-color-picker .fi-input + div {
    @apply absolute inset-y-0 right-0;
}

.fi-ta-search-field .fi-input-wrp > div:first-child {
    @apply absolute inset-y-0 left-0;
}
.fi-ta-search-field .fi-input-wrp .fi-input {
    @apply pl-10;
}

.fi-pagination-records-per-page-select .fi-input-wrp > div:first-child {
    @apply absolute inset-y-0 left-0 flex items-center border-none;
}
.fi-pagination-records-per-page-select .fi-input-wrp .fi-select-input {
    @apply pl-24;
}

.fi-icon-btn {
    @apply focus:!ring-0;
}
.fi-icon-btn-gray {
    @apply text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300;
}
.fi-icon-btn-primary {
    @apply text-primary-500 hover:text-primary-600 dark:hover:text-primary-400;
}
.fi-icon-btn-danger {
    @apply text-danger-500 hover:text-danger-600 dark:hover:text-danger-400;
}

.fi-dropdown-list {
    @apply p-1.5;
}
.fi-dropdown-list-item {
    @apply gap-3 px-3 text-base font-medium md:text-sm;
}
.fi-dropdown-list-item-color-gray {
    @apply text-gray-700 dark:text-gray-300;
}
.fi-dropdown-list-item-color-gray .fi-dropdown-list-item-icon {
    @apply text-gray-500 dark:text-gray-400;
}

.fi-badge {
    @apply inline-flex items-center gap-x-1.5 rounded-md bg-gray-50 px-1.5 py-0.5 text-xs/5 font-medium text-gray-700 ring-1 ring-inset ring-gray-200 dark:bg-gray-900 dark:text-gray-300 dark:ring-gray-700;
}
.fi-badge.fi-color-custom {
    @apply bg-custom-50 text-custom-700 ring-custom-200 dark:bg-custom-950 dark:text-custom-300 dark:ring-custom-800;
}
.fi-icon-btn-badge-ctn > .fi-badge {
    @apply py-0;
}

.fi-ta-toggle > div,
.fi-fo-toggle {
    @apply relative isolate inline-flex h-6 w-10 cursor-default rounded-full border-none bg-gray-200 p-[3px] ring-1 ring-inset ring-black/5 hover:ring-black/15 focus:outline-none dark:ring-white/15 dark:hover:ring-white/25 sm:h-5 sm:w-8;
}
.fi-ta-toggle > div > span,
.fi-fo-toggle > span {
    @apply pointer-events-none relative inline-block size-[1.125rem] rounded-full border border-transparent bg-white shadow ring-1 ring-black/5 sm:size-3.5;
}
.fi-ta-toggle > div.fi-color-gray,
.fi-fo-toggle.fi-color-gray {
    @apply bg-gray-200 ring-black/5 hover:ring-black/15 dark:bg-white/[.04] dark:ring-white/15 dark:hover:ring-white/25;
}
.fi-ta-toggle > div.fi-color-gray > span,
.fi-fo-toggle.fi-color-gray > span {
    @apply translate-x-0 ring-black/5;
}
.fi-ta-toggle > div.fi-color-custom,
.fi-fo-toggle.fi-color-custom {
    @apply bg-custom-500 ring-custom-600/80 hover:ring-black/15 dark:ring-transparent dark:hover:ring-transparent;
}
.fi-ta-toggle > div.fi-color-custom > span,
.fi-fo-toggle.fi-color-custom > span {
    @apply translate-x-4 shadow shadow-custom-900/20 ring-custom-600/80 sm:translate-x-3;
}

.fi-ta-toggle[data-panda] > div.fi-color-custom,
.fi-fo-toggle[data-panda].fi-color-custom {
    @apply bg-gray-900 ring-gray-950/90 hover:ring-black/15 dark:bg-gray-600 dark:ring-transparent dark:hover:ring-transparent;
}

.fi-checkbox-input {
    @apply checked:bg-primary-500 checked:hover:bg-primary-500 checked:focus:bg-primary-500;
}
body[data-panda] .fi-checkbox-input {
    @apply checked:bg-gray-900 checked:hover:bg-gray-900 dark:checked:bg-gray-600 dark:checked:hover:bg-gray-600;
}

.fi-radio-input {
    @apply checked:bg-primary-500 checked:hover:bg-primary-500;
}
body[data-panda] .fi-radio-input {
    @apply checked:bg-gray-900 checked:hover:bg-gray-900 dark:checked:bg-gray-600 dark:checked:hover:bg-gray-600;
}

.fi-section {
    @apply rounded-xl bg-gray-950/[.04] p-1.5 shadow-none ring-1 ring-inset ring-gray-950/[.025] dark:bg-white/[.04] dark:ring-white/[.025];
}
.fi-section-header {
    @apply p-4;
}
.fi-section-content-ctn {
    @apply rounded-lg border-none bg-white shadow ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/5;
}

.tiptap-editor {
    @apply rounded-lg shadow;
}
.tiptap-wrapper {
    @apply rounded-lg;
}
.tiptap-toolbar {
    @apply rounded-t-lg bg-gray-950/[.04] dark:bg-white/[.04];
}
.tiptap-prosemirror-wrapper + div {
    @apply rounded-br-lg border-l border-gray-950/5 dark:border-white/5;
}

.fi-modal-slide-over-window {
    @apply right-4 top-2 h-[calc(100dvh-theme(spacing.8))] rounded-xl ring-1 ring-gray-950/5 dark:ring-white/5;
}
.fi-modal-slide-over-window .fi-modal-header {
    @apply border-none;
}
.fi-modal-slide-over-window .fi-modal-header .fi-modal-heading {
    @apply block font-[family-name:--font-header] text-xl font-bold tracking-tight text-gray-900 dark:text-white;
}
