@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
@import "variables.less";
@import "mixins.less";

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon/icomoon-ultimate.eot');
	src: url('fonts/icomoon/icomoon-ultimate.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon/icomoon-ultimate.svg#icomoon') format('svg'),
		url('fonts/icomoon/icomoon-ultimate.woff') format('woff'),
		url('fonts/icomoon/icomoon-ultimate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	line-height: @line-height;

	background: #e9eef4;
	font-family: @font-primary;
	color: #303234;
}

header {
	position: relative;
	height: 100px;

	background: #f6f7fa;
	border-bottom: 1px solid #bbc4cf;
	text-align: center;

	.logo {
		display: block;
		width: 100%;
		height: 100px;

		background: transparent url(images/logo.png) no-repeat top center;
	}
}

.head {
	position: relative;
	padding: .5em 0;

	h1 {
		margin: 0 0 15px 0;

		font-size: 40px;
		color: #315784;
		font-weight: 300;
	}

	#steps {
		float: right;
		width: 250px;
		text-align: right;

		.step {
			padding: 0 3px;

			color: @color-muted;
			font-weight: normal;
			text-shadow: 0 1px 0 @color-white;

			&.step-complete {
				color: #086baf;
			}

			&.step-active {
				color: @color-orange;
			}
		}
	}
}

section {
	font-size: @font-size;
	border-top: 1px solid #f6f7fa;

	a {
		color: @color-muted;
		text-decoration: none;
		border-bottom: 1px solid;
		outline: none;

		&:hover {
			color: #466b8c;
			text-decoration: none;
		}
	}

	h2, h3 {
		margin: 12px 0;

		font-weight: 600;
		color: darken(@color-muted, 20%);
	}
	h3 {
		font-size: 28px;
	}
	p, dt, dd, li {
		line-height: @line-height;

		color: #303234;
		font-size: @font-size;
	}

	.icn {
		text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	}

	blockquote {
		margin: 15px 0;

		border-color: @color-subtle;

		h4 {
			font-weight: 600;
			font-size: 20px;
			color: darken(@color-muted, 20%);
		}

		p {
			line-height: @line-height;
			margin: 10px 0;

			color: darken(@color-muted, 10%);
			font-weight: 300;
			font-size: @font-size;
		}
	}

	.lower {
		margin-top: 25px;
		padding: 20px 0;
		display: block;

		color: #667484;
		border-top: 1px solid @color-subtle;

		a.pull-right {
			color: @color-muted;
			text-decoration: none;
			border-bottom: 1px solid;
			font-size: @font-size-small;

			&:hover {
				color: #466b8c;
				text-decoration: none;
			}
		}
	}

	hr {
		border-top: 1px solid @color-subtle;
		border-bottom: 1px solid rgba(255, 255, 255, .75);
	}

	.row {
		margin: 10px 0;
	}

	form {
		input[type="text"],
		input[type="password"],
		textarea,
		select {
			font-family: @font-primary;
		}

		label {
			font-weight: 600;
			font-family: @font-primary;
			color: #555;
			font-size: @font-size;
		}

		.help-block {
			margin: 0 0 10px 0;

			color: @color-muted;
			font-size: @font-size-small;
		}

		.has-error {
			label {
				color: @color-red;
			}

			.input-with-feedback {
				border-color: @color-red;
			}

			.help-block {
				color: @color-red;
				font-weight: 600;
			}
		}
	}

	fieldset {
		legend {
			border-color: @color-subtle;
		}

		legend + .control-group {
			margin-top: 10px;
		}
	}

	.text-info {
		color: @color-blue;
	}
	.text-error {
		color: @color-red;
	}
	.text-success {
		color: @color-green;
	}
	.text-warning {
		color: @color-orange;
	}

	.label {
		padding: 2px 4px 3px 4px;

		.rounded;

		&.label-success {
			background: @color-green;
		}

		&.label-error {
			background: @color-red;
		}

		&.label-warning {
			background: @color-orange;
		}

		&.label-info {
			background: @color-blue;
		}
	}

	.btn {
		padding: 8px 16px;

		border-color: #939da9;
		border-top-color: #9ca7b4;
		border-bottom-color: #87919c;
		color: #315784;
		text-shadow: 0 1px 0 @color-white;
		font-family: @font-primary;
		font-weight: 600;
		font-size: @font-size;
		outline: none !important;
		
		.background-clip;
		.rounded;
		.gradient-gloss(@color-white, #f0f1f2, #e4e8ed, #d4d8dc);
		.box-shadow(~"0 1px 3px rgba(0, 0, 0, .25)");

		&:hover {
			color: darken(#315784, 10%);
			text-shadow: 0 1px 0 @color-white;
			
			.gradient-gloss(darken(@color-white, 3%), darken(#f0f1f2, 3%), darken(#e4e8ed, 3%), darken(#d4d8dc, 3%));
			.box-shadow(~"inset 0 1px 0 #fff, 0 1px 3px rgba(0, 0, 0, .25)");
		}

		&.btn-primary {
			color: @color-white;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
			border-color: #2b72b5;
			border-top-color: #3583cc;
			border-bottom-color: #2363a2;

			.gradient-gloss(#83bbed, #60a8e6, #499ae2, #4194df);
			.box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 3px rgba(0, 0, 0, .25)");

			&:hover {
				.gradient-gloss(darken(#83bbed, 5%), darken(#60a8e6, 5%), darken(#499ae2, 5%), darken(#4194df, 5%));
			}
		}

		&.btn-danger {
			color: @color-white;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
			border-color: #720a0b;

			.gradient-gloss(#df5858, #bf3839, #b71c1c, #b32222);
			.box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 3px rgba(0, 0, 0, .25)");

			&:hover {
				.gradient-gloss(lighten(#df5858, 5%), lighten(#bf3839, 5%), lighten(#b71c1c, 5%), lighten(#b32222, 5%));
			}
		}

		&.btn-small {
			padding: 4px 8px;

			font-size: @font-size-small;
			font-weight: 600;
		}

		&.btn-mini {
			padding: 2px 4px;

			font-size: @font-size-small;
			font-weight: 400;
		}
	}

	.thumbnail {
		margin: 10px 0;
		padding: 0 10px;

		background: lighten(#e9eef4, 3%);
		border-color: #bbc4cf;

		.box-shadow(~"inset 0 1px 0 #fff, 0 1px 3px rgba(0, 0, 0, .1)");

		.btn {
			.box-shadow(~"inset 0 1px 0 #fff");

			&.btn-danger, &.btn-primary {
				.box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, .25)");
			}
		}

		.icn {
			height: 50px;
			margin-bottom: 40px;

			font-size: 64px;
			text-align: center;
			text-shadow: 0 1px 0 @color-white;
		}

		h4 {
			text-align: center;

			small {
				display: block;
				margin-top: 10px;
			}
		}
	}
}

footer {
	text-align: center;
	font-size: @font-size-small;
	color: @color-muted;
}

#loading {
	text-align: center;

	h2 {
		small {
			display: block;
		}
	}
}
#loaded {
	position: relative;
}

.font-small {
	font-size: @font-size-small;
}

.icn {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal !important;
}
.icn16 {
	font-size: 16px !important;
}
.icn24 {
	font-size: 24px !important;
}
.icn32 {
	font-size: 32px !important;
}

[data-icon]:before {
	content: attr(data-icon);
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font-primary;
}