@font-base: helvetica, arial, sans-serif;
@font-primary: "Open Sans", @font-base;
@font-size: 16px;
@font-size-small: 13px;
@line-height: 1.75;

@color-white: #fff;
@color-muted: #8b96a2;
@color-subtle: #d7dbe1;