.data-table {
	margin: 1rem 0;

	> .row {
		border-top: 1px solid $gray-300;
		margin-left: 0;
		margin-right: 0;
		padding: .75rem 0;

		&.header,
		.header {
			background: $gray-200 !important;
			font-weight: bold;

			.title {
				margin: 0;
			}

			.btn-toolbar {
				margin: 0;
			}
		}

		> .col {
			> .row {
				+ .row {
					padding-top: .75rem;
				}
			}
		}
	}

	&.striped {
		> .row:nth-child(odd) {
			background: $gray-100;

			.avatar-image .status {
				border-color: $gray-100;
			}
		}
	}

	&.bordered {
		> div {
			border-left: 1px solid $gray-300;
			border-right: 1px solid $gray-300;

			&:first-child {
				border-radius: $radius $radius 0 0;
			}

			&:last-child {
				border-bottom: 1px solid $gray-300;
				border-radius: 0 0 $radius $radius;
			}

			&:nth-child(1):nth-last-child(1) {
				border-bottom: 1px solid $gray-300;
				border-radius: $radius;
			}
		}
	}
}
