.item-picker {
	display: inline-flex;
	position: relative;
	width: 100%;

	.items-menu {
		background: $white;
		border: 1px solid $gray-200;
		border-radius: $radius;
		max-height: 20rem;
		overflow-y: scroll;
		position: absolute;
		top: 100%;
		user-select: none;
		width: 100%;
		z-index: 1000;

		.items-menu-alert {
			margin-top: .75rem;

			.alert {
				border-radius: 0;
			}
		}

		.avatar-label {
			cursor: pointer;
		}
	}

	.items-menu-item {
		align-items: center;
		cursor: pointer;
		display: flex;
		padding: .5rem 1rem;

		&:hover {
			background: $gray-200;
		}

		.meta {
			color: $gray-500;
			font-weight: 400;
			margin-left: .5rem;
		}

		&.stacked {
			align-items: left;
			flex-direction: column;

			.meta {
				margin-left: 0;
			}
		}
	}

	.search-group {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: .5rem 1rem;
	}

	.search-field {
		align-items: center;
		background: $gray-200;
		border-radius: $radius;
		display: flex;
		flex-grow: 1;
		padding: 0 .5rem;

		input[type="text"] {
			background: transparent;
			border: none;
			border-radius: 0;
			font-size: 85%;
			padding: .5rem .75rem;
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		svg {
			color: $gray-500;
		}
	}

	.clear-search {
		color: $gray-500;

		&:hover {
			color: map-get($theme-colors, 'danger');
		}
	}
}

.item-picker-selector {
	align-items: center;
	display: flex;
	width: 100%;
}

.item-picker-toggle {
	background: $white;
	border: 1px solid $input-border-color;
	border-radius: $radius;
	margin-bottom: 2px;
	padding: .5rem 1rem;
	user-select: none;
	width: 100%
}

.item-picker-selected {
	align-items: center;
	cursor: default;
	display: flex;
	justify-content: space-between;
	width: 100%;
	user-select: none;

	svg {
		color: $gray-500;
	}

	.meta {
		color: $gray-500;
		font-weight: 700;
	}

	.stacked {
		align-items: left;
		display: flex;
		flex-direction: column;

		.meta {
			font-weight: 400;
		}
	}

	.avatar-label {
		cursor: default;
	}
}