// Body
// $body-bg: #f5f8fa;

// Borders
// $laravel-border-color: darken($body-bg, 10%);
// $list-group-border: $laravel-border-color;
// $navbar-default-border: $laravel-border-color;
// $panel-default-border: $laravel-border-color;
// $panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #0275d8;
$brand-info: #5bc0de;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

// Typography
$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-family-sans-serif: "Overpass", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;

// Navbar
// $navbar-default-bg: #fff;

// Buttons
// $btn-default-color: $text-color;

// Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);

// Panels
// $panel-default-heading-bg: #fff;

$radius: 0.25rem;

$space: 1rem;
$space-xs: 0.25rem;
$space-sm: 0.5rem;
