// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @import url("https://fonts.googleapis.com/css?family=Overpass:300,400,600");

// Variables
@import "_variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

h1 {
	margin-bottom: 2rem;
}

.alert {
	&.alert-flash {
		position: fixed;
		right: 1rem;
		bottom: 0;
		z-index: 1000;

		box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.btn-toolbar {
	margin-bottom: 1rem;

	.btn-group + .btn-group {
		margin-left: 0.5rem;
	}
}

.btn {
	font-family: $font-family-sans-serif;

	&:active, &:focus {
		box-shadow: none;
		color: inherit;
	}
}

.form-control-label {
	font-weight: 500;
}

.form-control {
	font-family: $font-family-sans-serif;
}

.form-text {
	margin-left: 0.15rem;
}

.form-check-input {
	margin-top: 0.4rem;
}

.dropdown-item {
	.fa-fw {
		margin-right: 0.25rem;
		
		opacity: 0.8;
	}
}

[v-cloak] {
	display: none !important;
}
