// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @import url("https://fonts.googleapis.com/css?family=Overpass:300,400,600");

// Variables
@import "_variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap", "~bootstrap-float-label/bootstrap-float-label";

h1 {
	margin-bottom: 2rem;
}

.alert {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.btn-toolbar {
	margin-bottom: 1rem;

	.btn-group + .btn-group {
		margin-left: 0.5rem;
	}
}

.btn {
	font-family: $font-family-sans-serif;

	&:active, &:focus {
		box-shadow: none;
		color: inherit;
	}
}

.form-control-label {
	font-weight: 500;
}

.form-control {
	font-family: $font-family-sans-serif;
}

.form-text {
	margin-left: 0.15rem;
}

.form-check-input {
	margin-top: 0.4rem;
}

.has-float-label {
	.form-control {
		&:placeholder-shown:not(:focus) + * {
			font-size: 100%;
			top: 0.6em;
		}

		&.form-control-lg {
			&:placeholder-shown:not(:focus) + * {
				font-size: 125%;
				top: 0.7em;
			}

			+ label {
				left: 1.5rem;
			}
		}
	}

	label {
		margin-bottom: 0;
	}
}
