@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';
@import 'variables', 'data-table';

h1 {
	margin-bottom: 2rem;
}

.accordion {
	.card-header {
		a {
			color: map-get($colors, 'gray');
		}

		a:hover {
			color: map-get($colors, 'gray-dark');
			text-decoration: none;
		}

		a:active,
		a:focus {
			text-decoration: none;
		}
	}
}

.alert {
	&.alert-flash {
		border-radius: 0;
		bottom: 0;
		margin: 0;
		position: fixed;
		right: 0;
		width: 100%;
		z-index: 1000;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&.dirty {
		align-items: center;
		border-radius: 0;
		display: flex;
		justify-content: flex-start;
		position: absolute;
		right: 0;
		top: -1.5rem;
		width: 100%;
		z-index: 1000;

		.alert-btn {
			margin-left: auto;
		}
	}

	.alert-btn {
		border: 1px solid;
		border-radius: $radius;
		font-size: 85%;
		margin-left: .5rem;
		padding: .25rem .5rem;

		&:hover,
		&:active {
			text-decoration: none;
		}
	}

	&.alert-warning {
		// .alert-btn {
		// 	background-color: darken(theme-color-level(map-get($theme-colors, 'warning'), -10), 15%);
		// 	border: 1px solid darken(theme-color-level(map-get($theme-colors, 'warning'), -9), 15%);
		// 	color: theme-color-level(map-get($theme-colors, 'warning'), 6);

		// 	&:hover {
		// 		background-color: darken(theme-color-level(map-get($theme-colors, 'warning'), -10), 20%);
		// 		border: 1px solid darken(theme-color-level(map-get($theme-colors, 'warning'), -9), 20%);
		// 	}
		// }
	}
}

.avatar-container {
	align-items: center;
	display: flex;

	.avatar-label {
		display: flex;
		flex-direction: column;
	}

	.avatar {
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 50%;
		display: block;
		height: 50px;
		width: 50px;

		&.xs {
			height: 24px;
			width: 24px;
		}

		&.sm {
			height: 36px;
			width: 36px;
		}

		&.md {
			height: 72px;
			width: 72px;
		}

		&.lg {
			height: 100px;
			width: 100px;
		}
	}

	.avatar-text {
		font-weight: 500;
		margin-left: 120px;
	}

	.avatar-text-xs {
		margin-left: 46px;
	}

	.avatar-text-sm {
		margin-left: 65px;
	}
}

.item-picker {
	display: inline-flex;
	position: relative;
	width: 100%;

	.selected-toggle {
		background: $white;
		border: 1px solid $input-border-color;
		border-radius: $radius;
		margin-bottom: 2px;
		padding: .5rem 1rem;
		user-select: none;
	}

	.selected-item {
		align-items: center;
		display: flex;

		svg {
			color: $gray-500;
		}

		.meta {
			color: $gray-500;
			font-weight: 700;
		}
	}

	.items-menu {
		background: $white;
		border: 1px solid $gray-200;
		border-radius: $radius;
		max-height: 20rem;
		overflow-y: scroll;
		position: absolute;
		top: 100%;
		user-select: none;
		width: 100%;
		z-index: 1000;

		.items-menu-alert {
			margin-top: .75rem;

			.alert {
				border-radius: 0;
			}
		}
	}

	.items-menu-item {
		align-items: center;
		cursor: pointer;
		display: flex;
		padding: .5rem 1rem;

		&:hover {
			background: $gray-200;
		}

		.meta {
			color: $gray-500;
			font-weight: 400;
			margin-left: .5rem;
		}
	}

	.search-group {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: .5rem 1rem;
	}

	.search-field {
		align-items: center;
		background: $gray-200;
		border-radius: $radius;
		display: flex;
		flex-grow: 1;
		padding: 0 .5rem;

		input[type="text"] {
			background: transparent;
			border: none;
			border-radius: 0;
			font-size: 85%;
			padding: .5rem .75rem;
			width: 12rem;

			&:focus {
				outline: none;
			}
		}

		svg {
			color: $gray-500;
		}
	}

	.clear-search {
		color: $gray-500;

		&:hover {
			color: map-get($theme-colors, 'danger');
		}
	}
}

.btn-toolbar {
	margin-bottom: 1rem;

	.btn-group + .btn-group {
		margin-left: .5rem;
	}
}

.btn {
	// font-family: $font-family-sans-serif;

	&:active,
	&:focus {
		box-shadow: none;
		// color: $white;
	}

	// &.btn-secondary,
	// &.btn-outline-secondary {
	// 	&:active,
	// 	&:focus {
	// 		color: inherit;
	// 	}
	// }

	// &.btn-link {
	// 	&:active,
	// 	&:focus {
	// 		color: map-get($theme-colors, 'primary');
	// 	}
	// }
}

.card {
	margin-bottom: $space;

	.card-img-top {
		display: block;
		max-width: 100%;
	}
}

a.card {
	color: rgb(41, 43, 44);

	svg.icon {
		height: 8em;
		width: 8em;

		g {
			fill: $gray-500;
		}
	}

	&:hover {
		border-color: map-get($theme-colors, 'primary');
		text-decoration: none;

		svg,
		i {
			color: map-get($theme-colors, 'primary');
		}

		svg.icon g {
			fill: map-get($theme-colors, 'primary');
		}
	}
}

.form-control-label {
	font-weight: 500;
}

// .form-control {
// 	font-family: $font-family-sans-serif;
// }

.form-text {
	margin-left: .15rem;
}

.form-check-input {
	margin-top: .4rem;
}

.custom-select {
	display: block;
	width: 100%;
}

.dropdown-item {
	.fa-fw {
		margin-right: .25rem;
		opacity: .8;
	}
}

label.custom-control {
	margin-bottom: 0;
}

.text-subtle {
	color: $gray-500;
}

.rank-container {
	position: relative;

	> .rank-base,
	> .rank-overlay {
		background-color: transparent;
		background-position: center left;
		background-repeat: no-repeat;
		height: 40px;
		width: 144px;
	}

	> .rank-base {
		position: relative;
		z-index: 100;
	}

	>.rank-overlay {
		position: absolute;
		z-index: 200;
	}
}

.rank-selector {
	border: 1px solid transparent;
	border-radius: $radius;
	color: map-get($theme-colors, 'primary');
	padding: .5rem;
	user-select: none;

	&:hover {
		background-color: transparentize(map-get($theme-colors, 'primary'), .9);
		border-color: transparentize(map-get($theme-colors, 'primary'), .7);
		color: map-get($theme-colors, 'primary');
		text-decoration: none;
	}

	&.selected {
		background-color: transparentize(map-get($theme-colors, 'primary'), .8);
		border-color: transparentize(map-get($theme-colors, 'primary'), .5);
		color: map-get($theme-colors, 'primary');
	}
}

fieldset {
	fieldset {
		legend {
			font-size: 1.15rem;
		}
	}
}

.vue-js-switch.toggle-switch {
	.v-switch-core {
		background: $gray-500 !important;
	}

	&.toggled > .v-switch-core {
		background: map-get($theme-colors, 'success') !important;
	}

	&.lg {
		--h: 2rem !important;
		--w: 3.875rem !important;
	}
}

.jconfirm .jconfirm-box.loading:before {
	background: map-get($colors, 'gray') !important;
}

.crop-container {
	.cr-boundary {
		border-radius: $radius-lg + .1;
	}

	.cr-viewport {
		border-radius: $radius-lg;
	}
}

.hidden {
	display: none;
}

[v-cloak] {
	display: none !important;
}

.animated {
	&.animated-2x {
		-webkit-animation-duration: .5s;
		-webkit-animation-fill-mode: both;
		animation-duration: .5s;
		animation-fill-mode: both;
	}

	&.animated-3x {
		-webkit-animation-duration: .3s;
		-webkit-animation-fill-mode: both;
		animation-duration: .3s;
		animation-fill-mode: both;
	}

	&.animated-4x {
		-webkit-animation-duration: .25s;
		-webkit-animation-fill-mode: both;
		animation-duration: .25s;
		animation-fill-mode: both;
	}
}
