// Variables
@import 'variables';

$size-xs: 0;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;

// xs
@media (max-width: ($size-sm - 1)) {}

// sm
@media (min-width: $size-sm) and (max-width: ($size-md - 1)) {}

// md
@media (min-width: $size-md) and (max-width: ($size-lg - 1)) {
main {
	.content {
		.btn {
			width: auto;
		}
	}
	
	.controls {
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;

		.btn {
			margin-bottom: 0;
			width: auto;
		}
	}
}
.wizard {
	flex-direction: row;
}
}

// lg+
@media (min-width: $size-lg) {
header {
	.header {
		.masthead {
			flex-direction: row;

			.process {
				margin-top: 0;
				padding-left: .35rem;
			}
		}
	}
}
main {
	.content {
		.btn {
			width: auto;
		}
	}

	.controls {
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;

		.btn {
			margin-bottom: 0;
			width: auto;
		}
	}
}

.wizard {
	flex-direction: row;
}
}

// lg
@media (min-width: $size-lg) and (max-width: ($size-xl - 1)) {}

// xl
@media (min-width: $size-xl) {}
